[2019-06-10 22:54] TobyRoseman commented on #372
@pokidyshev - What version of Python are you using? Also are you using the `3.0b1` version of coremltools?

[2019-06-11 09:46] pokidyshev commented on #372
@TobyRoseman
I’m using python 3.6 and coremltools 3.0b1

[2019-06-11 16:23] mininny opened #374 "coremltools converter not supporting sparse matrix"
On coremltools@b3.0, converting Scikit-KNN model into MLModel doesn't work as expected. The converter doesn't supports sparse matrix, but is able to convert a dense matrix.

KNN models are formatted with sparse matrix, and the converter doesn't accept the values.
The following error describes the converter not converting knnmodels in sparse matrix.
`  File "/Library/Frameworks/Python.framework/Ver

[2019-06-11 19:19] TobyRoseman commented on #372
I'm seeing a similar issue. I'm on macOS 10.14.6.

I downloaded the MNIST classifier from the [Core ML Model page](https://developer.apple.com/machine-learning/models/). The following code works fine with coremltools version 2.1.0, for all version of Python support by 2.1.0 (i.e. 2.7, 3.5, 3.6):
[code]

Using the same code with coremltools version 3.0b1, it only works for Python 2.7.

---

For Pyt

[2019-06-11 20:17] pokidyshev commented on #372
On my setup it also happens on `2.1.0` because of slice operation (`x[:,:,:2]`), when I change indexing with `torch.split` the error disappears.

[2019-06-13 01:09] staubda commented on #372
Also getting the
`'Unable to load CoreML.framework. Cannot make predictions.'`
error running python 3.6 and coremltools 3.01b.

Getting further using Python 2.7, although hitting a different error (maybe my fault):
`The model expects input feature Preprocessor__sub__0 to be an image, but the input is of type 5.`

[2019-06-16 05:57] alwc commented on #371
@aseemw A follow up question: for Core ML spec v3, what's the easiest way to stack the 10 `UIImages` into `(1,10,3,100,100)`? Should I stack them as `MLMultiArray`?

[2019-06-18 08:29] alwc commented on #371
By the way, for Core ML spec v3, if I have expect the input to be `(1, 10, 3, 100, 100)`, I'll get

[code]

[2019-06-18 15:20] aseemw commented on #371
This could be a bug....can you please provide a full script to reproduce the error message?
Maybe file a bug, if attaching the model is easier for you that way.

[2019-06-19 11:14] Mahanotrahul commented on #317
@jsigee87 I built the package from source and implemented the fix in #295. But I am still facing the same problem.
[code]

[2019-06-19 13:16] jsigee87 commented on #317
Sorry to hear that! This issue has been open for quite some time, I hope they can get it patched soon.

[2019-06-19 20:33] Necross commented on #317
Hey @Mahanotrahul and @jsigee87 are you using python installed from anaconda or pyenv?

[2019-06-19 20:39] jsigee87 commented on #317
This was quite some time ago, but I always use virtualenv so I assume it was that.

[2019-06-19 20:40] Necross commented on #317
@jsigee87 Did you download the python from python.org and then setup a virtualenv?

[2019-06-19 20:56] jsigee87 commented on #317
Yes, but your question is a little confusing because I am not sure there is another way?

[2019-06-19 21:52] Necross commented on #317
Anaconda does ship with it's own version of Python and we have seen issues in the past where it does not work. Python from python.org is expected to work, we will take a look.

[2019-06-19 22:16] jsigee87 commented on #317
I do not use Anaconda at all. Thanks!

[2019-06-20 11:12] Mahanotrahul commented on #317
@Necross I am using Python3.7 from Python.org (not from anaconda). I am trying prediction on the model outside virtualenv and get this `Unable to load CoreML.framework. Cannot make predictions.` error.
**Coremltools** 3.0b1
**Python** 3.7.3
**MacOS** 10.14.4

[2019-06-20 18:50] julien-c commented on #317
Same issue for me. I'm inside a native `venv`. Other than that, exact same config as @Mahanotrahul

[2019-06-23 13:11] glenn-jocher commented on #359
Thanks @msiracusa, I will take a look.

[2019-06-23 13:15] glenn-jocher opened #388 "How to label CoreML model inputs as 'Optional'"
Some models in Apple's [model zoo](https://developer.apple.com/machine-learning/models/) have inputs labeled as 'Optional'. Can you provide a programmatic example of how to do this in python with coremltools? Thank you!

<img width="995" alt="Screenshot 2019-06-23 at 15 14 21" src="https://user-images.githubusercontent.com/26833433/59976807-a8889800-95c9-11e9-9d6e-e4d497fd5a20.png">

[2019-06-24 01:48] not-Ian commented on #268
Any other updates/solutions to this problem?

[2019-06-24 02:47] not-Ian commented on #268
To contribute: I'm trying to convert a DeepLabv3+ model that was built on tensorflow 2.0.0-beta1. I've had a lot of issues with CoreML-beta3 and CoreML 2.1.0, providing objects when loading the model, and converting the model. This is my conversion code after loading:

[code]

And this is my traceback:

[code]

I tried importing 'Model' from both 'keras' and from 'tensorflow.python.keras.engine.tr

[2019-06-24 07:08] Mahanotrahul opened #389 "Product of input blob dimensions C,H,W (96,3448,1) must be equal to the parameter 'inputChannels' (96)"
I have converted a tensorflow frozen model using tfcoreml converter to mlmodel format. However, while loading the model for prediction
``model = MLModel('file.mlmodel')``
the error shown is this -
[code]
I am using **Python2.7** (outside `venv`)
**coremltools** 3.0b1
**MacOS** 10.14.4

I am unable to understand the problem here.
In python3.7, the model loads successfully without any error. However

[2019-06-24 15:49] aseemw commented on #388
Here is the optional property in the proto spec, which needs to be set to True: https://github.com/apple/coremltools/blob/master/mlmodel/format/FeatureTypes.proto#L215

Following from code snippets in [here](https://github.com/apple/coremltools/blob/master/docs/APIExamples.md), I would do something like this:

[code]

[2019-06-24 15:56] aseemw commented on #268
At the moment coremltools does not support `tf.keras`, it only supports the keras not bundled in TF, so if it would be great if you could define the model directly using
[code]

Another option, if you already have a trained model, is to save it out as a TF model in the frozen .pb format, and then use the tfcoreml converter instead.

[2019-06-24 17:08] glenn-jocher commented on #388
@aseemw thanks for the code! I tried this, but it seems that something is incorrect. I want to label the second and third inputs as optional. When I look at input 1 for example I see:
[code]

If I use your code like this, then the output looks good in the Python workspace, but Xcode does not seem to recognize the new attribute. Instead it shows up with a question mark: Double?
[code]
<img width="3

[2019-06-24 17:51] aseemw commented on #388
Ah..I realize what's going on. The question mark does mean its an ``optional`` input, which means that at predict time you do not need to provide it to the model.
In that case the model will just set it to all zeros value, if the model type is neural network, or use any other default value specific to the model type. So optional input is essentially a convenience.

What you originally marked in yo

[2019-06-28 01:32] ywang370 opened #391 "Flexible Input only supports image type?"
Hi,

I have a input with multi array it is a image with concat a mask.  for example [4,224,224].
Since the network is fully convolutional.  I am trying to add input size range here is my code:

[code]

I got the following error:
    flexible_shape_utils.update_image_size_range(spec, feature_name='data', size_range=img_size_ranges)
  File "/anaconda2/envs/pytorch/lib/python3.6/site-packages/coremlt

[2019-07-01 15:45] Oktai15 commented on #323
Any update about tf 2.0?

[2019-07-02 21:15] aseemw commented on #391
It seems your input is not of type "Image". Please make sure that it of type image before applying ``update_image_size_range``
In case the input type in multiple array then use ``update_multiarray_shape_range``

[2019-07-02 21:18] aseemw commented on #389
Seems like the model is invalid. Can you share the model? You can also file a bug report and attach the model to it.

[2019-07-02 21:20] slin07 commented on #389
In the tfcoreml conversion did you add `use_coreml_3=True`?
[code]

[2019-07-02 21:21] Necross commented on #372
Are you hitting the same issue with coremltools3.0b2?

[2019-07-02 21:23] aseemw commented on #364
Closing this issue for now. Please re-open if there is another issue or the original issue has not been resolved.

[2019-07-02 21:23] #364 closed

[2019-07-02 21:23] aseemw commented on #388
Closing this issue. Please re-open if there are more questions.

[2019-07-02 21:23] #388 closed

[2019-07-02 21:26] siddhikanevrekar commented on #361
Could you please share the model and repro steps? Also ,  please file  a bug.

[2019-07-02 21:26] Necross commented on #360
Hello, how large are these models. Are both models approximately the same size? Speed difference could be due to a difference in network / network architecture size.

[2019-07-02 21:26] #359 closed

[2019-07-02 21:28] aseemw commented on #358
This issue is fixed, should be available after seed 5 in CoreML framework.
As a workaround you can add "global_pooling:1"  to the caffe prototxt, which should work with iOS 12, macOS 14.

[2019-07-02 21:28] #358 closed

[2019-07-02 21:28] slin07 commented on #356
Thanks for reporting the issue. We'll add a clearer error message as soon as possible. If you found any other issue, feel free to reopen it.

[2019-07-02 21:28] #356 closed

[2019-07-02 21:29] siddhikanevrekar commented on #357
Can you please attach the ml.model file and also let us know which Xcode version you  are using for this?

[2019-07-02 21:31] Necross commented on #354
Can you try the XGBoost converter with Python 2. We are tracking an issue with the XGBoost converter in Python 3

[2019-07-02 21:33] Necross commented on #351
Closing this out for now as this seems to be specific to your model.

[2019-07-02 21:33] #351 closed

[2019-07-02 21:33] aseemw commented on #350
maybe this will help : https://github.com/apple/coremltools/blob/master/docs/APIExamples.md#changing-mlmultiarray-inputoutput-datatypes

[2019-07-02 21:33] #350 closed

[2019-07-02 21:34] aseemw commented on #348
Can you share the keras model so that we can reproduce the error.

[2019-07-02 21:37] 1duo commented on #347
Could you provide the model for reproducing the issue? Thanks!

[2019-07-02 21:37] slin07 commented on #341
This is a feature request to convert CoreML compiled format into 3rd party representation.

[2019-07-02 21:41] Necross commented on #341
model.espresso.net is part of the internal compiled representation of a .mlmodel format. This format is not publicly supported.

[2019-07-02 21:41] #341 closed

[2019-07-02 21:41] aseemw commented on #336
The converter only supports the official Caffe BVLC layers.
Caffe v2 is supported via ONNX

[2019-07-02 21:41] #336 closed

[2019-07-02 21:42] aseemw commented on #335
Yeah, the relative error is quite small and minor variations are expected.

[2019-07-02 21:42] #335 closed

[2019-07-02 21:43] aseemw commented on #334
duplicate of #336

[2019-07-02 21:43] #334 closed

[2019-07-02 21:45] aseemw commented on #328
With CoreML's new spec (version 4) there any axis is supported for concatenation

[2019-07-02 21:45] #328 closed

[2019-07-02 21:45] Necross commented on #330
There was a performance issue which affected memory usage for quantised models. This was fixed in CoreML 3. Could you please try re-running your network with the latest CoreML 3 beta?

[2019-07-02 21:48] siddhikanevrekar commented on #325
Can you please check with the new MacOS 10.15? This should now be fixed.

[2019-07-02 21:48] #325 closed

[2019-07-02 21:49] Necross commented on #324
Can you try with the latest CoreML 3 seed. This should now be fixed

[2019-07-02 21:49] #324 closed

[2019-07-02 21:52] Necross commented on #320
Support for this layer was added in CoreML 3. The Keras converter in coremltools needs to be updated

[2019-07-02 21:53] slin07 commented on #320
We've added `randomNormalLike` `randomNormalStatic` and `randomNormalDynamic` in CoreML 3, we'll add Keras conversion soon.

[2019-07-02 21:56] siddhikanevrekar commented on #319
"For example, an image is sent to an mlmodel, and the processed result is given to the second mlmodel " - For this you can use pipeline models.  https://apple.github.io/coremltools/generated/coremltools.models.pipeline.html

"Take an image, write two threads, and pass the image to the mlmodels" - could you  please clarify  the use case to help us understand what  you are trying to achieve.

[2019-07-02 21:56] Necross commented on #317
@Mahanotrahul this should be fixed in coremltools3.0b2. Are you hitting this issue with the latest beta?

[2019-07-02 21:59] #315 closed

[2019-07-02 22:42] y-ich commented on #360
Hi.

The volumes of weight parameters are almost same but the numbers of operations are different.

The Residual Network consists of,
reshape : 2
innerProduct : 3
add : 20
convolution : 43
batchnorm : 43
activation : 45

And the Squeeze-and-Excitation Network consists of
reshape : 2
pooling : 19
split : 19
multiply : 19
loadConstant : 38
batchnorm : 40
convolution : 41
innerProduct : 41
add : 77
a

[2019-07-02 23:49] TobyRoseman commented on #372
@Necross - this is still broken with the 3.0b2 wheel. The [code I shared previously in this issues](https://github.com/apple/coremltools/issues/372#issuecomment-500985057) fails if you're using Anaconda Python. It does however work if you are using Python downloaded from python.org.

[2019-07-03 01:01] aseemw commented on #360
Generally convolution and inner product (dense) are the most time consuming ops.
Squeeze and excitation network has 41 dense layers compared to only 3 for residual.  So one would expect it to take longer time (obviously it also depends on the size of dense and convolution layers)

[2019-07-03 03:28] y-ich commented on #360
Thank you!

I will check the speeds of dense layer on different hardwares.

[2019-07-04 07:20] lgyStoic commented on #276
@h-shib do you fix that problem yet?

[2019-07-04 09:19] frankschlegel opened #392 "ActivationThresholdedReLU uses wrong default alpha"
When adding a `THRESHOLDEDRELU` activation layer using the neural network builder's `add_activation` method and passing an `alpha` value of `0.0`, the alpha value does _not_ get written to the spec, probably because `0.0` is treated as the default value internally.
However, it appears the actual default value assumed by the runtime is `1.0`.

The coremlc compiler in Xcode 10 translates the missing

[2019-07-04 19:15] aseemw commented on #392
Thank you for reporting the error.
This is indeed a bug in the compiler stage of Core ML. We are tracking it now and will be fixed in an upcoming seed.
Thanks!

[2019-07-04 19:50] aelvyr commented on #354
I figured out that it works with smaller models, and this error only occurs
for large models fitted to a small amount of labels

On Tue, Jul 2, 2019 at 11:31 PM Sohaib Qureshi <notifications@github.com>
wrote:

[2019-07-05 01:22] y-ich commented on #360
Hi.

I checked each by Time Profile and I found that the SEnet uses CPUFP16Engine while the ResNet uses MLNeuralNetworkEngine.
I think the the SENet can be accelerated by Neural Engine since it has many convolutions.
Could you tell me why the SENet uses CPUFP16Engine (I don't use usesCPUOnly) and how I can enable Neural Engine for the SENet?

Thanks.

[2019-07-05 09:08] h-shib commented on #276
@lgyStoic well, actually not yet.
I've decided to use Metal Performance Shader directly for my model after all.
Metal has `MPSCNNSubPixelConvolutionDescriptor` for pixel shuffle (or subpixel upsampling) layer. So I used it.

I think CoreML doesn't have implemented Pixel shuffle layer yet, so you still need to implement it in custom layer.

[2019-07-06 00:03] bhushan23 commented on #372
Problem is missing libcoremlpython.so from

In my case PYTHON SITE PACKAGE PATH = /Users/bhushansonawane/miniconda3/envs/py36/lib/python3.6/site-packages/coremltools-3.0b2-py3.6.egg/coremltools

Following worked for me-
[code]

build from source as follow

[code]

python setup.py install copies coremltools directly to the package directory and hence misses libcoremlpython library
Not using DPYTHON

[2019-07-08 15:42] zhaoymn opened #393 "how to use wavenet with coreml in iOS app?"
Hello!

I have got a Keras code to convert to coreml model and run on iOS. The code to define the model and convert to coreml is as follows:

[code]
I could successfully convert the code to a coreml model. But when I tried to use the model in iOS app, I got the following error:

[code]

Could anyone help me to fix this problem?

Many thanks!

[2019-07-08 20:15] TobyRoseman commented on #372
@bhushan23 - that works for me too. Thank you so much for your help!

I was trying something very similar but was missing the  `-DPYTHON_LIBRARY=` parameter. I've created a pull request (#394) to add that to the instructions.

[2019-07-09 11:58] mrgloom commented on #325
My MacOS 10.14.5 and I up to date.

This should be fixed in fresh master or older code also should work?

[2019-07-09 13:38] mrgloom opened #395 "Is it possible to use single model with variable batch size?"
Is it possible to use single model with variable batch size?

[2019-07-10 10:00] rizags opened #397 "Issue Converting Models with Layers of Type Tensorflow.Python.Keras"
Hello,
I would like to use the Keras converter to convert my model, however I am continually getting the  error:
`ValueError: Keras layer '<class 'tensorflow.python.keras.layers ... not supported.`
I need to use Tensorflow 2.0 for this project, and therefore I cannot just switch to using `import keras` instead of `tensorflow.keras`. Are there any plans to provide support for such layers in model c

[2019-07-12 23:10] bhushan23 opened #399 "Testing integration"
Testing dummy integration

[2019-07-12 23:11] bhushan23 commented on #399
Closing. Integration works!

[2019-07-15 18:42] #399 closed

[2019-07-16 17:27] adilnaut opened #400 "Unable to call predict"
Mac OS 10.14.5
Python 3.5.0
coremltools 3.0b2
tensorflow 1.14.0
[code]
Mac OS 10.14.5
Python 3.7.3
coremltools 3.0b2
tensorflow 1.14.0
[code]
Debugging shows that segmentation fault was caused by calling this import
[code]

[2019-07-16 17:49] bhushan23 commented on #400
This is issue of missing library from package.
@adilnaut could you please try with coremltools beta 3?
```pip install coremltools==3.0b3```

[2019-07-16 19:01] TobyRoseman commented on #400
This is likely a dup of #372

[2019-07-17 06:22] Ruman1234 opened #401 "problem in decoding this model in IOS"
<img width="676" alt="Screen Shot 2019-07-16 at 3 21 28 PM" src="https://user-images.githubusercontent.com/37799754/61351810-2cf6cf80-a885-11e9-8121-ef75d06b5d3a.png">
#swift #CoreM

[2019-07-17 08:49] hollance commented on #401
Are you sure the download isn't corrupted? This model is supposed to be 17.7 MB, not 9.4 MB.

[2019-07-17 11:08] adilnaut commented on #400
@bhushan23  I tried with coremltools beta 3, and it's clear what is the issue now:
It  seems like I should wait for Xcode  11.  My model was converted using the second beta. Is there any way around?
[code]

[2019-07-17 16:07] bhushan23 commented on #400
@adilnaut right. It should work with Xcode 11
Please do update

[2019-07-18 09:00] ghostsun89 opened #403 "Caffe models convert fail with coremltools 3.0b3 on"

[2019-07-18 09:01] ghostsun89 opened #404 "Caffe models convert fail with coremltools 3.0b3 on Mac OS X 10.15"
I tried to convert a caffe model resnet18 with coremltools 3.0b3 on Mac OS X 10.15, then got the following errors:
[code]
All works fine with coremltools 2.0 version.
The backtrace snapshot as follows:
[code]

[2019-07-18 09:03] #403 closed

[2019-07-18 14:05] Ruman1234 commented on #401
it will download completely then i add it

[2019-07-19 03:39] learnerwang opened #405 "how to write mlmodel file in my own converter tool"
Dear developers:
   I want to generate a mlmodel file using my own program(don't use the standard convert tool ), so how to make it? How to read and parse the mlmodel file using C++?

[2019-07-19 21:08] julien-c commented on #400
@bhushan23 We have Xcode 11 Beta (and even uninstalled XCode 10) but still hit this issue.

Is there a known workaround?

cc @lysandreJik

[2019-07-19 23:10] aseemw commented on #400
You would also need Mac OS 10.15 as that is what contains the newer CoreML framework which is required to execute CoreML spec version 4 (coremltools uses the underlying CoreML framework to run models)

[2019-07-20 21:35] mcsieber opened #406 "Coremltools 3.03b NeuralNetworkShaper Resnet50 crashes Python"
Here is the markdown of the Jupyter Notebook to reproduce the problem:

## Coremltools 3.03b  NeuralNetworkShaper Resnet50 crashes Python
#### Python 3.6.7 on MacOS 10.14.5
- Resnet50 model downloaded from https://github.com/likedan/Awesome-CoreML-Models
- Download link is https://github.com/ytakzk/CoreML-samples/blob/master/CoreML-samples/Resnet50.mlmodel
[code]
#### Create Model from Resnet50 mo

[2019-07-22 02:51] ghostsun89 commented on #406
I got the same error on MacOS 10.15 with Python 2.7.14 and coremltools 3.03b.

[2019-07-22 07:31] GZaccaroni opened #407 "Tensorflow converter (n.dataType is not none)"
I experience the following error with all the networks I previously converted without problems with tfcoreml. I would like to try on-device training so I need the new converter.
[code]

[2019-07-22 22:55] julien-c commented on #405
do you know about protobufs? You can generate protobuf bindings in C++ from the `*.proto` files that live in this repo.

[2019-07-23 00:13] #400 closed

[2019-07-23 00:15] TobyRoseman opened #408 "macOS 10.13 wheels are built for 10.15"
On macOS 10.13 with `coremltools==3.0b3` when trying to make predictions I get the following error:
[code]
Note the ` (which was built for Mac OS X 10.15)`.

This is happening for all supported versions of Python (i.e. 2.7, 3.5, 3.6, 3.7).

[2019-07-23 00:23] julien-c commented on #400
Indeed, thanks @aseemw

[2019-07-23 02:04] learnerwang commented on #405
Thanks, I have read the network information based the proto files using flatc.

[2019-07-23 06:59] adilnaut opened #409 "Conversion for op All not implemented"
There is a function - reduce all in tensorflow, which performs "Logical AND" of all elements across some dimension. Is there any way to get it working with CoreML3 other than waiting for custom layers support?

[2019-07-23 20:06] DawerG commented on #409
Yes, you can use reduceProd layer. In CoreML, absolute of any value > 1e-6 is considered True, which makes it functionally similar to reduce_all.

https://github.com/apple/coremltools/blob/9f6cb1ead26b9b7dd021e3a501eba82c23fe5596/mlmodel/format/NeuralNetwork.proto#L4722

[2019-07-23 20:20] DawerG commented on #407
Type inference seems to be failing  for some operations. Can you please share your networks so that we can reproduce it on our side?

Nonetheless, on-device training functionality is independent of which Tensorflow converter you use.

Once you have a converted .mlmodel, you can turn into an updatable model by following similar instructions as given in an example,  https://github.com/apple/coremlto

[2019-07-23 20:41] DawerG commented on #395
Yes. And, you would need the flexible shape utils to mark the batch dimension flexible by providing lower/upper bound on the size of that dimension.

https://github.com/apple/coremltools/blob/master/coremltools/models/neural_network/flexible_shape_utils.py

[2019-07-24 03:12] ywang370 opened #410 "Caffe to coreml coremltool3.0b"
================= Starting Conversion from Caffe to CoreML ======================
Layer 0: Type: 'Python', Name: 'data'. Output(s): 'data', 'mask', 'label'.
WARNING: Skipping training related layer 'data' of type 'Python'.
Layer 1: Type: 'Concat', Name: 'concat'. Input(s): 'data', 'mask'. Output(s): 'data_all'.
Layer 2: Type: 'Convolution', Name: 'conv0'. Input(s): 'data_all'. Output(s): 'conv0'.

[2019-07-24 03:29] aseemw commented on #410
Is the error specific to coremltools 3.0b3? Does it also happen with coremltools 2.1?

[2019-07-26 06:34] b-onc opened #411 ""Type 20 cannot be mapped" and RecursionError"
Hello!

using
coremltools 3.0b3

When I try to convert my model (.pb) with
[code]
[code]
Our graph has cycles that we know of, so shouldn't it raise ValueError: Graph has cycles?

Regards

[2019-07-26 06:39] DawerG commented on #411
Can you please share your TensorFlow model in order to reproduce the error?

[2019-07-26 06:57] 1duo commented on #411
@b-onc How large is your model (how many layers)?

[2019-07-26 07:22] b-onc commented on #411
@DawerG We're working towards providing our model, will comment as soon as it's ready
@1duo It's MaskRCNN

[2019-07-26 08:30] b-onc commented on #411
We've found that increasing the recursion limit to 4000 in `delete_asserts.py` solves this error. Thanks for the support!

[2019-07-26 08:30] #411 closed

[2019-07-29 13:28] #409 closed

[2019-07-29 13:38] adilnaut opened #412 "Error computing NN outputs"
Setup:
coremltools3.0b3, python 3.7.3 , MacOS 10.15, with Xcode12 beta installed, convertion of Tacotron model.

I converted the text-to-speech model which using the last coremltools beta, but when I try to call predict on that model, the following error is thrown:
[code]
Any hints on how to debug the error?
Also, I can't call visualize_spec function because infer_shapes for (gather, loadConstantN

[2019-07-29 17:11] aseemw commented on #412
We would need to look at the model to find the cause of the error. Can you either attach the model, script for conversion or file a bug? Thank you.

[2019-07-30 13:21] adilnaut commented on #412
Here is the converted model:
https://drive.google.com/drive/folders/1FN6MvFTHpwE3Do9Za7DYbwL5u3sjdxur?usp=sharing
Original tensorflow model:
https://github.com/keithito/tacotron

[2019-07-30 15:52] RobinBaumann opened #413 "TypeError on GlobalMaxPooling1D Keras Layer: None has type NoneType, but expected one of: int, long"
Hi folks,

i try to convert a Keras implementation of PointNet to a Core ML model, but I somehow keep failing with a TypeError when the converter tries to convert a GlobalMaxPooling1D Layer. This is the Error-Message:

[code]

My Model Spec is as follows (until the MaxPooling Layer which causes the Error):

[code]

Is this Error due to the dynamic-sized tensors?
My code for the conversion looks li

[2019-07-30 22:59] 1duo commented on #412
Could you also share your convert script? We'll look into it. Thanks!

[2019-08-01 06:40] MarsVard opened #414 "model used in DeepLabV3.mlmodel on the developers page?"
Which frozen model is used to convert to the DeepLabV3.mlmodel on the developers page?
I'm looking to implement the same model on all platforms, but I can't seem to get the same result using DeepLabV3.mlmodel and other models I convert myself from the frozen graphs.

Which frozen graph is used to convert to DeepLabV3.mlmodel that's available here: https://docs-assets.developer.apple.com/coreml/mod

[2019-08-04 14:26] hollance opened #415 "k-NN models broken in Xcode 11 beta 5"
As of Xcode 11 beta 5, k-NN models created with coremltools 3.0b3 report the following error:

    detail: validator error: Default Value (0) for 'numberOfNeighbors' expected to be a positive value.

For example, try running the example from https://github.com/apple/coremltools/blob/master/examples/updatable_models/updatable_nearest_neighbor_classifier.ipynb and then open the mlmodel in Xcode 11 b

[2019-08-05 21:47] califrench commented on #414
Hi MarsVard,

The model used as a source of the Core ML model on the model page is the “mobilenetv2_coco_voc_trainval” variant of MobileNetV2 DeepLab found if you follow the “Checkpoints and frozen inference graphs” link on the page linked in the .mlmodel file.
You can find it here: https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/model_zoo.md

[2019-08-06 08:21] hollance commented on #415
I haven't tried it yet, but this looks like it should be fixed in coremltools 3.0b4. Thanks!

[2019-08-06 08:21] #415 closed

[2019-08-06 12:40] fink-stanislav opened #417 "Conversion .mlmodel into other formats"
Is there any way to convert .mlmodel into any other format that supports inference on Windows or Linux?

[2019-08-06 17:56] TobyRoseman commented on #408
This continues to be an issue with `coremltools==3.0b4`.

[2019-08-07 00:02] TobyRoseman commented on #372
This has been fixed in the most recent release. Please install the fourth beta (`pip install coremltools==3.0b4`).

[2019-08-07 17:35] motasay commented on #372
I have `3.0b4` and am facing the same issue when trying to predict with the model. Python 3.6.9.

                                                      output_feature_names=output_names)

    exception loading model proxy: dlopen(/Users/motasim/.pyenv/versions/3.6.9/envs/BalootAI-py369/lib/python3.6/site-packages/coremltools/libcoremlpython.so, 2): Symbol not found: _objc_opt_class
      Reference

[2019-08-07 18:11] TobyRoseman commented on #372
@motasay - I just tried with Python 3.6 and `3.0b4`. You're right it's not working. I'm reopening this issue.

Looks like we've had a regression. This issue is fixed in `3.0b3`.

[2019-08-09 12:18] motasay opened #419 "Validation Error: Layer 'dense_1' consumes an input named 'dense_1_input_output' which is not present in this network."
I'm trying to load the already-saved Keras model in Xcode, but I get this message in Xcode:
[code]
Here is the complete code that creates and saves the model:

[code]
[code]
The `convert` function outputs the following which might be related:
[code]
[code]

Any tips on what the issue is and how to solve it?

[2019-08-10 01:12] 1duo commented on #419
Hi @motasay, thanks for reporting this issue. We might need the original model in order to debug tis issue. Could you provide the model and scripts? Thanks!

[2019-08-10 13:57] vade opened #421 "CoreML Tools 2.0 - memory leak in model predict with Mac OS X 10.14.6"
Hello.

Im using CoreML Tool 2.0 to run some predictions from a set of models on folders of images using Python via this script:

https://github.com/Synopsis/CinemaNet/blob/master/auto_labeler.py

My script:
* loads a folder of models
* iterates a folder of images
* resizes images via PIL (ensuring I close the image correctly to avoid memory leaks)
* run predict on each image for each model

Main

[2019-08-10 14:00] vade commented on #421
Ive run 7238 images through 27 models for a total of about 200k predictions and memory usage is now 39 GB.

[2019-08-10 14:14] vade commented on #421
Manually running the GC for every image results in no change.

Nor does importing PyObjC and trying to manually evoke an auto release pool every iteration of the loop (an old Obj-C / Swift trick to manage memory).

[code]

Continuing to accrue about 100 MB / second :(

[2019-08-10 15:17] motasay commented on #419
Thanks @1duo for taking a look! So you can't reproduce with the code above? You can download the model from [here](https://github.com/apple/coremltools/files/3489016/TestModel.mlmodel.zip).

[2019-08-12 23:21] GZaccaroni commented on #407
I have attached the protobuffer, the converter code is:
`mlmodel = coremltools.converters.tensorflow.convert(
                                        input_filename)`

[optimized_pydnet++.pb.zip](https://github.com/apple/coremltools/files/3494685/optimized_pydnet%2B%2B.pb.zip)

[2019-08-13 13:30] jaskirat-hike opened #422 "Unable to perform matrix multiplication"
I'm trying to implement a matrix multiplication operation in my network using NetworkBuilder.
I wish to multiply two tensors of size (20x50) and (50x100) to get a tensor of size (20x100).

How can I do that? I've tried to use add_batched_mat_mul but I'm getting the below error on coremltools==3.0b3 and coremltools==3.0b4

Using:
tensorflow==1.13.1
python 2.7

How can I perform a matmul operation w

[2019-08-13 19:06] puria-izady opened #423 "Custom Layer Runtime error: [Espresso::handle_ex_plan] exception=Failed in 2nd reshape after missing custom layer info."
Hi,

I have trained a CNN inside Keras and the conversion to CoreML works fine but my problem is that I get this error at runtime:

`testProject[8269:411296] [espresso] [Espresso::handle_ex_plan] exception=Failed in 2nd reshape after missing custom layer info.`

I am using a custom layer inside Keras to slice tensors.
Actually, when I remove the custom Slice layer and train the network without sli

[2019-08-14 17:28] gaseosaluz commented on #317
I am running into this issue. My env is a conda environment:

and

The following line triggers the error

`ImportError                               Traceback (most recent call last)`
`<ipython-input-32-415dd98ce540> in <module>()`
`----> 1 from coremltools.libcoremlpython import _MLModelProxy`

`ImportError: dlopen(/Users/edm/miniconda3/envs/tf2cml3/lib/python3.6/site-packages/coremltools/libcore

[2019-08-14 21:08] vade commented on #417
yes use ONNX tools and you can use ONNX as an interchange format for many other ML backends.

https://github.com/onnx/onnxmltools

[2019-08-14 21:10] Necross commented on #317
This issue will be addressed soon in an upcoming beta release of coremltools3.

[2019-08-20 11:26] edis219 opened #424 "AttributeError: 'float' object has no attribute 'flatten'"
/anaconda3/envs/inpaint-coreml/lib/python3.6/site-packages/coremltools/models/neural_network/builder.py in add_load_constant_nd(self, name, output_name, constant_value, shape)
   5311
   5312         data = spec_layer_params.data
-> 5313         data.floatValue.extend(map(float, constant_value.flatten()))
   5314         spec_layer_params.shape.extend(shape)
   5315

AttributeError: 'float' object

[2019-08-20 12:13] 1duo commented on #419
Hi @motasay , looks like what's missing is just the correct `input_names`. You can use this code to convert your model:

[code]

Lemme know if it works for you. Thanks!

[2019-08-20 12:49] motasay commented on #419
That's interesting thanks for debugging this @1duo - it works! So there's no way to provide our own feature names like with other models? I know with LogisticRegression in sklearn I didn't have such an issue. I'll leave closing the issue up to you then. 👍

[2019-08-22 08:45] Neil297 commented on #184
I am facing the same issue with my RNN keras model. The outputs of the model and CoreML implementation of the same model vary.
Can anyone suggest anything? Thanks in advance.

[2019-08-22 14:49] anujdutt9 opened #427 "Split a pre-trained CoreML model into two CoreML Models ?"
I have a Sound Classification model from turicreate example here: https://apple.github.io/turicreate/docs/userguide/sound_classifier/

I am trying to split this model into two and save the two parts as separate CoreML Models using coremltools library. Can anyone please guide me on how to do this?

I am able to load the model and even print out the spec of the model. But don't know where to go from

[2019-08-22 17:37] chipfranzen commented on #323
+1 for this feature request. I want to run my model on both iOS and Android. Currently, I have to maintain models in stand-alone `keras` for `coremltools`, and `tf.keras` for `tflite`. Tensorflow 2.0 is coming out of beta sooner or later. It would be great to get support for TF 2.0 in `coremltools`.

[2019-08-22 20:43] aseemw commented on #427
Once the spec is loaded it corresponds to the protobuf message `message Model` (https://github.com/apple/coremltools/blob/6af076f9f169a2903741b551c4d467ae32826bd6/mlmodel/format/Model.proto#L213)

Since its a protobuf object it can be edited in Python using standard python protobuf APIs, as long as the structure of the proto is followed, which is provided in [here](https://github.com/apple/coremlt

[2019-08-22 20:46] anujdutt9 commented on #427
Awesome. Thanks a lot for this @aseemw : )

[2019-08-22 20:46] #427 closed

[2019-08-23 00:08] 1duo commented on #422
Hi @jaskirat-hike could you try with the latest `coremltools==3.0b5` and with the following flag?

[code]

Thanks!

[2019-08-23 05:53] josephsieh commented on #372
python 3.7.4 with coremltools 3.0b5 has the same issue `exception loading model proxy: dlopen(aanaconda3/envs/coreml/lib/python3.7/site-packages/coremltools/libcoremlpython.so, 2): Library not loaded: /Library/Frameworks/Python.framework/Versions/3.7/Python
  Referenced from: /aanaconda3/envs/coreml/lib/python3.7/site-packages/coremltools/libcoremlpython.so`

[2019-08-23 18:18] Necross commented on #372
@josephsieh which operating system are you using?

[2019-08-23 18:54] josephsieh commented on #372
@Necross macOS Mojave 10.14.6

[2019-08-26 09:42] BhavinSuthar opened #428 "How to update model on device ?"
**iOS app** I am not able to train model with new inputs , I am using MNIST model
`MLUpdateTask.init(forModelAt: <#T##URL#>, trainingData: <#T##MLBatchProvider#>, configuration: <#T##MLModelConfiguration?#>, progressHandlers: <#T##MLUpdateProgressHandlers#>)`

Can some one guide me with` MLBatchProviders` how to create it with new inputs

[2019-08-26 09:56] Andrei-Popilian commented on #428
Hi @BhavinSuthar
1. Is the model you are trying to update, "updatable"?
Or after training the model did you set the "respect_trainable"?
Or did you later update the model layers to be updatable?

[2019-08-26 09:58] BhavinSuthar commented on #428
it is updatable I can see updatable parameters in Xcode beta

[2019-08-26 12:16] Andrei-Popilian commented on #428
As I can see you want to train your classification model.
1. You will have to pass some "MLFeatureProvider" objects to your MLBatchProvider, as you want to do batch updates.
2. As you can see the auto-generated code from your model contains a new class now: "[YourModelName]TrainingInput" that TrainingInput class is an MLFeatureProvider.
3. Creating an array or multiple "[YourModelName]TrainingInpu

[2019-08-26 12:28] BhavinSuthar commented on #428
That was very helpful thanks
I also did something similar but problem is in this line of code
`[YourModelName]TrainingInput(image: $0, classLabel: classLabel)`
`$0` is image and we need `CVPixelBuffer `
so I am trying to convert it using `MLFeatureValue`  as mentioned in wwdc but nothing there's error with initialiser

Do you have any suggestion on how to pass `CVPixelBuffer `  to `[YourModelName]

[2019-08-26 13:08] Andrei-Popilian commented on #428
@BhavinSuthar
I've used 2 extended functions on `UIImage`
- Resized the image to the size your model is waiting for e.g 256x256
- converted the UIImage to `CVPixelBuffer`

I don't think this is the best approach, you should use what is appropriate for your case, but you can use in a sample/demo app.

[code]

Also, keep in mind that you can play with your images and pass the same image but mutated,

[2019-08-26 13:47] BhavinSuthar commented on #428
thanks but why is MLmlode always nil any idea
`
func startTraining(){

        let url = UpdatableMNISTDigitClassifier.urlOfModelInThisBundle
        let image = UIImage.init(named:"nine")!

//        let fv:MLFeatureValue = try! MLFeatureValue.init(cgImage: image.cgImage!, pixelsWide: 100, pixelsHigh: 100, pixelFormatType: .max, options: nil)

        let modelConfig = MLModelConfiguration()

[2019-08-26 13:49] BhavinSuthar commented on #428
<img width="1065" alt="Screenshot 1941-06-04 at 3 28 50 PM" src="https://user-images.githubusercontent.com/54391383/63695481-68969900-c836-11e9-9b54-b6717acdd787.png">

[2019-08-26 14:36] Andrei-Popilian commented on #428
@BhavinSuthar

I had the same problem when I've started implementing it, 2 months ago, it was caused by the URL, it was pointing to the uncompiled model. (to .mlmodel):

- Not sure if should work on a simulator, I've only tested on a device (I had to do video camera analysis), **maybe someone can help us with this information**
- Make sure you are using the latest beta (6)
- Make sure your model U

[2019-08-26 14:55] yimingliu1995 opened #429 "TypeError: Expected model to be a .mlmodel file or a Model_pb2 object"
When trying to convert a logistic regression model to .mlmodel file. Input is
<img width="597" alt="Screenshot 2019-08-26 at 15 50 49" src="https://user-images.githubusercontent.com/47358220/63699718-4c383380-c819-11e9-82fd-169d3794a406.png">
And output should be
<img width="283" alt="Screenshot 2019-08-26 at 15 51 26" src="https://user-images.githubusercontent.com/47358220/63699751-607c3080-c819-

[2019-08-27 01:41] jbmaxwell opened #430 "Specify saving as version 3, not version 4"
I have a fairly standard Unet that I'm trying to export from ONNX to mlmodel (onnx-coreml). After updating onnx-coreml and coremltools I managed to export it, but Xcode (10.1) is complaining about the version 4 model. I will actually need to run this on iOS 12 anyway, so I don't want version 4. Is it possible to specify the exported version—i.e., to force it to export v3?

[2019-08-27 01:57] #430 closed, assigned to nobody

[2019-08-27 03:50] BhavinSuthar commented on #428
@Andrei-Popilian
Thanks, I will try with real device

[2019-08-28 03:32] edis219 commented on #424
Hi @bhushan23
When I converted the ONNX to CoreML, it was found that the "constant_value" was a float sometimes.

So I added a workaround as below, does it make sense?

        **if type(constant_value) != np.array:
            constant_value = np.array([constant_value])**

        spec_layer = self._add_generic_layer(name, [], [output_name])
        spec_layer_params = spec_layer.loadConstantND

[2019-08-28 03:38] edis219 commented on #400
Hi @julien-c @aseemw,

Which Mac OS version should be used?
I used "19A536g", it still hit this issue "Segmentation fault: 11"

[2019-08-28 05:16] BhavinSuthar commented on #428
but I wonder how to replace that model with the baseline model
`
let url = UpdatableMNISTDigitClassifier.urlOfModelInThisBundle
mlupdatecontext.model.write(to: url)` throws
 `Error Domain=com.apple.CoreML Code=6 "Failed to copy original model files to the new destionation:`

[2019-08-28 07:58] BhavinSuthar opened #431 "Cant save on device updated trained model"
Trying to save model to support directory
`try  model.write(to: permanentUrl)`

-  Cant save the model
#  `Error Domain=com.apple.CoreML Code=6 "Failed to save model to <file path>`
**UserInfo={NSLocalizedDescription=Failed to save model to <PATH-TO_MODEL>model.mlmodelc. This issue may occur when saving a dense layer that does not contain a bias, if this is the case please file a bug report.**

[2019-08-28 08:46] Andrei-Popilian commented on #428
Try to save it to >>
` let documents = NSSearchPathForDirectoriesInDomains(.documentDirectory, .userDomainMask, true)[0] `
and update the path like:

path: "documents from above + / + modelName + versionNo + .mlmodelc"
NOTE: won't work to override the old one

[code]

on me, it worked like that and as I remember I had some problems on save at the begin

[2019-08-28 17:52] BhavinSuthar commented on #431
@mrfarhadi thanks for the reply, but I have tried adding bias to all the layers still facing the same error
here is model code
`model = Sequential()
    model.add(Conv2D(32, kernel_size=(3, 3),
                     activation='relu',
                     input_shape=(100, 100, 3)))
    model.add(Conv2D(64, (3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Drop

[2019-08-29 05:42] BhavinSuthar commented on #431
**Output**
`
Name: dense_2 (Type: innerProduct)
          Input blobs: ['dense_1__activation___output']
          Output blobs: ['dense_2_output']
Name: dense_1 (Type: innerProduct)
          Input blobs: ['flatten_1_output']
          Output blobs: ['dense_1_output']`

[2019-08-29 05:50] BhavinSuthar commented on #431
[code]

[2019-08-29 17:17] mrfarhadi commented on #431
@BhavinSuthar I just tried your model with a small app and I could train + save the model. This the code snippet I used for saving in completionHandler:
[code]

[2019-08-29 21:20] BhavinSuthar commented on #431
[code]

[2019-08-30 08:32] ricox78 opened #433 "ValueError: Invalid input shape for image. in keras model conversion to core ml"
I've trained my YOLOv3 network with darknet to recognize some obj in an image. All is OK. I want to use weight file in iOS app, so following some tutorials I obtained keras h5 model from darknet weight file ancd I check that also h5 model works fine. OK. Last step, using coremltools I tried to convert h5 model in coreml model usable under xcode. Here I have the issue... last conversion is performe

[2019-08-30 17:36] mrfarhadi commented on #431
@BhavinSuthar
I tried your code and it works!
Can you provide the output of these following commands:
`sw_vers`
`xcrun --show-sdk-build-version`
`xcrun --show-sdk-version`

[2019-08-31 08:33] BhavinSuthar commented on #431
It would be helpful if you could share sample code to convert UIImage to CVPixelBuffer maybe i have something wrong in input because when i try to save basline model in any directory it works but once it is retrained then this error

**UserInfo={NSLocalizedDescription=Failed to save model to <PATH-TO_MODEL>model.mlmodelc. This issue may occur when saving a dense layer that does not contain a bias,

[2019-09-03 11:21] magneter opened #434 "Hi, could I transfer a model has custom layers ,without reimplements in swift?"
Hi, I trained a model  with custom layers which extends the CNN of keras and convert it2coreml.
But when I run the coreml ,It told me to reimplement the custom layer in Xcode.
OK, It's  complex to reimplement it  in swift or Oc.
it seems  that , I should register a layer in _KERAS_LAYER_REGISTRY, and implements a convert_layer_xxxCNN function. But I am not sure wether I can make it work.
Could I f

[2019-09-03 11:30] magneter commented on #434
I know Swift-Tensorflow is developing and I'm reading the doc.
A green thought ,
Could We find some way to let private layers work with python script in Xcode?
Just a green thought,Custom layers are always complex.

[2019-09-03 21:32] 1duo commented on #429
Hi @yimingliu1995, could you share the model conversion scripts in code? (might also need a pointer to the dataset to generate the scikit-learn model). Thanks!

[2019-09-03 21:37] vade commented on #421
Anyone?

[2019-09-03 21:46] vade opened #436 "Keras error with model conversion / NASNet"
Using `coremltools==3.0b5` via Google Collab with Tensorflow 1.14, trying to export trained model / h5.

The following code nets this error:

```ValueError: ('Invalid `distribution` argument: expected one of {"normal", "uniform"} but got', 'truncated_normal')```

From:

[code]

Ive checked my input and output names via:

[code]

Is this a coremltools error?

[2019-09-03 22:54] mrfarhadi commented on #431
@BhavinSuthar
The issue is that you are running an older version of macOS and simulator uses CoreML framework from macOS. You either have to try on a device that is running iOS 13.0
or update your macOS to latest seed.

you can use this method to coversion:

[code]

[2019-09-04 07:42] kevin970401 opened #439 "[feature request] Compatibility with tensorflow.keras (.h5 / savedmodel)"
I trained models composed of tensorflow.keras layers. but It seems to me that there is no simple way to convert the tensorflow.keras model to coreml.
I can convert the tensorflow.keras to keras and then re-convert keras to coreml but it is not efficient way.

[2019-09-04 16:43] vade commented on #439
@kevin970401 - I am curious how you got this working if you dont mind me asking - im using Google Colab which uses Tensorflow.keras and I can't successfully run CoreMLTools like you mention. Im unclear how to export to a Keras compatible h5?

What was your process? See #436

Thanks!

[2019-09-04 16:48] vade commented on #419
@motasay - one trick I learned is you can load the ML model and adjust the model spec, and rename your inputs and outputs but you also have to rename your model layers as well. This can be done purely on the CoreML side of things once you get your model converted to CoreML.

Something like this works for me:

I also update the labels to be more human readable in my model since they can be user fac

[2019-09-04 19:10] vade commented on #323
Yea, this is really a bit of a show stopper when using common tools like Google Colab to run experiments - everything presumes tf.keras going forwards.

[2019-09-05 00:17] zhao15 opened #440 "’module' object has no attribute 'convert'."
I am facing the following  problem and waiting for a solution when I try to convert my keras model into mlmodel using coremltools. it is saying that coremltools module has no attribute 'convert'.

AttributeError: 'module' object has no attribute 'convert'.
The line is:

    coreml_model = coremltools.converters.keras.convert(
        model=Mymodel,
        input_names="image",
        output_names

[2019-09-05 05:55] kevin970401 commented on #439
@vade -  i just change layers of my model from tensorflow.keras to keras

if there an tensorflow.keras model like
[code]

then i manually change all layers from tensorflow.keras to keras
In that situation you can do this by just changing 'import tensorflow.keras.layers as L' to 'import keras.layers as L' and 'tf.keras.models.Model' to 'keras.models.Model'

and you can (probably...) load the saved

[2019-09-05 06:04] bhavin250495 commented on #431
I am trying to run it on Catalina installed on Virtual machine

[2019-09-05 16:35] zhao15 commented on #440
after install keras in virtualenv, the problem was resolved.

[2019-09-05 16:35] #440 closed

[2019-09-05 16:40] zhao15 opened #441 "ValueError: Keras layer '<class 'tensorflow.python.keras.layers.core.Flatten'>' not supported."
I am trying convert the TensorFlow Keras model to coreml model, but I got the error:
ValueError: Keras layer '<class 'tensorflow.python.keras.layers.core.Flatten'>' not supported.

coremltools3.0b5 TensorFlow 2.0.0beta0 with python3.7.4 in virtualenv in macOS.

how to resolve it? thanks

[2019-09-05 17:48] #419 closed

[2019-09-05 17:58] scpeters12 commented on #421
Can you try reproducing this issue with macOS Catalina 10.15 beta 7 (19A546d) where the problem may already has been addressed.

[2019-09-05 19:38] motasay commented on #419
That's a nice tip, @vade! Thanks a lot!

[2019-09-05 22:54] mrfarhadi commented on #431
@bhavin250495 The settings looks OK.
Can you provide your zipped sample app with the model so that I can try to repro.

[2019-09-05 23:11] 1duo commented on #422
This issue should be resolved. Close due in inactivity. @jaskirat-hike feel free to re-open if you still see the issue. Thanks!

[2019-09-05 23:11] #422 closed

[2019-09-06 08:41] BhavinSuthar commented on #431
- I have added xcode project

- Images i am using to tratin

- Python file to create updatable model

**Today i tested on device running ios 13.1  and i was able to save model in directory but when i tried to reload same model then it was giving some garbage values, model lost all the basline and on device training **

[2019-09-06 18:21] anilkatti commented on #431
Hi @bhavin250495 ,

I created a sample project with your code, model and images and observed different behavior. Here are the logs. Please focus on what is in bold. I did modify your ViewController.swift slightly to make sure the I added log messages. I will attach the modified ViewController.swift as well.

[code]

[2019-09-06 18:23] anilkatti commented on #431
[ViewController.swift.zip](https://github.com/apple/coremltools/files/3585198/ViewController.swift.zip)

[2019-09-07 03:50] vade commented on #439
Thanks, sadly, this doesn't work for me, as a sequence model with isn't loading the weights. Was a valiant attempt.

[code]

When trying to load my tf.keras h5 weights into my pure keras model - I believe due to this bug:

https://github.com/keras-team/keras/issues/10784

*sigh*

[2019-09-07 06:46] BhavinSuthar commented on #431
[code]

[2019-09-07 11:34] zhao15 opened #445 "ValueError: Keras layer '<class 'tensorflow.python.keras.layers.convolutional.Conv2D'>' not supported."
## ❓Question
when I convert keras model to mlmodel, got the error as:
ValueError: Keras layer '<class 'tensorflow.python.keras.layers.convolutional.Conv2D'>' not supported.
how to resolve it?
thanks
## System Information
- tensorflow 2.0 coremltools3.0 python3.7

[2019-09-08 18:43] aseemw opened #446 "Add tf.keras support"
## 🌱 Describe your Feature Request
Support for models created and saved via the `tf.keras` API.

## Use cases
`tf.keras` is the recommended API to be used with TensorFlow 2.0+

## Describe alternatives you've considered
- Directly using the `coremltools.converters.keras` converter
- Saving the model as a frozen graph def (`.pb`) file and then using the `tfcoreml` converter

[2019-09-08 18:44] aseemw commented on #445
Duplicate of #446

[2019-09-08 18:44] aseemw commented on #441
Duplicate of #446

[2019-09-08 18:45] aseemw commented on #436
Duplicate of #446

[2019-09-09 03:57] anilkatti commented on #431
Not really. I did not change anything else. I am on a recent version of iOS though. Next, I will try to match up the iOS version. Could you please tell me the exact version of iOS that you are trying this on?

You can do this by launching the Settings apps. Once open, navigate to General > About and then look for Version. Then tap on the version. You should see a string that starts with "17" (some

[2019-09-09 06:25] BhavinSuthar commented on #431
**13.1(17A5831C)**

[2019-09-09 18:45] scpeters12 commented on #421
Ignore the above. This is a coremltools issue that needs to be fixed.

[2019-09-09 20:39] aseemw commented on #433
Please see PR #447

[2019-09-10 05:24] 1duo commented on #446
https://github.com/tf-coreml/tf-coreml/issues/315

[2019-09-10 07:53] GZaccaroni commented on #407
Do you have any update?

[2019-09-12 06:02] anilkatti commented on #431
Sorry about the delay @BhavinSuthar . I finally got to try this on an iPad running 17A5831C build of iOS. And, my Xcode version is Version 11.0 (11A419c), which I believe is what you are using. If not, please use this version (it is available on developer.apple.com).

Unfortunately, I could not repro the failure :(

Here are the logs:

2019-09-11 22:58:11.810459-0700 Temp[428:46648] Metal API Vali

[2019-09-12 06:05] bhavin250495 commented on #431
thanks for the help, i got it working now

On Thu, Sep 12, 2019 at 11:33 AM anilkatti <notifications@github.com> wrote:

[2019-09-12 06:06] #428 closed

[2019-09-12 06:07] #431 closed

[2019-09-12 06:29] JamesHowlettLA commented on #211
please use coremltools 3.x
pip install coremltools==3.0b6

in the new version, coremltools/models/_graph_visualization.py judge the python version to start server:

    if sys.version_info[0] <= 2:
        subprocess.Popen(['python', '-m', 'SimpleHTTPServer', str(port)])
    else:
        subprocess.Popen(['python', '-m', 'http.server', str(port)])

[2019-09-12 06:31] JamesHowlettLA commented on #326
please use coremltools 3.x
pip install coremltools==3.0b6

in the new version, coremltools/models/_graph_visualization.py judge the python version to start server:

if sys.version_info[0] <= 2:
    subprocess.Popen(['python', '-m', 'SimpleHTTPServer', str(port)])
else:
    subprocess.Popen(['python', '-m', 'http.server', str(port)])

[2019-09-12 06:31] JamesHowlettLA commented on #281
please use coremltools 3.x
pip install coremltools==3.0b6

in the new version, coremltools/models/_graph_visualization.py judge the python version to start server:

if sys.version_info[0] <= 2:
    subprocess.Popen(['python', '-m', 'SimpleHTTPServer', str(port)])
else:
    subprocess.Popen(['python', '-m', 'http.server', str(port)])

[2019-09-12 06:32] anilkatti commented on #431
@BhavinSuthar if you don't mind could you share what was wrong in your test previously? Any insights you might have could benefit others. Thanks!

[2019-09-14 06:06] zhao15 commented on #372
macOS 10.15 (19A558d), python3.7 , coremltools  3.0b5
same issue.

[2019-09-14 09:38] sainisanjay commented on #149
Hi @hanranCode can you tell how you fix the issue??

[2019-09-14 16:27] aseemw commented on #372
@zhao15 3.0b6 wheels have been released as well, which should fix the issue. Can you try that as well?

[2019-09-18 13:59] SeJV commented on #431
What does the warning `[espresso] Training kernels not enabled for engine: 100` mean, and how to solve it?

[2019-09-18 17:31] mrfarhadi commented on #431
@SeJV You can safely ignore this warning message for now.

[2019-09-18 21:50] 1duo commented on #397
https://github.com/apple/coremltools/issues/446

[2019-09-18 22:54] josephsieh commented on #372
Now it's working again.  Tested on python 2.7.16 and python 3.7.4

[2019-09-18 23:00] 1duo commented on #372
Can you verify with `coremltools==3.0b6`? Thanks.

[2019-09-18 23:00] 1duo commented on #372
Thanks for verifying!

[2019-09-18 23:07] 1duo commented on #421
See https://github.com/apple/coremltools/pull/450.

[2019-09-18 23:07] #421 closed

[2019-09-20 00:58] TobyRoseman opened #456 "Wrong numpy range in setup.py"
## 🐞Describe the bug
The [setup.py](https://github.com/apple/coremltools/blob/2350efac7a8bc00d923610ac81dbe7ab6ac9778f/setup.py#L55) for coremltools specifies the numpy dependency range as `'numpy >= 1.14.5'`. However using any version before then `1.16.0` causes a segmentation fault. Any version >= to `1.16.0` works.

It would be nice to support versions before `1.16.0`. That version is less than

[2019-09-20 15:31] Shekharrajak commented on #456
Can I work on this issue?

[2019-09-20 16:27] 1duo commented on #456
Hi @Shekharrajak, you're more than welcome to contribute here. Thanks!

[2019-09-20 16:37] Shekharrajak commented on #456
Thanks @1duo !

I just need a clarification :

Do we want to make it compatible for version < 1.16.0 or should we constraint version >= 1.16.0 in setup.py ?

[2019-09-20 17:05] 1duo commented on #456
Hi @TobyRoseman, it'd be great if you can comment on the expected version we want to cover here. Thanks!

[2019-09-20 19:24] TobyRoseman commented on #456
The most important thing is that the version range listed in `setup.py` is accurate.

That being said, coremltools should really support numpy versions older than 9 months ago. I believe numpy is very good about backwards compatibility. It would be great if we could actually support `numpy >= 1.14.5` or even earlier.

`coremltools==2.1.0` works just fine with `numpy==1.14.5`. What changed? What ve

[2019-09-22 04:12] Shekharrajak commented on #456
I followed the steps given :

[code]

but I got the error :

[code]

Can you please help me to get the setup done ?

[2019-09-25 07:02] magneter commented on #434
HI ,I tried to covert the partial convolution  and gated cnovolution  to coreml, But it did not work.
Could you please support these new style convolutions  with keras first?
Thanks.

[2019-09-26 04:22] 1duo commented on #456
Can you share your system environment info?

[2019-09-26 15:02] Shekharrajak commented on #456
Here is the system I am using

coremltools version (e.g., 3.0b5): Didn't install prevously. trying to instal from source
OS (e.g., MacOS, Linux): MacOS
macOS version (if applicable): 10.13
XCode version (if applicable): Not using
How you install python (anaconda, virtualenv, system): conda
python version (e.g. 3.7): 3.7.3

[2019-09-26 15:52] Shekharrajak commented on #456
I installed the codemltool using pip not is building but I came across different error messege :

[code]

Can you please help me to resolve this? Thanks!

[2019-09-29 10:01] zhao15 opened #462 "using a `tf.Tensor` as a Python `bool` is not allowed in Graph execution. Use Eager execution or decorate this function with @tf.function."
## 🐞Describe the bug
when I use coremltools convert the keras model(1st Updatable Models Examples) to mlmodel, the error shows up.

## Trace
File "/Users/wills/virtualenv/Python3.7/TensorFlow/lib/python3.7/site-packages/coremltools/converters/keras/_keras_converter.py", line 793, in convert
    respect_trainable=respect_trainable)
  File "/Users/wills/virtualenv/Python3.7/TensorFlow/lib/python3.7/

[2019-10-01 08:32] GoogolPLEks commented on #462
I solved that problem when using keras==2.2.4 and tensorflow==1.13.1.

[2019-10-01 14:14] benkelaci commented on #371
How about input_name_shape_dict parameter? Does that affect?

The convert generate this input:
[code]

but I need this:
[code]

How can I accomplish?

[2019-10-02 08:25] kezakool opened #463 "Coreml Pipeline with preprocessing example"
Hi,

i'm using coremltools  beta release 3.0b5, trying to convert from keras to coreml3.
the conversion of my model went well but I would like to use the SoundAnalysisPreprocessing model. (I already have implemented the same preprocessing step in my python project)

I can't find an example of building a pipeline with a coreml preprocessing model, could you provide us any exmple?

for now, i'm stuc

[2019-10-02 09:14] benkelaci opened #464 "Bidirectinal LSTM input shape issue"
## 🐞Describe the bug
Here is the Keras model definition:
[code]
I ran the converter:
`coreml_model = converters.keras.convert('model.h5', input_shapes=(1, 42, 24))`

Then I got this for the input layer:
[code]

But it should be this:
[code]

How can I force to reshape the input or interpret as different ?

## System environment (please complete the following information):
 - coremltools version  (

[2019-10-02 12:21] benkelaci commented on #464
I solved it with a small workaround. I modified the keras model defintion:
[code]

Like this, the input layer dimension is 1008, and on iOS it needs to reshape the 42x24 data. The strange is that the output is correct, however it shows wrong value: (10) instead of (42,10).

[2019-10-02 12:21] #464 closed

[2019-10-02 16:19] anilkatti commented on #463
@kezakool you are on the right track however, I think you should add `soundAnalysisPreprocessing` rather than `soundAnalysisPreprocessing.SoundAnalysisPreprocessing()` as the sub-model in your pipeline. See if that works.

Here is some documentation regarding `add_model`. It. expects the spec (`Model` proto message). https://apple.github.io/coremltools/generated/coremltools.models.pipeline.html#co

[2019-10-02 17:15] kezakool commented on #463
@anilkatti thanks for helping!
i tried your solution, get a new error because soundAnalysisPreprocessing  is a module, so i'm still blocked :)

i'm not sure but, i feel that the real problem is that i can't get the protobuf spec from SoundAnalysisPreprocessing.

the notebook example is a bit different because you can "reach" the model KNearestNeighborsClassifierBuilder by the models module, and in

[2019-10-02 20:34] anilkatti commented on #463
Could you paste your code for me a take a look? Specifically, how you get soundAnalysisPreprocessing?

You'd do something like this:

[code]

[2019-10-03 07:51] kezakool commented on #463
@anilkatti, here is how i get  soundAnalysisPreprocessing
from coremltools.proto import SoundAnalysisPreprocessing_pb2 as soundAnalysisPreprocessing

for now, i can't find a way to get the .mlmodel

thanks

[2019-10-03 20:29] anilkatti commented on #463
Aseem could clarify, but in my opinion, `KNearestNeighborsClassifierBuilder` is a utility that helps you build a nearest neighbor classifier model spec (translates to `Model_pb2` instance) whereas, `SoundAnalysisPreprocessing_pb2` is just a python wrapper to read / access `SoundAnalysisPreprocessing` proto message. It is not a model builder.

`add_model` method needs either a spec (`Model_pb2` ins

[2019-10-03 21:35] cyrilivargarcia commented on #346
Any resolutions to this?

[2019-10-04 12:46] kezakool commented on #463
@anilkatti big thanks it work with your mlmodel!
but just to understand, how did you build the model, with help of the book, i tried implement it with this :

`sap_spec = coremltools.proto.Model_pb2.Model()
sap_spec.specificationVersion = 4

new_input = sap_spec.description.input.add()
new_input.name = "audioSamples"
new_input.type.multiArrayType.shape.extend([15600])

new_output = sap_spec.descri

[2019-10-04 13:45] zhao15 opened #470 "The coreml model converted from the trained model is exactly the same as the untrained one."
## ❓Question:
I use the following code to convert Keras model to CoreML model, the converting process is successfully done, but it can't convert any trained information from Keras model to CoreML model, appreciate you to help me out, thanks.
[code]

## System Information
Package              Version
-------------------- -------
absl-py              0.8.0
astor                0.8.0
coremltools

[2019-10-04 16:30] anilkatti commented on #463
I think you need to set `type.multiArrayType.dataType` inside `new_input` and `new_output`. I can share the actual script later today.

[2019-10-05 00:44] #445 closed

[2019-10-05 00:45] #441 closed

[2019-10-09 14:20] kezakool commented on #463
@anilkatti reminder :) thanks.

[2019-10-09 17:25] Shekharrajak commented on #456
Can you please let me know how can I use the cloned repos and generated build to test the code. I tried running
[code]
inside the cloned repo.

[2019-10-09 17:33] 1duo commented on #456
@Shekharrajak You can now try to build from source again: https://github.com/apple/coremltools#building-from-source

[2019-10-09 21:34] Mstronach commented on #408
@TobyRoseman can you verify that this issue has been resolved with coremltools 3.0?

[2019-10-09 21:35] Mstronach commented on #433
If you see any more issues please feel free to reopen this, closed due to inactivity.

[2019-10-09 22:17] #281 closed

[2019-10-10 05:24] anilkatti commented on #463
Sorry about the delay.. here's the script that will generate the CoreML model I attached earlier.

[code]

Let me know if you have any questions.

[2019-10-10 17:11] Mstronach commented on #463
We believe this issue has been resolved, feel free to re-open if you are still seeing the issue. Thanks!

[2019-10-10 17:11] #463 closed

[2019-10-11 14:53] Shekharrajak commented on #456
Yes, I tried the same and after that I am running the code snippet (of the issue description):

[code]

[2019-10-12 08:36] y-ich opened #485 "How can I fix "[TypeInference] Unable to infer type of node "node/name" (XXX)?"
## ❓Question

Hi.
I am trying to convert my TensorFlow model using tf-coreml and got errors below for example.

    [TypeInference] Failed to infer type of node "XXX/transpose" (Transpose)

I investigated type_inference.py and knew that it is due to the lack of "symbolic_value" attribute in Transpose' inputs (perm or concat in this case).

How can I fix these errors?

Prior to the errors, I got "C

[2019-10-13 10:02] zhao15 opened #486 "Cann't reduce lossvalue on device?"
## ❓Question
I have a keras model could be trained effectively,
[code]
but after I convert it to mlmodel, and use MLUpdateTask train it on device, the loss value as following:
[code]
Could somebody help me?

my convert code is:
`import tensorflow as tf
    from keras.models import load_model
    from keras import utils as np_utils

    keras_model = load_model(keras_url)
    classNumber = 10

[2019-10-13 15:52] anilkatti commented on #486
@zhao15 With update task, the loss is going down for each epoch but, the rate at which it is going down is small. Could you try increasing the learning rate?

[2019-10-13 16:41] anilkatti commented on #486
What hyper parameters (learning rate, mini batch size, etc.) are you using while training in keras?

[2019-10-13 17:56] cfinker opened #487 "Not understandable validator error: KNearestNeighborsClassifier requires k to be a positive integer"
## ❓Question

Hi, I tried to create an updatable KNN-model, like described here: https://github.com/apple/coremltools/blob/master/examples/updatable_models/updatable_nearest_neighbor_classifier.ipynb

However, I am getting the following error:
`/Library/Python/2.7/site-packages/coremltools/models/model.py:111: RuntimeWarning: You will not be able to run predict() on this Core ML model. Underlying

[2019-10-13 22:09] ghop02 commented on #446
Hi, is there any update on plans to support tf 2.0/ the `tf.keras` interface?

[2019-10-14 00:24] anilkatti commented on #487
@cfinker at some point `k` was renamed as `numberOfNeighbors` in NearestNeighbor proto message.

https://github.com/apple/coremltools/blob/master/mlmodel/format/NearestNeighbors.proto

CoreML model validator on your macOS still expects `k` while the model you generated with that script uses the correct `numberOfNeighbors`.

You should not run into this issue if you update your macOS to latest rele

[2019-10-14 15:27] zhao15 commented on #486
@anilkatti thanks for your reply. with the same data and same parameters, Keras loss will going down more than update task, the parameters:
[code]

[2019-10-14 16:09] anilkatti commented on #486
What is the batch size while training with keras? I think it defaults to 32. Could you double check that?

[2019-10-14 16:30] HussainHaris opened #489 "Mismatching Pytorch Model Output vs Converted Core ML Model"
I fine tuned and trained a resnet50 on Pytorch for 8 labels instead of 1000.
When testing the model/passing in images on Pytorch I get the correct tensor of probabilities as seen below.
<img width="1296" alt="Screen Shot 2019-10-14 at 12 25 31 PM" src="https://user-images.githubusercontent.com/12214582/66767195-d9911f00-ee7d-11e9-9bd1-c431fe148aac.png">

On the Core ML model I get 0 for everything

[2019-10-14 16:35] zhao15 commented on #486
@anilkatti I use the batch size as 1 for Keras.
refer to your direction, I changed the learning rate as following, and this time, it goes better.
<img width="895" alt="ScreeShot2019-10-15 12 33 36" src="https://user-images.githubusercontent.com/19267035/66767638-75a14180-eee3-11e9-9db3-71e7c43484cf.png">
thank you very much.

[2019-10-14 16:35] #486 closed

[2019-10-14 17:09] 1duo commented on #485
Hi @y-ich, thanks for reporting this issue! It'd be great if you can file a [bug report](https://github.com/apple/coremltools/issues/new?assignees=&labels=bug&template=---bug-report.md&title=) and provide detailed steps, and model files to help us reproduce this issue. Or if you're interested, you can work on a fix for this and contribute back : ). I couldn't comment on the fix because I haven't s

[2019-10-14 17:13] #462 closed

[2019-10-14 17:21] 1duo commented on #470
Hi @zhao15, thanks for reporting this issue. Are you talking about the [training information](https://github.com/apple/coremltools/blob/56a0045474fd241d5f880e2c5bb26cf8c0759901/coremltools/converters/keras/_keras2_converter.py#L191)?

[2019-10-14 17:29] 1duo commented on #434
Hi @magneter, thanks for reporting this issue! Can you please file a [feature-request](https://github.com/apple/coremltools/issues/new?assignees=&labels=feature-request&template=---feature-request.md&title=) with detailed model attached and steps to reproduce the missing ops as a use case? So that when we add this op, we can verify it works for your case. Thanks!

[2019-10-14 17:36] 1duo commented on #456
Hi @Shekharrajak, we'll investigate this build issue, in the meantime, this is due to missing `libcoremlpython .so` file, you can copy it from `<your_build_dir>/coremltools/*.so` to `<coremltools_repo_root_dir>/coremltools/*.so` and run `pip install -e .` so you have a working developer enviroment. You can verify using `python -m pytest coremltools/converters/tensorflow/test/test_convnets.py -v`

[2019-10-14 20:55] #414 closed

[2019-10-15 00:07] y-ich commented on #485
@1duo san,
Thank you for your help!

The model is https://www.dropbox.com/s/5i4fmc53bvtp3l3/optimized.pb?dl=0
And the script I used is,

    import sys
    import tfcoreml as tf_converter
    from coremltools.models import MLModel

    if __name__ == "__main__":
        if len(sys.argv) < 4:
            print("Usage: python {} source size target_path".format(sys.argv[0]))
            sys.exit()

[2019-10-15 12:16] johanlantz opened #490 "std::runtime_error: BNNS error when trying to do training"
## ❓Question
I am trying to move TensorFlow Keras model from running on a server to the device.

I started off converting the model with createml and it worked like a charm. I could make predictions in no time, thanks for the great framework.

My issue started yesterday when I wanted to also start and do personalization/training on the device.

I updated the createml script so the model would also

[2019-10-15 13:35] lgyStoic commented on #276
@h-shib I also try MPSCNNSubPixelConvolutionDescriptor by using MPNNGraph, but got a uncorrect image , has a bit difference with pytorch result.  can you have a look on this? https://github.com/lgyStoic/super_resolution_MPSNNGraph

[2019-10-16 10:12] johanlantz commented on #490
This is the model structure in case it helps.
<img width="192" alt="Screenshot 2019-10-16 at 11 39 03" src="https://user-images.githubusercontent.com/7461655/66910072-2c99dc00-f00e-11e9-82e5-b18966838d71.png">

[2019-10-16 12:55] anilkatti commented on #490
@johanlantz could you please share the script you used to mark this model updatable? The first thing that seems odd is `output1` and `output1_true` are of different dimensions.

[2019-10-16 13:43] christinalau opened #492 "Update Activity Classifier Model Error"
I have created an Activity Classifier, and will like to make it updateable. I use this script modeled from [https://github.com/apple/turicreate/issues/2048#issue-455412200]

However I get this error:

[code]

Could you help me understand what the error means and how to fix them? Thanks.
Here is the existing layers and input parameters:

[code]

[2019-10-16 15:16] anilkatti commented on #490
@johanlantz thanks for sharing that script - seems reasonable to me. This is definitely not a silly question :) It could be a bug in `convert` method or in the framework - we will get to the bottom of this. I have one follow up question:

Based on "assumption from an audio file and categorize it in 1 of 4 options", the model seems to be a classifier however, classifiers always output either a `str

[2019-10-16 16:10] anilkatti commented on #490
@johanlantz assuming your model is a classifier, may I suggest following steps in this Jupyter notebook to specify class_labels and predicted_feature_name while invoking convert? Look for `convert_keras_to_mlmodel` in:

https://github.com/apple/coremltools/blob/master/examples/updatable_models/updatable_mnist.ipynb

[2019-10-16 16:18] johanlantz commented on #490
@anilkatti I will talk to the researcher tomorrow (I am approaching this from an engineering perspective so I lack some context).

From what I have done so far, I can see that from my input (a segment of processed audio) I get an array of probabilities back from the model for instance:
[0.119403765, 0.029491829, 0.08774426, 0.7633601]

For the prediction, this was exactly what I needed and it also

[2019-10-17 08:32] y-ich commented on #485
Hi.

The cause seems that all Const nodes have None as attribute "value" after loading the model.
Why?

I confirmed that all Const nodes have some values by tensorboard.

Please give me any solutions or hints.

[2019-10-17 10:33] christinalau commented on #492
I have included the original model and update script here.
[MotionUpdate.zip](https://github.com/apple/coremltools/files/3738733/MotionUpdate.zip)

[2019-10-17 15:22] johanlantz commented on #490
Hi @anilkatti

I have talked to the researcher and as you suspected his anticipation is that the output should also be a vector of size 4 and that is what he sees from running training with Keras. His comment was that it seems as argmax is applied at the end? Is there any way that could come from the conversion?

The only relevant line I can spot from the conversion process is this one:
[code]

I

[2019-10-17 15:50] 1duo commented on #485
Hi @y-ich, thanks for the extra debug information!

It could be the *Switch* op that has two outputs, one normal tensor and the other "dead" tensor that fails at `sess.run()` because it's "dead" and thus does not have value when we try to evaluate in the `constant_propogation()` function.

Could you help to verify it's related to *Switch* op (by print out the op's name and type that fails for `ses

[2019-10-17 17:36] anilkatti commented on #492
Thanks for reporting the issue @christinalau we are looking into this and will get back to you soon.

[2019-10-17 22:09] TobyRoseman opened #495 "API Documentation Not Rendering Math Equations"
## 🐞Describe the bug
Math equations are not getting rendered on the hosted API docs for coremltools. For example
the entry for [BatchnormLayerParams](https://apple.github.io/coremltools/coremlspecification/sections/NeuralNetwork.html#batchnormlayerparams) shows:
[code]
There are many other examples of this problem on the same webpage.

## System environment
- Safari - Version 13.0.3 (14608.3.10.1.

[2019-10-18 00:28] y-ich commented on #485
@1duo san,

Thank you for your advice and creating a new issue at tf-coreml!
You are right, all nodes which cause errors were Switch ops.
Are there any workarounds which I can do?

Thanks a lot.

Here is a long list:

    swa_model/cond_44/Switch_4
    1499: op name = import/swa_model/cond_44/Switch_4, op type = ( Switch ), inputs = import/swa_model/rconv20/norm1/moving_variance:0, import/swa_mode

[2019-10-18 00:38] 1duo commented on #485
Can you try adding `try-except` around `session.run()` to simply ignore/skip "dead" tensor's constant propagation (it's the False branch so should be okay to skip)? This is a simple workaround I can think of (not very efficient though). Let us know if you have some findings!

[2019-10-18 04:41] anilkatti commented on #490
@johanlantz I could repro the issue with your sample code. I will share my findings soon.

[2019-10-18 09:04] hanranCode commented on #149
Sorry. Actually, I used another framework tflite.

[2019-10-18 09:10] ZhengPhoenix opened #496 "Invalid dst shape when converting from Keras to Coreml"
## Keras model convert failure with Embedding layer
Hello, I was trying to convert a Keras model to coreml,
but got an error as

by the way, the Keras model run normally in h5 or even converted to tensorflow model.

it turns out the failure has something to do with the input length of Input layer
Here is the code which will run successfully,
[code]

please focus on the input layer,
when I try to m

[2019-10-18 09:58] kezakool opened #497 "Inference Problem in the converted model"
Hi,

## 🐞Describe the bug
The model is a Keras CNN LSTM with spectrogram inputs and softmax output, the conversion went well, i checked the graph model with visualize_spec and everything seems good too, but when I make a prediction, there is a huge gap in results. I did another try cutting a subgraph before the LSTM layer, and there is still differents results, how is this possible?

## To Reprodu

[2019-10-19 01:18] y-ich commented on #485
@1duo san, thank you for your advice!

Removing Switch ops from query_list and reducing the correspondents of constant_node_num_outputs eliminated "Constant Propagation pass failed".

Now I encountered a new problem.
It seems that the function _is_NHWC in op_fusions.py does not work well for my model.
I will create another issue or hopefully pull request for it.

[2019-10-20 06:30] y-ich opened #499 "broadcast op after NHWC node fails"
## ❓Question

It may be a kind of bug, but before making a bug report, I want to ask a few things since I am confused.
I am trying to convert TensorFlow NHWC model using tf-coreml.
And this issue is related with ssa_converter.

In my model, there is a broadcast multiplier(XX/XX/mul) of Conv2D(-1, 19, 19, 256) and Rsqrt(256,).
The first problem is that _broadcastable in shapes.py fails because NHWC

[2019-10-20 06:54] aseemw commented on #499
@y-ich it does seem like a bug. Can you please file a bug issue, with your original code snippet that gives the error with Conv2D(-1, 19, 19, 256) and Rsqrt(256,)

[2019-10-20 07:00] y-ich commented on #499
@aseemw san,

Thank you for your quick reply.

Since my model is large and I made a few workarounds in coremltools, current reproduction code is not simple.
I will try to make it simple.

[2019-10-20 07:01] aseemw commented on #499
In that case you can file a bug at https://developer.apple.com/bug-reporting/
to which you can attach your full model.

[2019-10-20 07:19] y-ich commented on #499
If you do not need my workarounds, what I am doing is exactly the issue #485.
I put my model and script there.
You will reproduce this issue after avoiding #485.

I am sorry for complicated situation.

[2019-10-21 15:06] anilkatti commented on #490
@johanlantz, sorry about the delay. I discovered a bug in the framework that is causing the crash. In short, it is failing to propagate gradients past the first conv layer from end (conv2d_15). We are working on a fix at the framework level.

I could think of one simple workaround, but, I am not sure if that works with your use case. The idea is to explicitly mark the last two "fully connected" la

[2019-10-21 18:28] johanlantz commented on #490
@anilkatti Thank you so much for the effort. I will dig into this first thing tomorrow (I am in full-day training Tuesday->Thursday so apologies in advance if there is a delay in my response)

[2019-10-22 11:07] zhao15 commented on #470
Yes.

[2019-10-22 14:44] johanlantz commented on #490
Hi @anilkatti

I have tried to use the supplied model with my testapp but exactly the same thing happens (BNNE error)

Then I tried to use this when converting the model (which I hope is close to what you suggested):
[code]

but If I do that I get the following error in xCode
![Screenshot 2019-10-22 at 16 42 15](https://user-images.githubusercontent.com/7461655/67297986-ef8c8880-f4ea-11e9-8656-4ad

[2019-10-22 15:12] anilkatti commented on #490
@johanlantz It is puzzling! As a quick test, could you try saving the model to a different file? Also, could you share your coremltools (pip list) and Xcode version (About section).

[2019-10-22 15:41] johanlantz commented on #490
@anilkatti
I tried saving the resulting model with another name but the result is the same.

I attach the complete reference project which includes the conversion scripts in the KerasModel folder. The one called converter_limited.py is the one trying to limit updatable to only the last 2 layers while converter.py is the normal one using respect_trainable.

Results on my side:
- When using a model

[2019-10-22 16:13] anilkatti commented on #490
@johanlantz sorry I misread your script. Let me clarify. I still want you to use `respect_trainable = True` but then, explicitly set last two layers as updatable.

Keras-CoreML convertor takes care of translating optimizer and loss from the keras model to the CoreML model. Let me know if that works.

[code]

[2019-10-22 17:18] johanlantz commented on #490
@anilkatti Ok understood, I misread the instructions. Re-adding respect-trainable removed the error when loading the model in xCode.

I do still have the BNNE exception just as before. I have tried using both the sample app and the real app with the real model but both behave the same also with this new approach of only having the two last layers trainable.

Test test project with the corrected sc

[2019-10-22 20:34] johanlantz commented on #490
You are right, with the iPhone simulator training completes 😮

[2019-10-23 07:51] johanlantz commented on #490
@anilkatti
I have retested on an iPhone 11 using iOS13 and it works.

Same test on my iPhone 6S using 13.2 beta 2 consistently crashes with the BNNE error.

[2019-10-23 08:13] zhangxiandong4910 opened #503 "Error in model conversion"
## ❓Question

## System Information
My code is

    modelt = Sequential()
    modelt.add(Dense(3, input_dim=12))

    model = coremltools.converters.keras.convert(modelt)
    model.save('resnet.mlmodel')

The content of the error report is

  Traceback (most recent call last):
  File "/Users/zhangxiandong/Desktop/Learning/test.py", line 56, in <module>
    covertcoreml()
  File "/Users/zhangxiando

[2019-10-23 08:15] mrfarhadi commented on #470
@zhao15 to preserve the training information, you need to provide `respect_trainable=True` in the convert method:
[code]

[2019-10-23 09:20] #503 closed

[2019-10-23 11:48] johanlantz commented on #490
While we are pending findings on the two issues (conversion and iPhone 6S BNNE issue) I progressed my investigation and I stumbled into the next blocker.

With training working I would be able to do personalization. However, one of my objectives is to explore federated learning, in order to do this I would need to be able to access at least the weights after completing the training.

However, so f

[2019-10-23 16:47] anilkatti commented on #490
I had a similar experience last night while testing on an iPhone 10R (no BNNS crash). Could you please a bug report to track the iPhone 6s issue so, I can let the right folks look into it?

Re: accessing weights: You should be able to access updated weights in the _context of model update_ using MLParameterKey.weights key.

You can request weights from the `MLModel` instance you receive in `MLUpda

[2019-10-23 17:26] syoutsey opened #504 "Setup.py should list Linux as a supported OS and include copyright header"
## 🐞Describe the bug
- The `setup.py` (https://github.com/apple/coremltools/blob/master/setup.py) doesn't list Linux as a compatible OS - it should. Additionally, this file should also have a copyright header.

[2019-10-23 18:06] anilkatti commented on #490
Did you pass in the layer name as scope for `MLParamterKey`?

[2019-10-24 02:12] TobyRoseman opened #505 "Custom Title in Spec Visualization"
## 🌱 Describe your Feature Request
I'm a big fan of the spec visualization built into coremltools (i.e. calling `my_mlmodel.visualize_spec()`). Using this feature has saved me so much time. However when examining multiple specs in different web browser tabs, things can get confusing.

The title is **always**: `CoreML Graph Visualization`. This is the title of the tab/webpage, as well as the title

[2019-10-24 16:08] johanlantz commented on #490
I did not :-) I have just made a quick test but I did manage to get the weights out from a layer I knew the name of.

Is there a way to list the layer names or would I have to hardcode it?

The BNNE issue happened on the simulator as well now and it worked on the iPhone 6S a few times so that issue seems a bit tricky. I picked up the iPhone11 and the same code still runs fine there. But let's igno

[2019-10-24 16:24] anilkatti commented on #490
Currently, there is no way to get all the layer names at the runtime. You might have to get that information out-of-band along with the model. I also want to highlight that model provides "weights" as a parameter only for those layers that are marked as "updatable" in the proto since we did not see any practical use for non-updatable layers.

If you think getting layer names at the runtime via API

[2019-10-25 00:30] anilkatti commented on #492
@christinalau I am sorry about the delay. It is failing to backprop the gradient through batchnorm.  A work around for this issue involves marking "dense_layer1" as updatable. Could you please check if that works. I will take a deeper look at why we are failing to backprop gradients through batchnorm.

[2019-10-25 07:13] y-ich commented on #499
I may succeed to fix this issue.

1. need to copy node.outputs.

https://github.com/apple/coremltools/blob/fa0e8dd1ce412985c61d3a65014e15239096cd48/coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py#L258

Since you change `node` inside the loop, you need to change `enumerate(node.outputs)` to `enumerate(node.outputs.copy())`.

I think that L249 should be fixed too.

2. need to reduce sha

[2019-10-25 11:41] christinalau commented on #492
@anilkatti In the attached zip file, the updateModel.python already tried that:
`builder.make_updatable(['dense_layer', 'dense_layer1'])`
It still gave the error.

[2019-10-25 12:12] zhao15 commented on #470
Tried, but doesn't work for me, thanks @mrfarhadi for your direction.

[2019-10-25 15:05] anilkatti commented on #492
@christinalau Sorry, I meant replacing what you have with: `builder.make_updatable(['dense_layer1'])`

[2019-10-25 15:09] anilkatti commented on #470
@zhao15 can you confirm that this is a different issue than what we solved in https://github.com/apple/coremltools/issues/486?

Could you clarify what you mean by "convert any trained information"? What are you looking for inside the CoreML model?

[2019-10-25 16:38] christinalau commented on #492
@anilkatti Using just 'dense_layer1', the python script gave no errors. However, when using the model for prediction in XCode, it still does not work and gave this error:
`[coreml] Failure verifying inputs.`

This happened after the model is updated with new input using MLUpdateTask. MLUpdateTask completed with no error.

[2019-10-25 17:14] #193 closed

[2019-10-25 21:41] 1duo commented on #216
The fix was included in the 3.0 release. Close due to invalid.

[2019-10-25 21:41] #216 closed

[2019-10-25 21:42] 1duo commented on #211
The fix was included in the 3.0 release. Close due to invalid.

[2019-10-25 21:42] #211 closed

[2019-10-25 21:46] 1duo commented on #174
Looks like this issue should be fixed in #293, close due to inactivity. Feel free to re-open if you still encounter any issues. Thanks!

[2019-10-25 21:46] #174 closed

[2019-10-25 21:46] 1duo commented on #261
Looks like this issue should be fixed in #293, close due to inactivity. Feel free to re-open if you still encounter any issues. Thanks!

[2019-10-25 21:46] #261 closed

[2019-10-25 21:49] 1duo commented on #296
I believe this issue is resolved with your PR https://github.com/apple/coremltools/pull/293, right? Feel free to re-open if it's not the case.  Thanks for the fix BTW!

[2019-10-25 21:51] 1duo commented on #53
Looks like this issue should be fixed in #293, close due to inactivity. Feel free to re-open if you still encounter any issues. Thanks!

[2019-10-25 21:51] #53 closed

[2019-10-25 21:57] 1duo commented on #499
Hi @y-ich, thanks for the experiments! Are these changes worked for your model? Since we're not sure the exact workaround you used in #485, I'm not able to reproduce your broadcast op issue ans thus not fully understand the context of this issue. Do you have a fork/branch you're working on?

[2019-10-26 01:01] y-ich commented on #485
I made a workaround.
https://github.com/y-ich/coremltools/tree/constant_propagation

It works when numbers of dead outputs are in latter part, e.g. original outpus are [0, 1, 2] and dead ones are [1, 2].

[2019-10-26 01:01] #485 closed

[2019-10-26 01:13] y-ich commented on #499
1duo san,

The test of converted model is not enough yet but it seems to work well.
I commented my workaround in #485.

[2019-10-26 09:07] zaccharieramzi commented on #296
I don't think so. I can't re-open so please do

[2019-10-28 08:57] kezakool commented on #497
Hi,

any idea anybody? we re stuck :/

thxs

[2019-10-28 16:16] anilkatti commented on #492
@christinalau "Failure verifying inputs." is a different issue. In short it means, there was something wrong with the inputs that you provided while invoking prediction method. Could you tell me what the error is by putting a breakpoint in your code? If it is swift, you could print error in the catch block corresponding to `predictionsFromBatch:` or `predictionFromFeatures:`. If you are using obje

[2019-10-28 20:09] christinalau commented on #492
@anilkatti I am using Swift, but I don't know how to catch the error, as it seems only the prediction API is available in Swift, and it doesn't throw an Error.

[code]
My output is:
[code]

Please note the same code works on the original the model (i.e. the one that has not been made updatable), so I think the parameters I am passing in are correct. Perhaps I am missing what you meant.

[2019-10-28 21:52] 1duo commented on #497
Hi @kezakool, thanks for reporting the issue! The numeric difference is ~0.01 which might be caused by implementation details of activation layers, especially on GPU. Can you try set flag `useCPUOnly=True` in your `core_ml_model.predict()` call to verify?

[2019-10-29 00:51] anilkatti commented on #492
@christinalau `try?` ignores errors and will set them to nil if they happen to occur.  Try `try` instead :)

[2019-10-29 08:58] kezakool commented on #497
You're awesome! it works! thanks!
But how was i supposed to find that? :) can it be added to documentation?

thank you @1duo , you can close the issue

[2019-10-29 18:18] #505 closed

[2019-10-29 19:37] christinalau commented on #492
@anilkatti I see. Thank you. Now I can get the exception. It said:
`Shape (100) was not in enumerated set of allowed shapes`

I made a guess and changed: ModelConstants.hiddenInLength from 100 to 200 and the exception went away. However, I don't know what ModelConstants.hiddenInLength and lastHiddenCellOutput means. Can you kindly explain what they are and how to set them?

I also noticed other od

[2019-10-31 20:33] ricox78 commented on #433
I've installed coremltools 3.0 ... but it seems that I have the same issue .... here what I have ....

[code]

Thank's again

[2019-11-01 07:50] ZhengPhoenix commented on #496
I found a solution, it's all about dimension converting.
just add a reshape layer after input layer, the issue can be fixed.
[code]

[2019-11-01 23:48] TobyRoseman commented on #408
This is indeed fixed in 3.0 and 3.1

[2019-11-01 23:48] #408 closed

[2019-11-02 08:29] y-ich opened #513 "Convolution kernel uses BNNS, not H11ANE on A12X. How can I fix it?"
## ❓Question
Hi.

I am still working about #485.
The converted model works correctly but slowly on A12X.
Regardless of a value of usesCPUOnly for prediction, the speeds are same.
And Instruments' Profiler shows BNNS is used for convolution kernel, not H11ANE.
How can I let Core ML to use H11ANE?

Thanks.

## System Information
- iPad Pro 11-inch
- iPadOS 13.2

[2019-11-05 17:13] michaelarfreed opened #516 ""RuntimeError: failed to convert from IR to Core ML." error when converting tf.keras to coreml in tensorflow 2.0"
## 🐞Describe the bug
- A clear and brief description of what the bug is. **I am unable to convert a tf.keras model to coreml in tensorflow 2.0 because of a RuntimeError**
- Is this a converter issue? **Yes.** If yes, please specify which converter (sci-kit, keras, xgboost etc.).  **tensorflow converter, using tf.keras in tensorflow 2.0**

## Trace
[code]

## To Reproduce
- If a python script can r

[2019-11-05 19:07] michaelarfreed commented on #516
I did some more digging... I think the Reshape layer is causing the conversion error. When I tried with the following model, I got a different error

[code]

The error I got was:

[code]

[2019-11-06 12:19] y-ich commented on #485
I understood that Switches were for batchnorm to switch training or inference in my case.
Removing Switches with floating output was not enough for constant propagation.
Recognizing Merges connecting with those Switches as constants brings constant propagation further.

[2019-11-06 13:40] johanlantz opened #517 "Setting epochs to any value other than what is in the model definition prevents training"
## 🐞Describe the bug
I have a trainable model converted from Keras. Starting training works fine but when I try to adjust the epochs value, the training fails to start. It seems I can only use the epochs value in the model default parameters. If I manually change the epochs value when converting the model, I can use the new value from my app but no other values are working.

## To Reproduce
A boot

[2019-11-06 17:15] anilkatti commented on #517
@johanlantz I tried downloading that but, google denied access. Could you mark it as public until I download?

One question - what is the error message you see in the catch block?

[2019-11-06 17:40] johanlantz commented on #517
Sorry about that, here is the new link:
https://drive.google.com/file/d/1EKZuJMYrkXzR9ey2h7xO2mAj6hSzLJWY/view?usp=sharing

The error is this one:
[code]

So using 1 or 10 is ok but using anything in between like 2 does not work.

Maybe I am misunderstanding but I would expect to be able to input any value less than the epochs?

[2019-11-06 23:14] Mstronach commented on #446
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/or [Jupy

[2019-11-06 23:14] #446 closed

[2019-11-06 23:16] Mstronach commented on #268
Experimental support for TensorFlow 2.x and tf.keras was added in coremltools 3.1 with some known issues, could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the neural network conversion guide and/or Jupyter notebooks for some conversion examples. If you encounter any issues while converting your model, please file a new GitHub issue with steps to

[2019-11-06 23:16] #268 closed

[2019-11-06 23:18] Mstronach commented on #436
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/or [Jupy

[2019-11-06 23:18] #436 closed

[2019-11-06 23:18] Mstronach commented on #439
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/or [Jupy

[2019-11-06 23:18] #439 closed

[2019-11-06 23:19] Mstronach commented on #266
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:19] #266 closed

[2019-11-06 23:20] Mstronach commented on #231
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:20] #231 closed

[2019-11-06 23:21] Mstronach commented on #397
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:21] #397 closed

[2019-11-06 23:21] Mstronach commented on #323
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:21] #323 closed

[2019-11-06 23:29] Mstronach commented on #210
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:29] #210 closed

[2019-11-06 23:29] Mstronach commented on #223
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:29] #223 closed

[2019-11-06 23:33] Mstronach commented on #297
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:33] #297 closed

[2019-11-06 23:34] Mstronach commented on #313
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:34] #313 closed

[2019-11-06 23:34] Mstronach commented on #320
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:34] #320 closed

[2019-11-06 23:34] Mstronach commented on #393
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:34] #393 closed

[2019-11-06 23:34] Mstronach commented on #413
Experimental support for TensorFlow 2.x and `tf.keras` was added in coremltools 3.1 with some [known issues](https://github.com/apple/coremltools/releases), could you please try again with the latest version of coremltools 3.1 and/or tfcoreml 1.1. Please see the [neural network conversion guide](https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md#tensorflow-converter) and/o

[2019-11-06 23:34] #413 closed

[2019-11-06 23:35] #497 closed

[2019-11-07 00:06] anilkatti commented on #517
@johanlantz the following call adds "1" as an allowed epoch value by default since keras model does not capture epochs in the h5 format.

`coreml_model = coremltools.converters.keras.convert('empty_model.h5', respect_trainable=True)`

Later, when you do `builder.set_epochs(10)`, we extended the allowed epoch values to [1, 10]. The value you provide during runtime should be one of those. That said,

[2019-11-07 05:24] y-ich commented on #513
I have another similar question.

I have a CNN weight which ran mainly using H11ANE on iOS 12.
It runs slowly on iOS 13 using MPS.

I will appreciate if you tell me conditions at which CNN models run on H11ANE.

[2019-11-07 08:42] johanlantz commented on #517
@anilkatti
As always, thanks for the super fast reply. You are correct, with your solution I can use other values as well as long as they are in the allowed set.

If I may, I would say that the description in xCode is a bit misleading.
![Screenshot 2019-11-07 at 09 36 29](https://user-images.githubusercontent.com/7461655/68373027-46789b80-0142-11ea-9f27-f0ea3e55a197.png)

It says "Maximum number o

[2019-11-08 05:42] anilkatti commented on #517
@johanlantz I agree the message is misleading. I have filed a bug to fix this. Thanks for your feedback.

[2019-11-09 10:00] y-ich commented on #513
Now I may begin to understand the issue at high level.
I guess that Core ML 2's model compiler folded Conv2D + BatchNorm but Core ML 3's one doesn't.
That is the reason why the speeds are different between iOS 12 and 13.
Is my understanding right?

[2019-11-10 08:44] y-ich commented on #513
I became confused further.

I have another mlmodel, which was converted for iOS 12 and runs using Neural Engine both on iOS 12 and 13.
I inspected the mlmodel and found that it includes batchnorms even though the original model have no batchnorms by folding.
I saw https://github.com/tf-coreml/tf-coreml/issues/288 and understood what happened.

Then I converted the original model to mlmodel for iOS

[2019-11-11 01:42] sebkim commented on #412
I guess Upsamle / Resize has this issue when usesCPUOnly=false.
When i turn usesCPUOnly as true, no error occurs.

[2019-11-11 12:42] y-ich commented on #513
About the model in the previous post, the model converted with minimum_ios_deployment_target='13' had batchedMatMul and addBroadcastable near output.
I made a patch extending fuse_bias_add for add to remove addBroadcastable.
The resulting model runs on Neural Engine.

About the model which slowed down on iOS 13,
I converted the original one with minimum_ios_deployment_target='13'.
The converter co

[2019-11-11 23:54] aseemw commented on #513
Hi @y-ich can you please share the original Tensorflow (.pb) model(s) on which you observed the change of behavior between `minimum_ios_deployment_target` = '12' and '13' values.

[2019-11-12 02:31] y-ich commented on #513
@aseemw san,

The link below is the one.
https://www.dropbox.com/s/u4j1n6srflybyt4/matmul_add.pb?dl=0

[2019-11-13 22:26] Mstronach commented on #82
@garryling123 do you have an update related to this issue? If you are still experiencing the issue please provide more details and we would be happy to take a look!

[2019-11-13 22:27] #86 closed

[2019-11-13 22:28] Mstronach commented on #88
Closing this issue as the PR has been merged.

[2019-11-13 22:28] #88 closed

[2019-11-13 22:29] Mstronach commented on #95
Closing this issue as the PR has been merged. Please feel free to reopen or file a new bug if you are still experiencing issues. Thanks!

[2019-11-13 22:29] #95 closed

[2019-11-15 08:00] sebkim commented on #225
i've been trying to solve this issue as well. my generator model outputs correctly with coremltools (in python). However, the model in iOS13 (iphone xs max device) outputs a bunch of NaN.  My model has two inputs. When I set first input to all white or all black pixels, that model gives some non NaN result. However, most of other inputs gives NaN result.

[2019-11-16 00:59] #517 closed

[2019-11-17 00:55] y26805 opened #521 ""ValueError: No outputs can be identified" when converting Keras Tensorflow model with coremltools 3.1"
## 🐞Describe the bug
When converting a Keras Tensorflow model (NOT `tf.keras` but normal `keras`, with Tensorflow 1.14) to coremltools, I experienced "ValueError: No outputs can be identified" .

What's intriguing is that the conversion works in certain circumstances but not in others.
### When it works
- if I pass in `model_path` and no other args
### When it doesn't work
"ValueError: No outputs

[2019-11-17 16:02] williamtong0228 opened #522 "How can I fix this error? PReLU Layer: 'name': unable to determine the channel dimension of the input blob."
## ❓Question
<img width="916" alt="Screenshot 2019-11-17 at 11 46 28 PM" src="https://user-images.githubusercontent.com/38699976/69009844-85092400-0994-11ea-9c77-300efb081f7f.png">

<img width="916" alt="Screenshot 2019-11-17 at 11 31 50 PM" src="https://user-images.githubusercontent.com/38699976/69009766-be8d5f80-0993-11ea-9e89-1b585980d387.png">

**warning:**
model.py:111: RuntimeWarning: You wi

[2019-11-18 01:28] sebkim commented on #225
I tested my model on iphone 11 pro and it works!!
I guess some neural layer only works on apple A13.

[2019-11-19 15:40] johanlantz opened #523 "Making a converted pytorch model trainable"
I have a very simple Pytorch model for classification of the Iris dataset:

[code]

I want to run this model with CoreML so I convert it to onnx first and then to CoreML.

The predictions work fine but I have not been able to make the model trainable. The output from inspect model is:
[code]

and then I try to make layer "7" updatable but this produces an error:
[code]

The conversion script I am

[2019-11-20 22:36] anilkatti commented on #523
@johanlantz CoreML introduced batchedMatmul layer last year. Convertor tries to use it in this specific case although underneath, the linear layer gets translated to inner product. I will file a bug internally to support training of batchedMatmul for future but, you should be able to work around this by making converter target older versions of iOS (which do not have batchedMatmul). Doing so, you

[2019-11-21 03:47] jaimemiranda1 opened #525 "How can fix this error when converting from Keras Model to CoreML?"
I have this Keras Model which is being trained and testes on images from 2 classes (cats and dogs):

`model = Sequential()`

`model.add(Conv2D(128, 3, 3, border_mode='same', input_shape=input_shape, activation='relu'))`
`model.add(Conv2D(64, 3, 3, border_mode='same', activation='relu'))`
`model.add(MaxPooling2D(pool_size=(2, 2)))`

`model.add(Conv2D(128, 3, 3, border_mode='same', activation='relu'

[2019-11-21 08:56] johanlantz commented on #523
@anilkatti
That works great, good tip. The conversion now finishes ok but now Xcode complains about the optimizer:
![Screenshot 2019-11-21 at 09 52 32](https://user-images.githubusercontent.com/7461655/69322184-b27bf900-0c44-11ea-93d5-aa4d7efd8b69.png)

When debugging the spec I do see a reference to sgd optimizer:
![Screenshot 2019-11-21 at 08 59 08](https://user-images.githubusercontent.com/7461

[2019-11-21 09:13] mrfarhadi commented on #523
@johanlantz once you have the converted model (model with inner product) you can make it updatable by using make_updatable method which automatically adds the required version for updating a model. I do not see you add loss and optimizer to the model in your script. Have you added them? If not, you need to explicitly add loss and optimizer. Example: https://github.com/apple/coremltools/blob/master

[2019-11-21 13:53] MalyutinS commented on #173
Have you tried the following?

`
from keras.models import load_model

model = load_model(path_to_model, compile=False)

coreml_model = coremltools.converters.keras.convert(model)
`

You can also try to add your custom objects to load_model

`custom_objects={'...': ...}`

[2019-11-22 02:27] miladm commented on #139
I have the same issue as well. I am curious if there are any resolutions to this issue.

[2019-11-22 13:09] y26805 opened #527 "TypeError when no custom_func is supplied in Keras 2 converter"
## 🌱 Describe your Feature Request
`TypeError: argument of type 'NoneType' is not iterable` is raised when converting a keras model to CoreML model and when`custom_conversion_functions` is `None` (i.e. default value).
This is a misleading error message, as the actual problem is that no converter functions is available. This happens when `layer_type` is not in `_KERAS_LAYER_REGISTRY` so user should

[2019-11-22 13:26] y26805 commented on #525
if you run `model.output`, you should see

this means that your output tensor's shape is (batch_size, 1), thus giving the probability of cat vs. dog as a number between 0 and 1.

meanwhile, you are specifying `output_labels = ['0', '1']`, suggesting that there are two classes.

you should therefore change your model from this

model.add(Activation('sigmoid'))

to this:

model2.add(Activation('soft

[2019-11-22 13:39] y26805 commented on #527
Closing this as I couldn't reproduce this upon restarting kernel....

[2019-11-22 13:39] #527 closed

[2019-11-22 18:06] jaimemiranda1 commented on #525
When I change that I get the following error: _ValueError: Error when checking target: expected activation_1 to have shape (2,) but got array with shape (1,)._ Any idea on how to fix that? Thanks!

[2019-11-22 21:39] jaimemiranda1 commented on #525
I was able to fix this. Thanks!

[2019-11-22 21:39] #525 closed

[2019-11-23 21:09] jamesonthecrow opened #529 "Converting models with tf.keras.layers.Upsampling2D layers fails due to shape inference."
## 🐞Describe the bug
Converting models with an upsampling layer followed by a convolution layer (and perhaps others), fails due to input shape inference. This seems to be because the graph_def created from the keras model does not impute the output shape of the upsampling output.

## Trace
[code]

## To Reproduce

[code]
## System environment (please complete the following information):
 - coremlt

[2019-11-24 16:02] johanlantz commented on #523
@mrfarhadi Thanks for the pointer in the right direction. The examples were a great resource.

After some tweaking, I think I got it to work ok.

[2019-11-24 16:02] #523 closed

[2019-11-25 05:59] shonejin commented on #513
Hi @y-ich and @aseemw I have a similar question. My model runs much slower after iPhone upgraded from iOS 12 to iOS 13. The PB to CoreML conversion tool does have a different behavior because the conversion failed for my after switching to the latest tfcoreml 3.1. I guess we have something in common here, have you guys solved this issue?

[2019-11-25 07:25] y-ich commented on #513
Hello, @shonejin san.

I had made several patches and had succeeded the conversions.
I think that it is better idea for you to create another issue since this issue is for performance.
About performance, I had resolved for some of my models by my patches and fails for some other models.
What I can tell you confidently is that addBroadcastable, which is the default add op on coremltools converter,

[2019-11-25 22:06] drjinying opened #530 "Model runs slower on iOS 13"
## ❓Question

Hi!

I developed an app based on CoreML where the model was converted with the previous converter. It runs at 30 fps. However, when I upgraded the iPhone from iOS 12 to 13, the model inference step takes three times longer.

Any body experienced the same issue or have any clue for the potential cause? Is this an expected behavior?

I can add additional information if the helps to loc

[2019-11-27 02:02] y-ich commented on #530
I provide a concrete example which slows down on iOS 13.

![example](https://user-images.githubusercontent.com/922001/69686727-f323b880-1103-11ea-8f8a-2b6a6773e397.png)

The red part is a block to be iterated, the rest is output heads.
This model runs by Neural Engine on iOS 12 but it runs by MPS on iOS 13. This is the reason of slow down.

I have no idea why this model behaves differently between

[2019-11-27 12:29] gi097 commented on #529
Ping, since I have the same problem during conversion on a Deeplabv3/MobileNetV2 model.

[2019-11-27 14:27] y-ich commented on #499
I saw that version 3.1 has a code to treat #485 but I think that this issue is not resolved yet in version 3.1.

[2019-11-28 14:55] johanlantz opened #531 "Applying weights and bias in configuration seems to not work"
## 🐞Describe the bug
I want to implement a simple federated learning scenario. In order to do this I download the latest weights and bias for each layer of my model from a server.

Then before starting a training round I want to apply these weights and biases in the configuration.

Before starting the updateTask I print the configuration and I see that the weights and biases are indeed correct in

[2019-11-29 05:28] anilkatti commented on #531
@johanlantz pardon the delay as most of us are out on a thanksgiving break! :)

I hate to break the news but, the functionality to set weights / bias before training a model on-device does not exist. We will consider this as a feature request in the context of federated learning. Please file a feature request at https://feedbackassistant.apple.com so, we could prioritize the work.

That said, I ca

[2019-11-29 06:14] johanlantz commented on #531
@anilkatti Thanks for clearing that up. That is indeed unfortunate since it was so close and it seemed as quite an easy thing to have since the parameters was just a MLParameterArray that accepted my values.

I will post the feedback suggestion since there are advantages working just with weights and bias. Not only for bandwidth but for framework agnosticness, simplifications on the server side an

[2019-11-29 06:55] johanlantz commented on #531
I just thought of one thing. After training completes, I get the updated model back for writing to disk in the completion handler.

Do you know if I can manipulate weights then, before writing the updated model to disk or does that have the same limitation? I did try updating in the progressHandler when training starts and it did not work so I guess it would be the same in the completionHandler or

[2019-11-30 06:17] anilkatti commented on #531
@johanlantz That's a good question, but, saving weights / biases is not hooked up - even from inside the completion handler - since the initial goal was only to allow personalization of the model that already existed on-device. The model does not get compiled on save since it always stays in the "compiled" format on the device. Weights / Biases from the intermediate buffers are saved to disk in co

[2019-11-30 08:58] johanlantz commented on #531
@anilkatti Again, thank you so much for all the advice and the offer to help. It's been a challenge connecting everything here and you have helped so much in clarifying uncertainties since there is not that much documentation on some of these topics.

I will go through your suggestion. I also started with another approach where the weights are extracted and sent to the server for aggregation and t

[2019-12-02 13:11] kedardg commented on #149
Hi @hanranCode  i get an issue for norm_param

google.protobuf.text_format.ParseError: 817:3 : Message type "caffe.LayerParameter" has no field named "norm_param".

can you help me on this

[2019-12-04 12:11] knutnordin opened #534 "Tensorflor 2.0 tf.keras CNN to updatable Core ML"
## ❓Question
Is there currently support for making a Core ML model converted from `tf.keras` with Tensorflow 2.0 updatable? Existing documentation and examples mainly seem to refer to standalone `keras`.

### Context
After converting a `tf.keras` CNN, saved in .h5 format, using `coremltools.converters.tensorflow.convert`, and trying to make the model updatable, we run into the following issues:

1

[2019-12-04 12:30] LeoIV opened #535 "Value of `add_custom_layers` ignored for keras 2 converter"
## 🐞Describe the bug
`add_custom_layers` without function for the Keras 2 converter (`_keras2_converter.py`) in function `_convert`. The value for `add_custom_layers` immediately gets overwritten:
[code]

If I understand `add_custom_layers` correctly, this is not the intended behavior. `add_custom_layers` is supposed to convert the model such that non-convertable layers have to be implemented late

[2019-12-04 22:49] shonejin commented on #530
Anybody from Apple...? @tim cook

[2019-12-04 23:24] anilkatti commented on #534
@knutnordin can you paste how you are calling convert method here?

[2019-12-05 04:07] aseemw commented on #530
Hi @shonejin , it would be difficult to guess without knowing more details on the model architecture.

You mentioned two issues :
- model running slower: for this we would need the model, because it depends on the model architecture and whether it was originally  running on GPU, NE or a combination of the two or combination of all 3 including CPU.
(if its confidential, please file a bug at https:/

[2019-12-05 07:12] knutnordin commented on #534
Thanks for the reply!
Here is a snippet with the conversion call:

[code]

[2019-12-05 10:40] aseemw commented on #249
Here are the list of layers supported by Core ML: https://github.com/apple/coremltools#core-ml-specification

and these are the frameworks supported for conversion: https://github.com/apple/coremltools#neural-network-conversion

[2019-12-05 10:40] #249 closed

[2019-12-05 11:15] aseemw commented on #139
can you please post a code snippet to reproduce the error.

[2019-12-05 12:57] DanWBR opened #536 "error converting a tf.keras RNN model"
## 🐞Describe the bug
- model is saved and loaded correctly using tf.keras
- during conversion to coreml model, an exception occurs: RuntimeError: Failed to load SavedModel or .h5 model. Cannot find the Placeholder op that is an input to the ReadVariableOp..

## Trace
  File "/Library/Python/3.7/site-packages/coremltools/converters/tensorflow/_tf_converter.py", line 119, in _graph_def_from_saved_mo

[2019-12-05 16:09] ghop02 commented on #529
I'm also running into this.  Is there a timeline for this being fixed or addressed?

[2019-12-06 05:31] anilkatti commented on #534
@knutnordin `tensorflow-coreml` converter does not support respect_trainable. Only keras converter supports that feature.

But, that's fine. You can still make the model updatable by explicitly calling `make_updatable` like you mentioned in your comment.

In this case, could you try changing the minimum_ios_deployment_target to `12`? If that works, Dense layer should get translated to InnerProduct

[2019-12-06 09:53] zoooo0820 commented on #225
@sebkim Hi. I'm facing a similar problem too. The performance and output of the same model are weird on XS and XS MAX, while the model works fine on other devices like IPHONE11 or IPHONE6. Did you find the reason of this problem?

[2019-12-06 13:02] knutnordin commented on #534
@anilkatti Thanks for the suggestions! I gave this a try, but ended up with an identical model as before, i.e. `batchedMatmul` and `softmaxND` layers are still present.

[code]

I also tried going through the `tfcoreml` tool, as I understand this has a different code path for pre iOS 13 versions, but it seems causes compatibility issues, supposedly with Tensorflow 2.0.

[code]

[2019-12-06 16:33] sebkim commented on #225
@zoooo0820 I can't find the reason. I've reported this issue on apple feedback, but it's quite slow for them to respond.

[2019-12-06 17:43] DawerG commented on #225
@zoooo0820 Is it possible for you to share your model so that we can reproduce the issue at our end?

[2019-12-07 01:09] TobyRoseman opened #538 "API Docs not update to latest version"
## 🐞Describe the bug
The latest version of coremltools is 3.1. However the hosted API docs are for 3.0.

## To Reproduce
Go to [the main README](https://github.com/apple/coremltools#user-guide-and-examples). Click on "API documentation" link. Observe that the version number in the top left hand corner is `3.0` not `3.1`.

[2019-12-08 07:06] srikris commented on #241
@enzyme69 Do you have any particular network in mind?

[2019-12-08 07:13] srikris commented on #259
@davidyuanst Can you confirm that the model is this one (as per the repo) [https://drive.google.com/drive/folders/0B9jhaT37ydSyRk9UX0wwX3BpMzQ]

[2019-12-08 07:16] srikris commented on #273
This usually means an installaion issue. Pleaes try to uninstall and install coremltools.

[code]

[2019-12-08 07:17] #273 closed

[2019-12-08 07:18] srikris commented on #294
Dupe of #253.

[2019-12-08 07:18] #294 closed

[2019-12-08 07:46] #487 closed

[2019-12-08 10:21] sebkim commented on #225
https://drive.google.com/open?id=11oY6uguu9uXO7SiUV3Zt62YUwcug0MxJ

Here is the model with which we can reproduce.

[2019-12-08 23:18] srikris commented on #417
coremltools does not provide functionality to go from coreml to other formats. We only provide ways to convert to coreml file format.

[2019-12-08 23:22] srikris commented on #405
You can use the builder API (https://apple.github.io/coremltools/generated/coremltools.models.neural_network.builder.html#module-coremltools.models.neural_network.builder) if you want to use Python or write to protobuf directly using (https://apple.github.io/coremltools/coremlspecification/)

[2019-12-08 23:22] #405 closed

[2019-12-08 23:23] srikris commented on #401
So we can repro this easily, where did you get this model from and which version of iOS are using..

[2019-12-08 23:23] #401 closed

[2019-12-08 23:25] srikris commented on #392
@aseemw Is this fixed in the latest iOS?

[2019-12-08 23:25] #392 closed

[2019-12-08 23:27] srikris commented on #330
@MisonoMayu Pleaes let us know if you are still having the issue on latest iOS versions.

[2019-12-09 00:18] srikris commented on #215
coremltools is designed to convert models to the CoreML format. The other way around is out of scope for this package.

[2019-12-09 00:18] #215 closed

[2019-12-09 00:20] #244 closed

[2019-12-09 00:26] #219 closed

[2019-12-09 00:33] #197 closed

[2019-12-09 00:34] #191 closed

[2019-12-09 00:35] #137 closed

[2019-12-09 00:38] srikris commented on #340
Unable to repro now.

[2019-12-09 00:38] #340 closed

[2019-12-09 06:10] 1duo commented on #538
https://github.com/apple/coremltools/pull/541

[2019-12-09 06:10] 1duo commented on #495
https://github.com/apple/coremltools/pull/541

[2019-12-09 06:10] #495 closed

[2019-12-09 08:24] zoooo0820 commented on #225
Sorry for the late reply. I found the difference is caused by the presicion of GPU/CPU. Now I change the way doing inference from GPU to CPU and the result is fine. However, the results on different devices on GPU, using a same model and a same input, are still different.

[2019-12-09 08:37] sebkim commented on #257
In my case, even if i turn on usesCPUOnly, my model on iphone Xs max still does not work.

[2019-12-09 10:17] aseemw commented on #489
Do you get the correct answer when running predict on the onnx model using `[onnxruntime](https://pytorch.org/tutorials/advanced/super_resolution_with_onnxruntime.html)`? This will help narrow down the issue, either to pytorch to onnx stage or onnx to coreml stage.

[2019-12-09 10:18] #496 closed

[2019-12-09 10:36] aseemw commented on #522
Please provide the scripts to reproduce the error.

[2019-12-09 10:37] aseemw commented on #433
I see that that argument `input_name_shape_dict` is indeed being provided hence this error should not be raised.
Can you please provide a script to reproduce the error?

[2019-12-09 12:48] #535 closed

[2019-12-09 13:41] Sawash commented on #433
@ricox78 had a similar error.

`Please provide a finite height (H), width (W) & channel value (C) using input_name_shape_dict arg with key = 'input1' and value = [None,H,W,C]`

I had to adjust the key to `input1` (not necessary in your example) and change the first value in the list from `1` to `None`. After this change it worked for me.

Try your example with:  `input_name_shape_dict={'image': [N

[2019-12-09 18:31] steverichey opened #542 "Converting ResNet-50 from Keras to CoreML causes subtle prediction differences"
## 🐞Describe the bug
Creating a network in Keras based on ResNet-50 and converting this network to CoreML format causes the output to be different in subtle ways. Using the script provided below, I receive the following:
[code]

## To Reproduce

[code]

## System environment (please complete the following information):
 - coremltools version  (e.g., 3.0b5): 3.1
 - OS (e.g., MacOS, Linux): macOS
 -

[2019-12-09 18:55] TobyRoseman commented on #538
I've confirmed that the changes from #541 have been deployed. It does seem like we are now serving the up to date API Docs.

However the version number is still not updated. The top left of [all API doc pages](https://apple.github.io/coremltools/index.html) still show `3.0` not `3.1`. This is confusing to users as it's not clear what version they are looking at.

[2019-12-09 19:45] 1duo commented on #538
#543

[2019-12-09 20:45] #538 closed

[2019-12-10 12:22] aseemw commented on #516
@michaelarfreed the code snippet you provided should work correctly, if you make a slight change to it. That is, provide the correct output name to the convert function. Instead of `'output'`, it can be obtained via `keras_model.output[0].name`

[code]

[2019-12-10 12:26] aseemw commented on #516
The converter should raise a more informative error message though. So will keep this issue open to track that change.

[2019-12-10 12:54] aseemw commented on #516
(Have at least updated the documentation in PR #546 )

[2019-12-10 17:12] williamtong0228 commented on #522
Hi, this is the scripts I used. I use my PC to learn the model. The coremltools doesn't support python 3.7 and 3.69 that I converted the model from onnx to mlmodel on my 15' 2018 macbook pro.
The code I use is from this repository:
https://github.com/leftthomas/SRGAN

except that I use my local pictures:
https://github.com/williamtong0228/notebook_learning/blob/master/SRGAN_local.ipynb

Below is h

[2019-12-10 22:34] 1duo commented on #542
Hi @steverichey, the error is very minor and it's because of different precisions of compute engine. If you enable `useCPUOnly=True` flag in `predict()` call to force CPU execution, you'll use same precision as Keras, and thus get much closer results.

In your code snippet, change last line to:

[code]

Let us know if you have further questions. Thanks!

[2019-12-10 22:34] #542 closed

[2019-12-11 06:27] cclaan commented on #529
I am also seeing this issue with the Conv2DTranspose layer.

[2019-12-11 14:12] michaelarfreed commented on #516
Thank you so much for the response! This fixed that issue in converter, and I am no longer getting this error in this example code or in my repo. In my less simplified repo, I am now getting an error `AttributeError: module 'tensorflow' has no attribute 'reset_default_graph'`, but I will open a new issue for this.

[2019-12-11 15:04] steverichey commented on #542
@1duo Do you know why this might have changed from version 2.x to 3.x? I don't recall seeing this difference previously, and the error is more noticeable with a non-trivial example.

[2019-12-11 15:22] michaelarfreed commented on #516
Nevermind, I forgot to specify `minimum_ios_deployment_target='13'`. Now it works. thanks again!!

[2019-12-11 15:42] michaelarfreed commented on #516
I have a follow up question: calling `tfcoreml.convert` (the code you provided) works great, but I would prefer to use `coremltools.converters.tensorflow.convert`. However, I am still getting the same RuntimeError when I change the call to ```
coreml_model = coremltools.converters.tensorflow.convert(os.path.join(hparams.model_dir,yml_out['model_filename']),

[2019-12-12 14:17] Praveenk8051 opened #549 "RuntimeError: failed to convert from TensorFlow to IR."
## 🐞Describe the bug
The conversion from protobuf graph to coreml is failing.
The model is trained by transfer learning of mobilenet  architecture
It is occuring during convertion from .pb graph to coreml issue

## Trace
WARNING:tensorflow:From /Users/praveen/opt/anaconda3/envs/untitled/lib/python3.7/site-packages/tensorflow_core/python/compat/v2_compat.py:65: disable_resource_variables (from tens

[2019-12-12 15:20] Praveenk8051 commented on #549
When i see the shape of the `input_1/BottleneckInputPlaceholder` it is `(?,1001)`.

So i tried to put the conversion code like this. Since there is another` placeholder(bottleneck)` apart from `input` and `output`

[code]
but unfortunately NoneType is not accepted

[2019-12-13 00:01] TobyRoseman commented on #456
Installing the oldest version of numpy we want to support, before running `cmake` and `make`, solves this issue.

[2019-12-15 00:26] y-ich commented on #513
After many trials and errors, I managed to let my weight run on Neural Engine.

[2019-12-15 00:26] #513 closed

[2019-12-17 01:44] MarcSteven opened #551 "install coremltools2.0"
## ❓Question
I want to use coremltools 2.0 to support iOS12,I found coremltools3.1 doesn't support iOS 12.
So how to applied the model support iOS12, I installed the package 2.0 and then it showed the error:
* 1, open my iTerm and input **pip install "coremltools~=2.0"**
* 2, and then it displayed the error as below(I had uninstalled the latest version 3.1)
`ERROR: Could not find a version that sa

[2019-12-17 02:10] 1duo commented on #551
Hi @MarcSteven, if you'd like to install coremltools version 2.0 you can run command `pip install coremltools==2.0`. What iOS 12 support are you looking for? All converters except TensorFlow supports iOS 12. If you're looking for TensorFlow iOS 12 support, take a look at: https://github.com/tf-coreml/tf-coreml

[2019-12-17 04:24] Cortlandd commented on #318
How did you resolve this?

[2019-12-17 05:07] Gerzer commented on #318
Honestly, I don’t remember how I fixed this issue. I’ll see if I can retrace my steps, so to speak, and post about it here if I can find the time to do so.

[2019-12-17 05:11] Gerzer commented on #318
What model are you trying to use? Could you post download links to the `.mlmodel` (Core ML) and `.h5`/`.hdf5` (Keras) files if possible? If it’s a custom model, then the original Keras code might be useful, as well.

[2019-12-17 07:15] sebkim commented on #225
after updating ios 13.3, coreml with usesCPUOnly true on iphone xs max works!

[2019-12-17 07:16] MarcSteven commented on #551
@1duo  I used Pytorch model,I want to make it support iOS12. I used onnx-coreml to convert it but always failed.

[2019-12-17 17:46] ghop02 opened #553 "tf.Keras softmax activation does not convert properly"
## 🐞Describe the bug
- Coremltools tensorflow converter fails to convert keras softmax activation function.
- Is this a converter issue? If yes, please specify which converter (sci-kit, keras, xgboost etc.): tensorflow 2.0

## Trace
[code]
## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]

Setting activation to `None` in the convolution converts pro

[2019-12-17 18:19] ghop02 opened #554 "remove_identity pass breaks graph when using separable conv"
## 🐞Describe the bug
the `remove_identity` function seems to break the ssa converter when a tf.keras `SeperableConv2D` layer is used.
- Is this a converter issue? Yes, Tensorflow (2.0)

## Trace
[code]

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]

## System environment (please complete the following information):
 - coremltools version  (e.g.,

[2019-12-17 19:49] ghop02 opened #555 "Specify custom names of input and output nodes using tensorflow converter"
## 🌱 Describe your Feature Request
 - Using the tensorflow converter you can easily rename the input and output nodes. It's quite helpful in keras, and would be nice to have for the tensorflow converter.
 - Right now the behavior is just to leave the names as the names of the tf input and output node names, which can have more cruft than desired.

## Use cases
 - Get converted tensorflow models wi

[2019-12-18 08:20] Praveenk8051 commented on #549
Can anyone help me with this?

[2019-12-18 11:32] mrgloom opened #556 "List of supported layers?"
How can I get list of supported by cormel layers?

[2019-12-18 12:27] 1duo commented on #556
Hi @mrgloom, which converter are you interested in? Here's the full list of layers Core ML 3 supports: https://github.com/apple/coremltools/blob/875abd9707dbe65eb92a31dbb54a68d6581e68ad/mlmodel/format/NeuralNetwork.proto#L472. If you're looking for support for a particular converter, you can take a look at https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md. Thanks!

[2019-12-18 12:30] 1duo commented on #549
Hi @Praveenk8051, can you share the model pb file you're using? Thanks!

[2019-12-18 12:33] 1duo commented on #551
In that case, you'd want to export your model into `.onnx` format first, and you can [file an issue](https://github.com/onnx/onnx-coreml/issues/new/choose) if you hit errors when using onnx-coreml. Thanks!

[2019-12-18 13:00] DawerG commented on #549
@Praveenk8051 Can you try passing in the shape of `"input_1/BottleneckInputPlaceholder"` as `[-1, 1001]` and see if it helps?

[2019-12-18 13:38] Praveenk8051 commented on #549
![Screenshot 2019-12-18 at 14 36 55](https://user-images.githubusercontent.com/20404922/71090757-0d513380-21a4-11ea-8754-4776b77f3cc5.png)

[2019-12-18 13:39] Praveenk8051 commented on #549
Did you get my email?

[2019-12-18 17:20] GZaccaroni opened #557 "Training with mean squared error loss"
I am experiencing several errors with coremltools.

If I try to use my model [UpdatableOptimizedPydnet.mlmodel.zip](https://github.com/apple/coremltools/files/3979521/UpdatableOptimizedPydnet.mlmodel.zip)
with mean squared error loss ( input_feature: Grayscale image 224x320 ) when I execute the following code:

[code]
the output shows:

Instead if I try to use the same model with MultiArray input

[2019-12-18 17:29] anilkatti commented on #557
@GZaccaroni can you provide the code for your "provider" (class that conforms to `MLBatchProvider`)?

Model seems to take in `im0__0` which is `Image (Color 640 x 448)` and `PSD/decoder/L1/estimator/Conv2D:0_true` which is `MultiArray (Double 1 x 224 x 320)` as training input.

[2019-12-18 18:20] GZaccaroni commented on #557
[code]

Yes, it takes both!

[2019-12-19 15:18] Praveenk8051 commented on #549
Every detail is provided on time. It would be helpful if this issue looked upon timely

[2019-12-19 16:52] #556 closed

[2019-12-19 16:53] mrgloom opened #559 "Is there any limit on number inputs / outputs?"
Is there any limit on number inputs / outputs converting model from TensorFlow to coreml?

[2019-12-19 17:58] Yrij-Zhavoronkov opened #560 "missing libcaffeconverter"
Hi, installed coremltools with `pip3 install git+https://github.com/apple/coremltools.`
Trying to convert network caffe to onnx (code from tutorial), but python gives an error:
[code]
What to do?
OS: Win 10 x64 Python 3.6

[2019-12-19 18:48] DawerG commented on #559
No, there is no such limit.

[2019-12-19 18:48] #559 closed

[2019-12-19 18:50] DawerG commented on #560
You will need to build it first: https://github.com/apple/coremltools#building-from-source

Alternatively, you can do `pip3 install coremltools` to fetch pre-built package.

[2019-12-19 18:55] DawerG commented on #549
Please try following two modifications:

1. Try removing the node `input_1/BottleneckInputPlaceholder` in the tensorflow graph. It appears to be a redundant operation.

2. Try calling the converter without `class_labels` option for now and see if the conversion works after modification 1 is done.

[2019-12-19 19:07] Yrij-Zhavoronkov commented on #560
it's strange why it doesn't go fully assembled, or at least warn?

[2019-12-19 20:50] mrfarhadi commented on #557
@GZaccaroni I tried your model by feeding random image (CVPixelBuffer) and labels (MLMultiArray) and the training progresses smoothly.
This is the code I used to add images:
[code]
Then I used the following to create training input for each sample:

[code]
How do you create the image inputs?

[2019-12-20 09:49] Yrij-Zhavoronkov commented on #560
Are you laughing?
Pre-built package is already installed.
`CoreML.framework and dependent frameworks not found. Skipping libcoremlpython build.
CMake Error at CMakeLists.txt:203 (message):
  Unsupported build platform.  Supported platforms are Linux and macOS.`

[2019-12-20 13:47] anilkatti commented on #560
@Yrij-Zhavoronkov like the error says, coremltools dependencies are not available on Win 10 x64.

[2019-12-20 20:34] Yrij-Zhavoronkov commented on #560
Then why are you telling me to build it? That's all.

[2019-12-20 20:34] #560 closed

[2019-12-20 20:36] #289 closed

[2019-12-21 10:56] y-ich opened #561 "Converting to FP16 prevents the model from using ANE in some cases"
## 🐞Describe the bug
I converted some MLModel which runs on ANE to FP16 and observed that the converted model does not run on ANE.
I wonder that Core ML's FP16-related code to determine whether it uses ANE or not may have a memory alignment issue.
FYI.

## System environment (please complete the following information):
 - coremltools version: 3.1
 - OS (e.g., MacOS, Linux): MacOS
 - macOS version

[2019-12-21 14:15] GZaccaroni commented on #557
I have created the inputs the same way as you did.
Have you tried to persist the trained model?

[2019-12-21 20:32] rdv0011 opened #562 "[TensorFlow][TypeInference] Unable to infer type of node "XXX" (ScalarSummary)"
## Is ScalarSummary supported at all by CoreML tools?

A trivial TensorFlow graph with ScalarSummary CoreML tools fails to convert it.

## System Information
[code]

[code]

**CoreML tools**
Name: coremltools
Version: 3.1

**CoreML output**
[code]

[2019-12-23 05:44] MarcSteven commented on #551
Yeah absolutely I will, thank you so much.
I opened one issue about it , but the contributor told me because CoreML doesn't support shape or gather, so I had better use CoreML3.0. So it means the CoreML2.0 cannot use, so for me I cannot use iOS12, I should start my project from iOS13.

[2019-12-23 05:44] #551 closed

[2019-12-23 08:38] Praveenk8051 commented on #549
Deleting a node may not be a solution as per
https://github.com/tensorflow/tensorflow/issues/2245
https://stackoverflow.com/questions/37610757/how-to-remove-nodes-from-tensorflow-graph

Also, it really isn't straight forward to perform the node deletion.

The same tf to coreml conversion works perfectly in Tf - 1.14.0 version but not in Tf 2.0.0

[2019-12-23 08:38] Praveenk8051 commented on #549
Deleting a node may not be a solution as per
tensorflow/tensorflow#2245
https://stackoverflow.com/questions/37610757/how-to-remove-nodes-from-tensorflow-graph

Also, it really isn't straight forward to perform the node deletion.

The same tf to coreml conversion works perfectly in Tf - 1.14.0 version but not in Tf 2.0.0

[2019-12-23 10:58] diddlyPop commented on #504
i just submitted a PR (#564) for this

[2019-12-25 01:38] MarcSteven opened #565 "Convert multiArray to image as the input type"
## ❓Question
I had tried to use it to convert the input of multiArray as the image and then it always predictions wrongly.
At the beginning of launching the project it always showed the wrong output(but the first output is same) The previous input type is multiArray(float 32)
And then I convert it to image
<img width="204" alt="Screen Shot 2019-12-24 at 09 42 57" src="https://user-images.githubuse

[2019-12-25 06:06] OuHangKresnik commented on #348
I have the same issue:

the slope only contains arrays of floatValue

[2019-12-26 01:19] #565 closed

[2019-12-29 16:58] yairlev commented on #164
I have a similar problem and I'd appreciate some assistance:

[2019-12-29 17:15] yairlev commented on #164
I have a similar problem and appreciate some assistance:

I'm trying to convert the following Keras model to an mlmodel:

[code]
But the conversion translates the input shape incorrectly as described in [this](https://github.com/apple/coremltools/issues/70) thread, so I changed the model such that I flatten the input and then run a Reshape as follows:

I have the following model:
[code]

The Keras

[2019-12-31 07:25] Jhilam2014 commented on #433
After I save the h5 model (yolov3-keras custom model) to coreML model, I am getting this log:

output {
  name: "grid"
  shortDescription: "The 13x13 grid with the bounding box data"
  type {
    multiArrayType {
      shape: 21
      dataType: DOUBLE
    }
  }
}

I thought shape will be 13x13x125. But it is not. h5 model is working well in python but when I am trying to run it on iOS/swift, I am

[2020-01-03 10:11] MarcSteven opened #566 "print the output result when the output is multiArray"
## 🌱 Describe your Feature Request
- I have a mlmodel - input is the image and then the output is multiArray, I reviewed the api and then find it always return the pair of array - dictionary
- CoreML / iOS version you are using?the latest one
- Are you interested in contributing?

## Use cases
-  debug the output type (multiArray)
Please provide examples

## Describe alternatives you've considered

[2020-01-06 13:40] GZaccaroni commented on #407
This bug is fixed so I'm closing the issue.

[2020-01-06 13:40] #407 closed

[2020-01-06 17:16] ghop02 commented on #554
Any updates one when this might be addressed? The current bugs in coremltools are a big blocker for upgrading to our code to tf 2

[2020-01-07 21:35] #553 closed

[2020-01-08 08:13] MarcSteven opened #571 "Debug when the input type is multiArray"
## 🌱 Describe your Feature Request
- I used coremltools to debug my product. But I found there is only one method "model.predict(image:image)" but if the input is multiArray, it is not easy to debug.
- CoreML / iOS version you are using?
- Are you interested in contributing?

## Use cases
- When the input is multiArray ,how to debug
- Please provide examples

## Describe alternatives you've consid

[2020-01-08 09:17] MarcSteven commented on #571
@1duo  Give some example to deal with multiArray .Thank you.
I have a input type (multiArray), I want to debug

[2020-01-09 04:05] ReneWu1117 commented on #527
I have the same issue, when I convert mobilenetV3, the source code is [here](https://github.com/xiaochus/MobileNetV3).
And I can reproduce the issue.

[2020-01-09 06:42] ReneWu1117 commented on #527
I find the default value of custom_conversion_functions is None, so it's maybe a bug?
when I modify `if layer_name in custom_conversion_functions:` to `if custom_conversion_functions is not None and layer_name in custom_conversion_functions:`, the issue is gone, and I convert the model successfully.
I will check if there is any problem with the converted model.

[2020-01-09 15:03] anilkatti commented on #571
@MarcSteven we have some examples here where we run prediction on models that accept array inputs:

https://github.com/apple/coremltools/blob/master/examples/neural_network_inference/Neural_network_control_flow_power_iteration.ipynb

Is that what you are looking for?

[2020-01-10 04:14] ReneWu1117 commented on #527
Now I know the solution. The custom activation function must be modified with Lambda. The tutorials is [here](https://machinethink.net/blog/coreml-custom-layers/).

[2020-01-10 06:01] MarcSteven opened #573 "When insert the new layer ,it shows the error "NoneType' object doesn't have attribute 'Layer'"
## ❓Question
When I insert a new layer(Scaler) at the beginning of the model, it displayed the error as below:
'NoneType' object doesn't have attribute 'layer'
`import coremltools
import copy
from helper import get_nn

image_scale = 1.0 / (0.226 * 255.0)
red_scale = 1.0 / (0.229 * 255.0)
green_scale = 1.0 / (0.225 * 255.0)
blue_scale = 1.0 / ( 0.224 * 255.0)
model = coremltools.models.MLModel("Fac

[2020-01-10 15:15] MarcSteven commented on #571
No, it's not the suitable example.

[2020-01-10 15:17] MarcSteven commented on #566
@1duo  When do you add the feature into the tools?

[2020-01-10 15:53] srikris commented on #566
Is your model a classifier? That would explain that. During conversion, you can disable the conversion as a classifier and this should work.

[2020-01-10 23:46] MarcSteven commented on #566
Yeah @srikris  It should be a classifier, but the machine learning engineer always make input type as multiArray, and then never offered the complete result, in the mobile I need to do the computation of softMax

[2020-01-11 00:47] anilkatti commented on #566
@MarcSteven do you need the output before softmax at runtime on mobile? If that layer output is made model output, you could access it as a multiarray at runtime after each prediction. I am sorry, if am not understanding your ask properly.

[2020-01-11 00:49] anilkatti commented on #571
@MarcSteven could you clarify what are you trying to debug? The examples in the python notebook show how to input a numpy arrays as input when the model accepts arrays. Are you looking for an example in objective-c or swift to implement inside your app?

[2020-01-11 01:34] MarcSteven commented on #571
I met one issue - the input is multiArray 1* 3 * 224 * 224, i did it and passed the image into the model, but it cannot deal with the data type.
For output I can save it to npy file and then use numpy to load it and then I can read the value in the multiArray.

[2020-01-11 01:36] MarcSteven commented on #566
Yeah right, but now the result of prediction is same. @anilkatti

[2020-01-11 02:53] MarcSteven opened #575 "The error 'module object doesn't have convert when convert to CoreML"
## 🐞Describe the bug
- I had a model from keras, I want to convert it to the CoreML. But it displayed the error 'Module' object doesn't have convert

- Is this a converter issue? If yes, please specify which converter ( keras.)

## Trace
If applicable, please paste the error trace.

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]

[2020-01-11 17:54] yurijvolkov opened #576 "Bug in fuse_conv_mul_add_into_batchnorm optimisation?"
## 🐞Describe the bug

Note: seems like some functions were renamed in master after 3.1 release that I use. But I still provide links to master code just for clearness of explanation of problem.

Here https://github.com/apple/coremltools/blob/9e3a20d7f5fd24a765a5901ef04467f467fc406b/coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py#L723

I have some node `generator/concat_1` with next pr

[2020-01-11 18:34] DawerG commented on #576
@yurijvolkov Right, we encountered this bug as well. I was hoping that the fix for it is already in the master. Could you please try building from the source and re-convert the model to see if it resolves your issue?

[2020-01-11 18:51] yurijvolkov commented on #576
@DawerG
It works, thx

Could you please point me to PR where it was fixed?

[2020-01-11 18:51] #576 closed

[2020-01-13 05:05] anilkatti commented on #571
This means the model cannot deal with images? If the model expects multi array input, you could feed in a numpy array while invoking prediction using python. Can you share your model? We might be able to provide some python code that shows how to run prediction using your model specifically.

[2020-01-13 10:08] MarcSteven commented on #571
The input type is multiArray - 1 * 3 * 224 * 224 @anilkatti

[2020-01-13 19:57] anilkatti commented on #571
@MarcSteven it would have been helpful to take a look at your model to give a more specific answer but, I will take a shot in the dark.

Based on your description, I think your model takes multiarrray of shape (1, 3, 224, 224) as input. So, you could use a numpy array as input. Can you try something like this?

[code]

[2020-01-13 20:02] anilkatti commented on #566
Could you clarify the issue you are facing again?

[2020-01-13 20:13] aseemw commented on #571
More details added in PR #577 might clarify.

[2020-01-13 23:45] diddlyPop commented on #575
@MarcSteven Hey Marc! Please update all the other relevant information in the issue report, like version numbers for all tools listed above.

Also, this problem seems to have been fixed in the past by correcting version incompatibility. Try to update your version of tensorflow/keras as well as making sure you have the latest version of coremltools.

Regardless, please update with the versions you

[2020-01-14 02:03] vijaysharm opened #578 "CoreML LSTM input doesn't match Keras input shape"
## ❓Question
I'm trying to convert a very simple keras model to CoreML, however, the inputs of the CoreML model don't seem to match my expectations.

The model I'm creating has an input shape of (5, 10) (five timesteps, 10 features), however, after converting the model, and opening the model in Xcode, it says the input type is `MultiArray (Double 10)`, which, from my understanding is a single dime

[2020-01-14 04:35] MarcSteven commented on #571
I will try and then let you know the result. Last time I tried and then get the wrong result - cannot handle the data.

[2020-01-14 05:33] MarcSteven commented on #575
@diddlyPop I used the latest tensorflow  and then tried to convert it to CoreML.
But it shows that  the module object doesn't  have convert. I updated the coremltools to the latest version and then the error cannot be fixed!

[2020-01-14 05:36] MarcSteven commented on #566
I had one model , its output type is multiArray.
But there is no api to print the results.
The solutions I used is that firstly I saved it as the file of npy extension and then use numpy to load the file , and finally print it .
I want to print the result directly. I know the prediction result is dictionary, but mine is not a dictionary.

[2020-01-14 06:24] diddlyPop commented on #504
@1duo this can be closed now

[2020-01-14 18:00] #504 closed

[2020-01-14 19:29] #554 closed

[2020-01-14 19:47] bhushan23 opened #579 "Removing `/tmp/` data after test"
https://github.com/apple/coremltools/pull/509 added few test cases related to image class labels
in `test_neural_networks` namely `test_cassifier_with_int_label_list`, ...

Test creates temp files but does not removes them.
We should be using standard python library to create temporary directory and clean it up after the test.

[2020-01-14 21:47] jiafatom opened #581 "DataTypeBase init error caused by a bug in PR 563"
I made a comment to PR [563](https://github.com/apple/coremltools/pull/563), it will cause DataTypeBase init error, which breaks our onnxmltools [pipeline](https://dev.azure.com/onnxmltools/onnxmltools/_build/results?buildId=8949&view=logs&j=03329c05-1f9f-5d37-62ae-822c2e7179c1&t=be5df694-97a2-5719-346c-7b12aef699b8)
The detail is:
` None` should not be in `format`: should change to `_DatatypeBase

[2020-01-14 21:51] #579 closed

[2020-01-14 22:44] 1duo commented on #581
Fix has been merged. @jiafatom Let us know its still creating issue for onnxmltools pipeline. Thanks @jiafatom!

[2020-01-14 22:44] #581 closed

[2020-01-15 00:55] 1duo commented on #575
@MarcSteven Which Keras version are you using?

[2020-01-15 00:58] 1duo commented on #573
@MarcSteven You might need to get corresponding type of network before you can access `.layers`: https://github.com/apple/coremltools/blob/master/docs/APIExamples.md#printing-the-pre-processing-parameters

[2020-01-15 02:25] MarcSteven commented on #573
@1duo  Thank for your tips, I will try and then let you know the result.

[2020-01-15 02:28] MarcSteven commented on #575
@1duo  I used 2.1.6

[2020-01-15 03:26] diddlyPop commented on #575
@MarcSteven 2.1.6 was released over a year ago. Have you tried updating your version of Keras? I can only assume at this point that you are also using other versions that may be out of date. Again, please update the issue with all relevant issue numbers.

[2020-01-15 09:36] freedomtan commented on #549
@Praveenk8051

FYR, I was able to do
[code]
after https://github.com/apple/coremltools/pull/509.

Where `test.pb` and `test.txt` are from your google drive.

[2020-01-15 10:00] Praveenk8051 commented on #549
@freedomtan
I haven't tried this from Dec last week. Maybe some bug has fixed it? Not sure.
But, Please find the link below.
[https://drive.google.com/open?id=1Tw_TJMzNFWdfWtcnvuuUOa8rGSi353CV]

[2020-01-15 12:59] MarcSteven commented on #575
@diddlyPop  I will update the version of keras and then try to confirm the issue. If any progress about it , will let you know the details.

[2020-01-15 20:08] ghop02 opened #583 "Global Style Guide/Code formatting"
## 🌱 Describe your Feature Request
I think this repo could greatly benefit from a standardized code style guide and/or auto-formatting.  As an open source repository, a lot of different developers with different backgrounds contribute code and as a result, the styles of code people write vary greatly.

I think conforming to a style guide would help make this repo a bit more approachable and easier

[2020-01-15 20:51] diddlyPop commented on #583
Totally agree with this post! They don’t have CI/CD setup yet, but regardless a style guide would be good to follow. I know that I saw a specific style guide being used for other Apple repo’s, but can’t seem to find it right now.

[2020-01-15 21:41] jamesonthecrow commented on #583
I'd also find this very helpful.

[2020-01-17 04:31] freedomtan commented on #549
@Praveenk8051 I mean with #509 I can convert your model with your label file without problem.

[2020-01-17 18:03] 1duo commented on #529
This bug fix should be included in `coremltools` 3.2 release. Please upgrade your `coremltools`(`pip install --upgrade coremltools`) to verify. Feel free to re-open if you still encountering this issue. Thanks!

[2020-01-17 18:03] #529 closed

[2020-01-17 18:03] 1duo commented on #499
This bug fix should be included in `coremltools` 3.2 release. Please upgrade your `coremltools`(`pip install --upgrade coremltools`) to verify. Feel free to re-open if you still encountering this issue. Thanks!

[2020-01-17 18:03] #499 closed

[2020-01-17 18:03] 1duo commented on #549
This bug fix should be included in `coremltools` 3.2 release. Please upgrade your `coremltools`(`pip install --upgrade coremltools`) to verify. Feel free to re-open if you still encountering this issue. Thanks!

[2020-01-17 18:03] #549 closed

[2020-01-17 18:03] 1duo commented on #516
This bug fix should be included in `coremltools` 3.2 release. Please upgrade your `coremltools`(`pip install --upgrade coremltools`) to verify. Feel free to re-open if you still encountering this issue. Thanks!

[2020-01-17 18:03] #516 closed

[2020-01-19 06:38] y-ich commented on #499
The version 3.2 does not solve this issue.

I think that you need the fix by https://github.com/apple/coremltools/issues/499#issuecomment-546232749.

(I can not reopen this issue. no buttons)

[2020-01-19 07:56] Praveenk8051 commented on #549
Sounds great. Thank you :)

[2020-01-20 05:57] LinShihChieh opened #587 "How to make image input in coreml model? (Core ML 3)"
## ❓Question

When I use CoreML2. I can convert successful from pb to coreml model which has only one input is image input.

If I use minimum_ios_deployment_target='13', I can't only give "image_input_names"
Is "input_name_shape_dict" become necessarily parameter?

Thanks a lot.

[2020-01-21 13:50] osianSmith opened #589 "Access Layers of a model within a pipeline"
## ❓Question
Hey, I have a SoudAnaysisis model (created by CreateML) and I want to access GLM classifier and replace it with my own model. However, when using CoreMlTools there does not seem to be a method for me to access the layers. When I try to loop over layers I get 0 layers. Is there any way for me to access these layers?
Here is my code:

[code]
## System Information
- macOS catalina (10.15

[2020-01-21 14:39] osianSmith commented on #589
Hey
I found the solution here

https://github.com/apple/coremltools/issues/427

I'll close this as It's now resolved

[2020-01-21 14:39] #589 closed

[2020-01-23 15:46] ghop02 opened #591 "Double transpose ops when using image inputs on a TF 2 model"
## 🐞Describe the bug
 - There are duplicate transpose ops that should be removed.

## System environment (please complete the following information):
 - coremltools version  (e.g., 3.0b5): 3.20
 - OS (e.g., MacOS, Linux): MacOS
 - any other relevant information:
     - e.g. using TF 2

## Additional context

[code]
![image](https://user-images.githubusercontent.com/1422280/72943701-c1665100-3d44-1

[2020-01-25 06:31] srikris opened #599 "Flaky test in Xgboost regressor test"
Failing unit tests (See #598)

[code]

[2020-01-28 20:27] TobyRoseman commented on #456
This is **not** fixed in 3.2. We still get a segfault using [the original instructions](https://github.com/apple/coremltools/issues/456#issue-496090480). Reopening.

[2020-01-29 10:25] osianSmith opened #601 "CoreML as a feature extractor"
## ❓Question
Hi all
I am trying to use CoreML as a feature extractor (from sound analysis). I've split up by model as I said in issue #589  however when I try to get Xcode to start the model  I receive this error:

Invalid model, classification models must have 'predictedProbabilitesName' and 'predictedFeaturesKey' properties
Unable to prepare request: Invalid model, classification models must hav

[2020-01-29 17:40] califrench commented on #601
Hi @osianSmith ,

Your model currently defines itself as a neuralNetworkClassifier.
You can see that by loading your model and inspecting its contents:
[code]
The neural network classifier provides some conveniences towards the end by returning a dictionary of probabilities as well as a top class label.

What you want in your case is a non-classifier neural network.

You will need to copy all the

[2020-01-29 18:10] rsebbe opened #603 "ValueError when converting tf2.keras model (.h5) with BatchNormalization + channels_first ordering"
## 🐞Describe the bug
conversion fails with a ValueError when .h5 model (tf2.keras) has a BatchNormalization layer, and channels_first ordering is used. It works with channels_last ordering, and it works with channels_first when removing the BatchNorm layer.

Note that BatchNormalization is created with axis=1 (this is to cope with channels_first).

## Trace
[code]

## To Reproduce
Use the provided

[2020-01-30 01:56] jakesabathia2 commented on #536
@DanWBR Thanks for providing this great script and we did reproduce your error.
Unfortunately, it is a known issue in Tensorflow that its convert_variables_to_constants_v2 (which we are now using before converting model into coreml format) doesn't support LSTM layers.
However, coremltools does support RNN for tf.1.x :).
Let us know if you have other concerns.

[2020-01-30 02:06] jakesabathia2 commented on #575
@MarcSteven  Do you still have the same issue :) ?

[2020-01-30 02:10] MarcSteven commented on #575
Yeah  @jakesabathia2

[2020-01-30 02:14] jakesabathia2 commented on #575
@MarcSteven could you provide your script which we can reproduce your error?

[2020-01-30 11:56] MarcSteven commented on #575
'coreml_model = coremltools.converters.keras.convert(model_in)
#save the coreml
coreml_model.save("faceEmotion20200110.mlmodel")`
@jakesabathia2  Please review the code

[2020-01-30 12:38] ardamavi opened #604 "Create MLModel from Spec gives segmentation fault"
I have a CoreML Model (Neural Network Classifier) that works well. I want to create updatable model from that one. For this, I wrote the Python script below. But I get `zsh: segmentation fault  python script.py` error when I run script.

[code]
The error comes in the `mlmodel_updatable = coremltools.models.MLModel(spec)` line.
If I give incorrect input and get a warning in `builder.set_epochs` sec

[2020-01-30 18:00] mrfarhadi commented on #604
@ardamavi, do you see any error when you open your model with XCode? something starts with`validator error: ` .

One thing I can see from your code is that `builder.set_epochs(8, [1,2,4,10,16])` is incorrect, as 8 must also be included in allowed_set. You need to change it to `builder.set_epochs(8, [1,2,4,8,10,16])`. However, the `builder.set_epochs(allowed_set=[1,2,4,8,16])` looks OK.

[2020-01-30 18:38] kvaDrug opened #605 "Converted XGBoost model with 'objective': 'binary:logistic' params - wrong predictions"
## Bug description
Create a XGBoost Booster with parameter 'objective': 'binary:logistic'. Then convert it to CoreML. The resulting MLModel gives wrong predictions.

Here is the script demonstrating the error:
[code]
Typical output:
[code]
We don't need a specific comparison method to see that the CoreML output is wrong and the difference between the original and the converted model isn't linear a

[2020-01-30 19:06] ardamavi commented on #604
@mrfarhadi No, There is no `validator error` in the Xcode. Even, the model class is created correctly, but I get `Build Error: Command CoreMLModelCompile failed with a nonzero exit code` in build.

I don't use `builder.set_epochs(8, [1,2,4,10,16])`, I just give extra information. I don't get `segmentation fault` error with this incorrect line but I get error in Xcode.
Was it unnecessary informatio

[2020-01-30 19:12] kvaDrug commented on #605
## MVE
You can reproduce this bug with the specific set of params. Run this script:
[code]
It will produce different predictions for XGBoost and CoreML.

[2020-01-30 19:34] kvaDrug commented on #605
Further exploration shows that only one parameter - `'objective': 'binary:logistic'` is enough to get wrong output from MLModel.

[2020-01-30 21:39] jakesabathia2 commented on #575
@MarcSteven How did you produce `model_in` ? Do you have a script for it?

[2020-01-30 23:27] mrfarhadi commented on #604
@ardamavi I see. Can you send me your app with the model so that I can test it on my end?

[2020-01-30 23:45] ardamavi commented on #604
@mrfarhadi Unfortunately, I can't send it because it is a private work.

[2020-01-30 23:47] #166 closed

[2020-01-31 00:53] mrfarhadi commented on #604
That is OK. Would you share if XCode shows anything else in the build logs that might shed some light to the issue?

[2020-01-31 01:13] ardamavi commented on #604
@mrfarhadi I get just one error message and no further information.

[2020-01-31 06:29] srikris opened #610 "Re-enable flaky tests in the codebase"
There are currently 8-10 tests there disabled due to flakiness and we need to re-enable them.

[2020-01-31 07:16] bhavin250495 opened #611 "ML model doesn't load on background thread"
## 🐞Describe the bug
- The inference runs fine when the app is in foreground but when it goes background, and tries to run inference gets crashed or takes long time to load model `MLModel.init()`

## Trace
2020-01-31 12:17:10.135653+0530 ********** [3505:875445] [coreml] Error in adding network -1.
2020-01-31 12:17:10.139437+0530  ********** [3505:875445] [coreml] MLModelAsset: load failed with er

[2020-01-31 09:27] MarcSteven commented on #575
@jakesabathia2  It's only the path about the model

[2020-01-31 13:16] yaysummeriscoming commented on #372
I'm getting the same issue.  Running 10.14.6, tried both python 3.6 and 3.7.  Also tried coremltools 3.0, 3.1 and 3.2 and building from source as per bhushan23's instructions.  Any ideas?

[2020-01-31 14:55] ardamavi commented on #604
@mrfarhadi Full message of build error:
[code]

[2020-01-31 15:03] ardamavi commented on #604
I try to run my python script with my CoreML model without apply Quantize. Script and Xcode build worked without any problems.
And I noticed that, when I put the model I got the build error into my Xcode files, a question mark appears next to it. When I wait above the question mark with the mouse, "Unversioned" message appeared. But I couldn't understand what that mean.
Why I can't make Quantized

[2020-01-31 16:35] ghop02 opened #612 "`pip install coremltools` fails on a fresh environment"
## 🐞Describe the bug
`pip install corelmtools` fails in a fresh python environment because of the `from coremltools import __version__` in setup.py.
When it imports the coremltools package, it tries to load all the dependencies.

## To Reproduce
- Fresh environment
[code]

[2020-01-31 18:54] anilkatti commented on #611
@bhavin250495 could you share the code that you are using to run the prediction in the background? One thing to keep in mind is background mode is enabled only on CPU. You can do this by setting MLModelConfiguration.computeUnits.

[2020-01-31 18:56] mrfarhadi commented on #604
Quantized models are not supported for update unfortunately. You might want to de-quantize your model before making it updatable.

[2020-01-31 19:21] aseemw commented on #604
Only the layers marked as updatable need to have un-quantized weights.

You can have a model with, say 10 conv/dense layers (layers with weights), such that the first 9 layers are quantized and not marked as updatable and the last layer is marked as updatable and unquantized. This is totally fine and should work.

[2020-01-31 20:24] ardamavi commented on #604
Thank you for your interest. @mrfarhadi @aseemw

[2020-01-31 20:39] osianSmith commented on #601
Hello @califrench
Thanks for your help, however, when looking at the model's layers[-1] I get an out of bounds error on the original model that CreateML has produced and also on a model that had been split. Is this likely that I'm not accessing a sub-model and if I am how would I do this?

Thanks again

[2020-01-31 20:59] jakesabathia2 commented on #536
https://github.com/tensorflow/tensorflow/issues/29674
@DanWBR
This tensorflow issue is tracking the same error.

[2020-01-31 21:03] DanWBR commented on #536
@jakesabathia2 thank you for your help. I'm not working on this model anymore but I'll keep an eye on this issue as I may come back to it in the future.

[2020-01-31 22:21] ardamavi commented on #604
@aseemw How can I de-quantize the selected layers that I will make updateteable?

[2020-01-31 22:28] califrench commented on #601
Hi @osianSmith,
I'm not 100% sure about the model you have. Is it a pipeline or is it now a single neural network?
If it's a pipeline then you would need to access the layers with `spec.pipeline.models[index].neuralNetworkClassifier.layers`.

[2020-01-31 22:35] jakesabathia2 commented on #575
@MarcSteven
According to our doc: https://github.com/apple/coremltools/blob/master/docs/NeuralNetworkGuide.md
After `pip install --upgrade tfcoreml` should solve the error.
Let us know if we still have issue :) .

[2020-01-31 23:08] jakesabathia2 commented on #536
https://github.com/tensorflow/tensorflow/issues/36391

[2020-01-31 23:23] #575 closed

[2020-01-31 23:46] osianSmith commented on #601
It's a pipeline

spec.pipeline.models[0].neuralNetworkClassifier.layers  (instead of the index as index is not defined in my code) and it's complaining it's out of range, Is there likely an Issue with my model? @califrench

[2020-02-01 00:57] jakesabathia2 commented on #522
Thanks for reporting this issue we are now looking at it.

[2020-02-01 07:36] #456 closed

[2020-02-01 21:25] kvaDrug commented on #605
## Workaround

After 2 sleepless nights of reverse engineering of both coremltools and xgboost repos and playing with booster params I noticed this line at the end of the MLModel dump:
`basePredictionValue: 0.5 `
This is the default value for TreeEnsembleRegressor which is set in /converters/xgboost/_tree_ensemble.py during the conversion.

And also, the converted MLModel doesn't apply any post pr

[2020-02-03 04:48] tnkjm commented on #139
I got same Error.
This is my code snippet. I hope this helps.
[code]

    Package              Version
    -------------------- --------
    absl-py              0.9.0
    appnope              0.1.0
    astor                0.8.1
    attrs                19.3.0
    backcall             0.1.0
    bleach               3.1.0
    coremltools          3.2
    Cython               0.29.14
    decorator

[2020-02-03 17:29] leonardoaraujosantos opened #615 "Incorrect Bidirectional LSTM Output Shape on Prediction"
## 🐞Describe the bug
- Output shape from prediction on coremltools doesn't match Pytorch/ONNX output.
The predictions are correct and match with the results from onnxruntime/pytorch, but there are 2 extra (1) dimensions.
[code]

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]
- If applicable, please attach the source model
    - If the model canno

[2020-02-03 17:59] aseemw commented on #615
@leonardoaraujosantos this is expected. If you look at the definition of the LSTM layer in CoreML, the layer only operates on the rank 5 tensors: https://github.com/apple/coremltools/blob/1fcac9eb087e20bcc91b41bc938112fa91b4e5a8/mlmodel/format/NeuralNetwork.proto#L3279

The converters automatically handle this rank variation via inserting expand_dims/squeeze layers as required.

[2020-02-03 18:36] srikris opened #616 "Re-enable tests marked as failure due"
The following tests have been marked as failure due to instability in either the test or the code, we should review them and either remove/fix the test or the code.

- [x] test/neural_network/test_graph_passes.py-    def test_dead_layer_remove_branch(self):
- [x] test/neural_network/test_graph_passes.py-    def test_dead_layer_partial_branch(self):
- [ ] test/neural_network/test_numpy_nn_layers.py

[2020-02-03 20:23] hoytak opened #619 "coremltools needs functioning error handling."
Currently, any issues with loading the CoreML framework or loading a model or version mismatches, etc.  are all reported as "Error loading CoreML framework."  The first time there is a problem, a RuntimeWarning may be printed; however, runtime warnings by default are only printed once for each location in a python source file so all subsequent errors just cause it to fail silently under an irrelev

[2020-02-03 23:23] #591 closed

[2020-02-04 07:42] MarcSteven commented on #566
Yeah it's a classifier, but the input and output are both multiArray, so I found one solutions about it.
I save it as npy file and then use numpy to load it , so I think it should have a method to print it directly (it has no relationship with the type of input or output)

[2020-02-04 14:28] MarcSteven commented on #566
@anilkatti  Now my solution as below:
# Saving array as .npy and reading it

np.save("saved-rain-fall-binary.npy", array_rain_fall)

array_rain_fall_npy = np.load("saved-rain-fall-binary.npy")

print("NumPy array: \n", array_rain_fall_npy)
print("Shape: ", array_rain_fall_npy.shape)
print("Data Type: ", array_rain_fall_npy.dtype.name)

[2020-02-04 18:23] jakesabathia2 commented on #522
@williamtong0228 Thanks for reporting this issue. It turns out to be a bug in coreml compiler that a PReLU layer cannot be proceeded by a reshape layer.
We have a workaround solution for your case and hope this could unblock you:
Since you are using a single value `PReLU` now, at the inference time, it is equivalent to a `LeakyReLU` layer with the same `Alpha` parameter.
So after the model is trai

[2020-02-04 19:30] jakesabathia2 commented on #578
@vijaysharm This is an expected input shape, so you can take any length of input sequence as the coreml model input with shape `(length, batch_size, input_dim)` . For instance:
[code]
Please reopen the issue if you have further question.

[2020-02-04 19:30] #578 closed

[2020-02-05 04:46] srikris commented on #612
Can you share the error message you get when you try to install it?

[2020-02-05 08:56] williamtong0228 commented on #522
Thank you so much. I will try again soon.

[2020-02-05 10:57] rodyt commented on #516
@1duo can confirm that after updating to coremltools 3.2, the error no longer arises.

However, another issue came up: I cannot convert a model with 2 outputs in coremltools: https://github.com/tf-coreml/tf-coreml/issues/374

Any ideas? @aseemw

[2020-02-05 12:18] bhavin250495 commented on #611
@anilkatti  Thanks for replying, I tried adding MLPredcitionOptions but i don't have any problem
with prediction, the issue is with loading of ML model from URL

1. I trigger a silent notification from the server to start inference on app
2. When app gets silent notification, it does some preprocessing and creates input for MLmodel
3. Now when i am trying to run prediction on MLmodel when the app

[2020-02-05 13:12] osianSmith commented on #601
Hi all
I managed to grab the output of the by grabbing the feature extractor by:
`featureExtratorModel = pipeline_spec.models[1]`

output name here was:

output.name = "vggishFeature"

I then put the output as =
`output.type.multiArrayType.shape.append(1)
output.type.multiArrayType.shape.append(12288)
`

However, Xcode returns this error:
`validator error: Description of multiarray feature 'vggish

[2020-02-05 14:22] anilkatti commented on #611
My suggestion was to use SmartML(configuration:) method to load the model but, I did not realize that you were running this on MacOS. Based on the error, it seem like the app is having issue reading the model files from disk in the background mode. Could you share a repro case so, I can debug the root-cause? The model itself looks good.

[2020-02-05 16:55] califrench commented on #601
Hi @osianSmith ,

You have one minor step left, which is to define the datatype on your multiArray feature.

Right next to where you define the shape you can define the type as well.

The values for the types are described in the [Core ML Model Specification](https://apple.github.io/coremltools/coremlspecification/sections/DataStructuresAndFeatureTypes.html?highlight=featuretype)

[code]

[code]

[2020-02-05 18:18] srikris commented on #522
@jakesabathia2 Tagging this with `CoreML.framework' tag so we can close this when the fix is into the compiler and released as part of the toolchain.

[2020-02-05 18:54] osianSmith commented on #601
Hey, thanks! That fixed that error however I am now getting  this error:
`validator error: Type of pipeline output 'vggishFeature' does not match type produced in pipeline input.`

This is my last layer:
`name: "flatten"
input: "pool4_output"
output: "vggishFeature"
flatten {
  mode: CHANNEL_LAST
}`

And where I am setting my output:
`output.type.multiArrayType.SetInParent()
output.type.multiArray

[2020-02-05 19:19] danvargg opened #623 "ValueError: list.remove(x): x not in list"
## 🐞Describe the bug
I'm training a multi-input CNN (`tf.keras`) with `TF2.0.0`. I keep getting `ValueError: list.remove(x): x not in list`, but I don't understand what's the list, what's x, do I need to rename nodes?

I can see that the converter starts, but the error comes after some conversion. I tried `tfcoreml` and converting from saved weights with no success.
Is there something I'm missing?

[2020-02-05 23:51] rodyt commented on #433
Still facing this issue in coremltools 3.2. @Sawash 's answer seems to temporarily make it go away, but I'm not sure if it's the best solution in the long term.

[2020-02-06 01:58] srikris opened #625 "Make our docker images used for testing more consistent."
We have several different versions of our docker files. We should use the base docker image (see #624) as the one we have for Python-3.7 and install other python versions on it so we have a single docker image for all linux and python testing and building.

[2020-02-06 04:13] rodyt opened #626 "Cannot convert Keras model with coremltools"
I can't convert a simple Keras model to CoreML with coremltools

## Trace

## To Reproduce

[code]
If I try to use `tf.compat.v1.disable_eager_execution()`, I get this:

## System environment (please complete the following information):
 - coremltools version  (e.g., 3.0b5): 3.2
 - OS (e.g., MacOS, Linux): Ubuntu 18
 - How you install python (anaconda, virtualenv, system): conda
 - python version

[2020-02-06 05:42] rodyt commented on #626
This appears to be a TF2.0 native issue. If TF1.x (e.g. 1.14) is used instead, the code appears to run fine.

[2020-02-06 07:06] bhavin250495 commented on #611
I am using this model on iOS , and if i share the repo to reproduce the error you will need to setup silent notifications . Could run the inference using local timer in background and try

[2020-02-07 06:29] kvaDrug opened #627 "How do I specify missing/undefined features in Python?"
In Objective-C framework `MLFeatureValue` has a factory method for undefined features. How do I create undefined/missing features in Python?

I tried omitting them, in this case I receive an error: "Feature 'featurename' not provided."
Also tried `None` – the `predict()` call hangs.

My model is converted from XGBoost. That models support missing features.

[2020-02-07 06:58] kvaDrug commented on #627
Closed, `numpy.nan` worked for me.

See `xgboost.DMatrix` docs:

[2020-02-07 06:58] #627 closed

[2020-02-07 11:04] rdv0011 opened #628 "It is not possible to set multi array shape dimensions using add_enumerated_multiarray_shapes()"
## 🌱 Describe your Feature Request
Precondition:
   Have converted caffe -> coreml model with the multi dimension array as an output.
- A clear and concise description of what the problem is.
- CoreML / iOS version you are using?
   CoreML 3, iOS 13
- Are you interested in contributing?
   Yes, if some kind of intro is made

## Use cases
- Set multi array shape dimensions using ```add_enumerated_m

[2020-02-08 06:21] rodyt opened #631 "Non-channel and non-sequence concatenation"
### This issue appears to be resolved (according to the below issue), but has been re-introduced???
#### See: https://github.com/apple/coremltools/issues/328 for more info

In the `Keras` converter for `coremltools`, in `_layers2.py`, a `ValueError` is thrown if a `Concatenate` layer is operating on an axis other than the channels or sequence axis (~line 102 in Coremltools 3):

[code]

By lifting

[2020-02-08 06:28] rodyt commented on #631
@srikris A little off topic but in regards to my other open issue: (https://github.com/apple/coremltools/issues/631):

Has anybody been assigned to fix the issue yet? This seems like a pretty critical bug that would affect a lot of users and a lot of different model architectures.

[2020-02-08 22:00] rodyt commented on #631
It seems that the solution is to just comment that line out and `return 'CONCAT'` instead, as conversion still succeeds. (Or add an if statement checking the spec version)

[2020-02-09 05:03] glenn-jocher commented on #513
I've seen drastic speed reductions in our YOLOv3 model (https://github.com/ultralytics/yolov3) exported with CoreML 2 vs 3, and have verified with Xcode Instruments that the fast model has no calls to Metal or MTL, whereas the new slower model uses 50% of time on Metal calls. Using Netron viewer I see two key differences:

- add replaced by addBroadcastable
- concat replaced by concatND

If @y-ich

[2020-02-09 06:01] glenn-jocher commented on #513
Yes, I can confirm that removing the broadcastable operations from the coreml model moved the operations from Metal to ANE, and the speed returned to normal.

<img width="1287" alt="Screen Shot 2020-02-08 at 10 00 45 PM" src="https://user-images.githubusercontent.com/26833433/74097220-7a0aef00-4abe-11ea-8f17-f64d6ea6b6dd.png">

[2020-02-14 17:55] vlordier opened #635 "Deformable Convolutions support"
## Description
TF and PyTorch gained recently gained Deformable Convolution support
 - [TF implementation ](https://github.com/tensorflow/addons/issues/179)
 - [PyTorch implementation ](https://github.com/pytorch/vision/pull/1586)

Arxiv papers on Deformable Convolutions
 - [Deformable Convolutions v1](https://arxiv.org/abs/1703.06211)
 - [Deformable Convolutions v2](https://arxiv.org/abs/1811.111

[2020-02-15 17:44] JacopoMangiavacchi opened #636 "Request for clarification about the WeightParams in the NeuralNetwork protobuf file."
## Request for clarification about the WeightParams in the NeuralNetwork protobuf file.

I’m exporting a CoreML model directly using the protobuf files defined in this repo where I’m passing to the layers (InnerProduct) the weights and bias I trained with a Swift for TensorFlow model.

I’m flattering in particular the weights to a simple vector but when I inference the model with the CoreML runtim

[2020-02-17 18:14] aseemw commented on #636
The format for weights in inner product layer is `[X_out, X_in]` as specified [here](https://github.com/apple/coremltools/blob/1fcac9eb087e20bcc91b41bc938112fa91b4e5a8/mlmodel/format/NeuralNetwork.proto#L1541)

e.g.
input vector (2X1):
 [2,
 1]
weight matrix (3x2):
[1 2
 3 4
 5 6]
hence, output vector  (3X1) :
[4,
 10,
 16]

the repeated float field for weights in this case will be [1,2,3,4,5,6]

[2020-02-17 20:27] JacopoMangiavacchi commented on #636
Ouch, thanks @aseemw.  S4TF weights have instead shape [IN, OUT].  I need to transpose these before flattering.  Thank you!!

[2020-02-17 20:39] JacopoMangiavacchi commented on #636
Yes, just tested this and my coreml model works as expected now.  Thanks again. I'm closing this issue.

[2020-02-17 20:39] #636 closed

[2020-02-18 22:20] lukereichold opened #638 "(Bug) Keras LSTM Conversion to Core ML Results in Differently Shaped Input Layer"
## ❓Question

I have converted a [Keras model][1] into a Core ML model using `coremltools`. The original Keras model has the following architecture:

[code]

I can run inferences against the model in Keras/Python with the following input:

[code]

However, after conversion, my Core ML model shows the following shape for the **input layer**.

[code]

[![enter image description here][2]][2]

**Why h

[2020-02-20 20:04] aminbenarieb opened #642 "Op type not registered 'TFLite_Detection_PostProcess' in binary"
## 🐞Describe the bug
I am trying to convert tensorflow SSD MobilenetV2 model (frozen graph) to coreml model using
[coremltools.converters.tensorflow.convert function](https://apple.github.io/coremltools/generated/coremltools.converters.tensorflow.convert.html) and getting error `Op type not registered 'TFLite_Detection_PostProcess' in binary `.

As far as I understand, this Op is not supported in

[2020-02-21 04:54] kiddyboots216 opened #643 "Softmax should be able to take in rank 1/2 tensor OR SoftmaxND should be a valid input for CrossEntropy"
## 🐞Describe the bug
- Softmax currently can only take in a rank 3 tensor e.g. CHW, but Softmax should be able to take in a rank 1/2 tensor
- Why not use SoftmaxND? Because SoftmaxND is not a supported input for categoricalcrossentropy loss fn. I have a feeling it would be easier to just make SoftmaxND a supported input for CELoss.

## Trace
`/Users/kiddyboots216/miniconda3/envs/torch/lib/python3.

[2020-02-21 09:33] Queequeg92 opened #644 "Mode of add_resize_bilinear"
## ❓Question
What's the difference between the 4 modes of add_resize_bilinear?

When I set the input to:
[[1., 9., 3.],
 [3., 0., 2.],
 [2., 7., 5.]]

and output shape to (5, 5)

the output of ALIGN_ENDPOINTS_MODE and STRICT_ALIGN_ENDPOINTS_MODE is the same:
[[1, 5, 9, 6, 3]
 [2, 3.25, 4.5, 3.5, 2.5],
 [3, 1.5, 0, 1, 2],
 [2.5, 3, 3.5, 3.5, 3.5],
 [2, 4.5, 7, 6, 5]]

What's the difference between

[2020-02-21 17:45] aseemw commented on #644
ALIGN_ENDPOINTS_MODE and STRICT_ALIGN_ENDPOINTS_MODE only differ when output size is 1. See: https://github.com/apple/coremltools/blob/1fcac9eb087e20bcc91b41bc938112fa91b4e5a8/mlmodel/format/NeuralNetwork.proto#L1242

[2020-02-21 17:45] #644 closed

[2020-02-22 14:00] Queequeg92 commented on #644
@aseemw Got it! Thx!

[2020-02-23 08:40] aminbenarieb commented on #642
I closing this issue in favour of https://github.com/apple/coremltools/issues/642.

[2020-02-23 08:46] aminbenarieb commented on #642
Also, we managed to slice this op from our graph and successfully run CoreML, but, this quite an ambiguous and error-prone how to interpret inference results. So, still, we need some workflow for this missed op.

[2020-02-23 14:01] aminbenarieb commented on #642
@ 1duo can I mention you here? I just realized that a more correct label is a function request, not an error. Should I provide more details, it might be helpful if I provided a model to reproduce what we are facing?

[2020-02-25 03:55] feifeiwei opened #647 "Convert image to multiArray as the input type"
## ❓Question
how can i  convert image to multiArray as the input type??
## System Information
- If applicable

[2020-02-25 04:05] feifeiwei commented on #647
<img width="428" alt="截屏2020-02-25下午12 04 54" src="https://user-images.githubusercontent.com/40533960/75214027-145d7900-57c7-11ea-9256-2f3228ba1ca4.png">

[2020-02-25 04:29] aseemw commented on #647
The easiest way is to make use of the argument `image_input_names` while converting the model to Core ML (how did you convert the model? ).

If you do not have the source model and want to directly edit the .mlmodel, there is no direct API to do it, but you can edit the proto message, as being done [here](https://github.com/apple/coremltools/blob/65cf611b2a3c6b707a115e0c9f78c1da68a44417/coremltool

[2020-02-25 04:51] feifeiwei commented on #647
@aseemw I convert the model in this way

## python pth2onnx.py
[code]

##python onnx2coreml.py
[code]

[2020-02-25 06:23] feifeiwei opened #648 "pytorch -> onnx -> coreml"
## ❓Question
how can I convert image to multiarray as input
## System Information
- If applicable
## python pth2onnx.py
[code]

## python onnx2coreml.py
[code]

<img width="428" alt="截屏2020-02-25下午12 04 54" src="https://user-images.githubusercontent.com/40533960/75220456-6cea4180-57da-11ea-98c3-ed2972ddfdb0.png">

[2020-02-25 06:25] feifeiwei commented on #648
<img width="428" alt="截屏2020-02-25下午12 04 54" src="https://user-images.githubusercontent.com/40533960/75220553-a458ee00-57da-11ea-8c29-b2925d3832af.png">

[2020-02-25 07:17] Jihadik commented on #642
+1, we are blocked by this issue as well. AFAIK, this layer is a standard one in detection, and it is pretty wide-spread to run detection on mobile devices.

[2020-02-25 18:19] aseemw commented on #647
Since the input is called `actual_input`, the argument should be equal to that `image_input_names=['actual_input']`

[2020-02-26 01:27] #648 closed

[2020-02-26 01:28] feifeiwei commented on #647
that's ok  thank you.

[2020-02-26 01:28] #647 closed

[2020-02-28 17:56] leovinus2001 commented on #638
I see the input shape disappearing as well when converting a Keras LSTM to CoreML. Same conversion is fine from PyTorch->ONNX->CoreML. I went into the source code of the Coremltools to see what is happening and with a few line changes you can "force" the input shape to be what we want. Not a portable solution though :) Hence, looks like a Coremltools bug indeed. Not sure whether this is limited to

[2020-03-03 15:58] Google-Autofuzz opened #656 "Integrating with OSS-Fuzz"
Greetings coremltools developers and contributors,

We’re reaching out because your project is an important part of the open source ecosystem, and we’d like to invite you to integrate with our [fuzzing](https://www.owasp.org/index.php/Fuzzing) service, [OSS-Fuzz]( https://opensource.googleblog.com/2016/12/announcing-oss-fuzz-continuous-fuzzing.html ). OSS-Fuzz is a free fuzzing infrastructure you

[2020-03-04 02:09] dragen1860 opened #657 "MobileNetv3 with NPU not accerlerated!"
Dear all,
  Has anyone succed run mobileetv3 small/large on Iphone with NPU/GPU/CPU accelerated？ in my case, i found the mobilenetv3 small run on CPU with 10ms inference time, compared with 20ms for mobilenetv2 cpu.
  However, mobilenetv3 run on NPU need 11ms , compared with 3ms for mobilenetv2. I do not know why? any tips? Thank you.

[2020-03-05 14:15] mrgloom opened #658 "_convert_resize_nearest_neighbor ValueError: [SSAConverter] Invalid scaling factor"
Following tf model works with coremltools 3.1, but not work with coremltools 3.3 and coremltools master.

## Trace
[code]

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]

- If applicable, please attach the source model
Minumum model to reproduce error:
[embedder_frozen.pb.zip](https://github.com/apple/coremltools/files/4293341/embedder_frozen.pb.

[2020-03-05 16:30] mrgloom commented on #658
Also seems it works with `ResizeBilinear`, but not work with `ResizeNearestNeighbor`

[2020-03-05 17:13] mrgloom commented on #350
Now valid link is https://github.com/apple/coremltools/blob/309b5b7141c07e4ff9ee1b971a1b61534d9962b4/examples/APIExamples.md#changing-mlmultiarray-inputoutput-datatypes

[2020-03-05 18:28] aseemw commented on #658
is the scale factor non integer? `ResizeNearestNeighbor` only supports integer scale factors.

[2020-03-06 09:25] mrgloom commented on #658
I'm doing something like:
[code]
where `scale=2`

[2020-03-06 09:43] mrgloom commented on #658
Here is the model that don't convert with coremltools 3.3, but works with coremltools 3.1
[generator_frozen.pb.zip](https://github.com/apple/coremltools/files/4297623/generator_frozen.pb.zip)

[2020-03-06 14:27] tucan9389 opened #660 "The output shapes are negative integer after maxpooling operation conversion"
## ❓Question

I could convert to `.mlmodel` from the tf2's Keras model but the output shape was not specified.
The negative shapes, like `(1, 64, -1, -1)`, are shown since the conversion of max-pooling operation after `[84/643]` step on the log. You can see the full log on the bottom of the issue.

Has anyone had this same problem?
Here is my conversion code. Thank you.

[code]

## System Informat

[2020-03-06 20:07] jakesabathia2 commented on #623
@danvargg I think your bug can be fixed in this PR https://github.com/apple/coremltools/pull/662.
You can first clone the branch and see what happens,
if it still not work please provide your model to us to reproduce the error on your model.

[2020-03-08 08:27] tucan9389 opened #663 ""fatal error: 'Python.h' file not found" on "make -C build -j3""
## ❓Question

I set up the test env with [this guide](https://github.com/apple/coremltools/blob/master/BUILD.md#running-unit-tests). But there are some error(`fatal error: 'Python.h' file not found`) during `make -C build -j3`.

[code]

## System Information

- macOS: 10.15.3

[2020-03-08 19:56] 1duo commented on #663
This seems to be a Python environment issue. How did you installing Python? Install Python from python.org or Anaconda might help in this case.

[2020-03-08 21:12] yoavhacohen commented on #163
As a workaround you can set it manually:
`spec.neuralNetwork.preprocessing[0].featureName = 'image'`

[2020-03-09 01:17] tucan9389 commented on #663
@1duo
Yes, I did. I already installed anaconda and python. I'll look for another cause. 😭Thanks
![image](https://user-images.githubusercontent.com/37643248/76175197-b3826780-61ee-11ea-95f8-1e17a5716e40.png)

[2020-03-09 10:18] vegoutha opened #664 "Need coremltools package for PPC64"
## ❓Question
I am looking for coremltools package for ppcle. pip installation is failing with below error:

[code]
Can you please confirm whether coremltools package is available for ppcle ? If not, how can we build the coremltools package for ppc64 ?

## System Information
[code]

[2020-03-09 15:46] danvargg commented on #623
@jakesabathia2 , thanks a lot! Will give it a try it in a few days.

[2020-03-10 03:30] #623 closed

[2020-03-10 03:31] jakesabathia2 commented on #623
@danvargg  please reopen the issue if the fix doesn't work for you.

[2020-03-10 14:08] danvargg commented on #623
Will do, thanks a lot!

[2020-03-10 16:16] osianSmith opened #665 "Type of pipeline output 'vggishFeature' does not match type produced in pipeline input"
## ❓Question
Hello, I am trying to split a SoundAnlaysis Model however when I place it into Xcode I receive an error stating that    'vggishFeature' does not match type produced in pipeline input

This is my last layer:
``name: "flatten" input: "pool4_output" output: "vggishFeature" flatten { mode: CHANNEL_LAST }
``

Here is the code that sets the output:

[code]

Could it be that I have either ne

[2020-03-11 10:11] mrgloom commented on #530
@y-ich what is spec-4? how can I check this?

btw looking at your model graph, in most cases BatchNorm can be fused in previous convolution.

[2020-03-11 10:21] mrgloom commented on #530
Seems it can be obtained like:
[code]
But how speed depends on spec version?

[2020-03-11 10:34] mrgloom commented on #530
Here is more info
https://github.com/apple/coremltools/blob/655b3be5cc0d42c3c4fa49f0f0e4a93a26b3e492/mlmodel/src/Globals.hpp
seems spec version corresponds to iOS version, but can we run older spec model on newer iOS? will it lead to speed decrease? Can we run newer spec model on older iOS version?

[2020-03-11 11:38] mrgloom opened #667 "Does iPhone 8 is possible to run models on ANE?"
Does iPhone 8 (with iOS 13) is possible to run models on ANE? How to check if model is running on ANE?

Based on this
https://en.wikipedia.org/wiki/Apple_A11#Neural_Engine

Based on this:
https://medium.com/@andlogvinenko/apple-a12-bionic-processor-accelerating-ml-algorithms-9-times-myth-or-reality-bc313bd672de

Based on this:
https://heartbeat.fritz.ai/does-my-core-ml-model-run-on-apples-neural-e

[2020-03-14 07:10] JBall1 commented on #638
Have you found a solution to this yet? I am having the same problem.

[2020-03-14 07:29] rodyt opened #670 "Auto-Fuse ReLU"
When constructing my model in `tf.keras`, I have a repeated sequence of layers that goes:

[code]

Due to the BatchNorm layer in between the convolution and activation function, I cannot specify a` Fused ReLU `directly within the `Conv2D` layer. Therefore, I lose out on reaping the benefits of `Fused ReLU`.

When converting the model to CoreML, `BatchNorm` layers are automatically removed so we ar

[2020-03-15 00:47] lukereichold commented on #638
Did some local debugging, and it looks like this isn't specific to LSTMs, per se, but rather any input that is immediately followed by an `Embedding` layer.

https://github.com/apple/coremltools/blob/437fa2b534169a362ac6b98750ac19a616d097de/coremltools/converters/keras/_keras2_converter.py#L398-L403

So, our `input_dims` is converted from `(30,)` to `(1,)`, which may be a factor.

[2020-03-16 05:40] JBall1 commented on #638
[This](https://apple.github.io/turicreate/docs/userguide/sound_classifier/export-coreml.html) guide here may help you. It has helped me, only thing I am currently unsure of is passing states to the hidden layers of the LSTM.

[2020-03-16 18:58] AryanGold commented on #372
You should try manually copy builded library 'libcoremlpython.so' to 'site-packages/..../coremltools' folder.

I builded Coremltools from source as mentioned bhushan23 in folder: "/Users/admin/temp/coremltools/" and then copy library.
sample:
`cp /Users/admin/temp/coremltools/coremltools/libcoremlpython.so /Users/admin/Library/Python/3.7/lib/python/site-packages/coremltools-3.3-py3.7.egg/coremltoo

[2020-03-17 16:54] HussainHaris opened #671 "Unable to Convert tf FasterRCNN Resnet50 to CoreML!"
## 🐞Unable to Convert tf FasterRCNN Resnet50 trained on COCO 2018_01_28 to CoreML!
Hi,

After loading FasterRCNN Resnet50 .pb frozen weights directly from Tensorflow, I specify the input tensor as 1 300x300 RGB image since thats the input the Resnet50 feature extractor will ultimately use in the graph! Using the Tensorflow convert tfcoreml, I cannot convert this model. I'm aware FasterRCNN is a cy

[2020-03-17 16:56] srikris commented on #671
Thanks for the report. This looks like something that should be runnable. We will take a look.

[2020-03-17 18:59] mrgloom opened #672 "Shape (1 x 128 x 32 x 32) was not in enumerated set of allowed shapes"
Seems .pb model successfully converted to CoreML model but at runtime in app it gives an error `Shape (1 x 128 x 32 x 32) was not in enumerated set of allowed shapes`

What is this error about?

[2020-03-17 22:17] aseemw commented on #672
What is the input shape that is displayed in the mlmodel description?
What is the shape of the input multiarray that is passed to the prediction call to core ML? When the two mismatch an error like this thrown.
(Try giving it an input of shape (1,1,128,32,32) instead of (1,128,32,32))

[2020-03-18 15:33] ghop02 opened #673 "Tensorflow 2 bilinear resize behaves differently"
## 🐞Describe the bug
- Coreml yields different results when using the TF2 bilinear resize op.  There are a lot more details about this bug in https://machinethink.net/blog/coreml-upsampling/.
- I'm not 100% sure if this is an issue that can be fixed in coremltools.  To my knowledge there isn't a compatible coreml op that maintains the proper behavior.

## To Reproduce
- Most of the reproduction is