[2020-03-20 10:50] mrgloom commented on #670
Any reference to fusing relu? Maybe you are talking about inlace relu like https://towardsdatascience.com/in-place-operations-in-pytorch-f91d493e970e ?

[2020-03-23 07:37] tadeha opened #675 "Add PCA Transformer to the Sklearn Converter"
## 🌱 Describe your Feature Request

When the PCA transformer will add to the Sklearn converter. It's by far the most famous dimension reduction tool in Sklearn and it's needed when you need to transform your dataset in lower dimensions.
I would like to contribute if anyone knows the process and can help.

## Use cases
E.g. in predicting handwritten digits, without PCA you can get 87% with SVM at m

[2020-03-24 04:13] DreamChaserMXF opened #676 "Shape calculator _reorganize_data (for SpaceToDepth/DepthToSpace) applied an incorrect check condition"
https://github.com/apple/coremltools/blob/3a980c59e8dbf2bb81aa699730e003bcdc490ce0/coremltools/converters/nnssa/coreml/shapes.py#L449

To get the accurate op type of the current layer, one should refer to `layer_spec.reorganizedData.mode`, rather than `layer_spec.name`, which is a customized layer name specified by user.

I'll be appreciated if someone can verify this, and I'm happy to provide a P

[2020-03-24 04:26] DawerG commented on #676
You are right. A condition shouldn't be based on the name of the layer.

Please feel free to create a PR. Thanks : )

[2020-03-24 11:45] apmason commented on #534
Has anyone found a solution for this?

[2020-03-24 12:23] HussainHaris commented on #671
Hey @srikris , any updates on where I could go from here?

[2020-03-24 12:40] HussainHaris opened #678 "Why is my DeepLab .mlmodel's output array all zeros/empty❓"
## Why is my .mlmodel's output array all zeros/empty❓

Hi, I am converting Tensorflow's pretrained DeepLabV3 model trained on Pascal/VOC 2012 to .mlmodel format for CoreML. From my understanding, there is an already out of the box mlmodel for DeepLab on CoreML's website, but I still want to be able to replicate it myself/convert a Deeplab graph. When I try to do this, the output tensor in "Semanti

[2020-03-25 01:54] kamalesh0406 commented on #531
Hi,
I am trying to do a similar work on Federated Learning where I need to access the weights and even if I cannot modify them at these monitor the change in values after each epoch. But as mentioned above the context object doesn't return the value of the weights.
I was thinking of then using the Metal API functions like MPSCNN to build the model myself so I would have access to the gradients etc

[2020-03-26 22:26] kretash opened #680 "Converting a keras network with a MaxPoolingWithArgmax2D layer"
I'm trying to convert a network with a MaxPoolingWithArgmax2D layer over to CoreML. I have simplified it to this script right here. And it's throwing an error.

[code]

The output looks like this:

[code]

Is my approach correct? I'm thinking of doing this inside a lamda layer next to try to get it to work.

[2020-03-27 13:59] BigBerny opened #681 "Keras layer '<class 'tensorflow.python.keras.layers.recurrent.GRU'>' not supported"
## ❓Question
when I convert TF 2.0 Keras model to mlmodel I get the error:
ValueError: Keras layer '<class 'tensorflow.python.keras.layers.recurrent.GRU'>' not supported.
Is there way to resolve it?

The model is quite simple:
model = Sequential()
model.add(GRU(256, input_shape=(15, 40)))
model.add(Dense(40, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', me

[2020-03-29 21:53] apmason commented on #534
I reverted to using `keras` instead of `tf.keras` and got it to work.

[2020-03-31 18:12] kretash commented on #680
The problem with this approach has to do with coremltools trying to load the model and failing. The best approach with this is to load the model with keras first, in this example the model is already loaded. Instead of passing the path to the model when converting, pass the already loaded model in. This is because in order to load a keras model with custom layers you have to specify 'custom_object

[2020-03-31 18:12] #680 closed

[2020-04-01 01:56] JacopoMangiavacchi opened #682 "Validation Error importing a model"
I’m developing a Swift tool to export a model directly using the protobuf files defined in this repo.  It worked pretty with trivial NN.  Now I’m trying to export a retrainable CNN but I’m always getting a validation error importing the model in xcode.

The specific validation error I have is that a Layer consumes an input which is not present in this network.

I double checked several time the in

[2020-04-03 03:29] mario11c commented on #604
A similar phenomenon has occurred for me. Is this problem now solved?
If it has already been resolved, I want to know how it was resolved.

[2020-04-03 04:15] mrfarhadi commented on #604
@mario11c if the layer is quantized, it cannot be updatable. How is your model structured?

[2020-04-03 05:38] mario11c commented on #604
The model I tried is a half-precision model.
The single-precision model is converted to a half-precision model, and the half-precision model is converted to an updatable model.
When building with Xcode, the following error message is displayed.

I tried with a quantized model, but the result was the same as you.

For single-precision models, the build with Xcode has been successful.
However, when

[2020-04-03 05:59] mrfarhadi commented on #604
@mario11c when you make the model half precision, all the layers will be quantized and quantized layers are not supported to be marked 'updatable'.
The single precision model is supported to be updatable. What is the memory issue you are getting on that?

[2020-04-03 08:48] baymak commented on #660
Hi,
I have the similar problem with AveragePooling. Negative dimensions occur after implementing it. Have you had a solution with it?

[SSAConverter] [279/296] Converting op type: 'BatchNorm', name: 'mn3-large-segmentation/batch_normalization_36/FusedBatchNormV3/Add_batch_norm', output_shape: (1, 512, 14, 14).

[SSAConverter] [280/296] Converting op type: 'Conv2D', name: 'mn3-large-segmentation/co

[2020-04-03 11:14] mario11c commented on #604
The half-precision model and the quantization model(low-precision model) are different.

Conversion to a half-precision model is performed by coremltools.utils.convert_neural_network_spec_weights_to_fp16.

Conversion to a quantization model (low-precision model) is performed by quantize_weights.

Reference URL
[https://developer.apple.com/documentation/coreml/reducing_the_size_of_your_core_ml_app]

[2020-04-03 18:06] mrfarhadi commented on #604
Half precision model is actually a quantize model with float 16 weights.

You are right, you need to call make_updatable method to mark some layers updatable. However if you call this method on a quantized model ( or half-precision model), it mark those quantized layers updatable which is not a valid case. That is why you are seeing the crash.

This is a known issue unfortunately. This issue will

[2020-04-04 18:50] JacopoMangiavacchi commented on #682
I solved this. It was simply a layer ordering problem due to a change on the internal collection I use in my tool (from array to dictionary).

[2020-04-04 18:50] #682 closed

[2020-04-05 19:58] JacopoMangiavacchi commented on #490
I have a similar model where I’m able to retrain the final InnerProduct layers but if I set the isUpdatable flag to true also to the Convolution layers (and his weights/bias) I always have the std::runtime_error: BNNS error as soon as I start the MLUpdateTask.

Is there any update on this issue or eventually a sample about how to train Convolution layers ?

More than happy to share model and sourc

[2020-04-07 15:15] danvargg commented on #623
Hi, I see the change was merged into master. I upgraded `coremltools` and ran the conversion, but it threw out the same error. Should I open a separate issue?

[code]

[2020-04-07 18:27] mrfarhadi commented on #490
@JacopoMangiavacchi The `std::runtime_error: BNNS error` does not stop the model from training. It is actually not an error but a warning. It will be go away I new version of iOS.  However, it does not block training. You should be able to train the conv layer even if you see this error message.
Is it not the case? The model is still unable to update the conv layer?

[2020-04-07 19:55] JacopoMangiavacchi commented on #490
Thank you @mrfarhadi, unfortunately the training start but it stop immediately with this specific exception:

**libc++abi.dylib: terminating with uncaught exception of type std::runtime_error: BNNS error**

The model is available at:
https://github.com/JacopoMangiavacchi/CNN-CoreML-Retrainable/raw/master/MNIST_Model.mlmodel

If eventually you could further investigate the source code for generatin

[2020-04-07 22:04] mrfarhadi commented on #490
@JacopoMangiavacchi I am sorry, I confused your issue with something else.  Seems the training stops in your case.

Looking at your model, it should be OK to mark conv layer updatable as well.

Can you file a bug report  (bugreport.apple.com) and include some sample data and the code you use to update the model?

[2020-04-08 00:19] JacopoMangiavacchi commented on #490
@mrfarhadi submitted feedback/bug FB7655774

[2020-04-08 15:45] sahanaha1234 opened #683 "coreml convertion of scikit-learn 22 fails with error "ImportError: cannot import name 'Imputer'""
I am trying to convert scikit-learn 22 model using coremltool. I have scikit-learn 0.22.1 installed on my system and coremltools version is 3.3.

It fails with the following error during conversion

  File "/Users/home/anaconda3/lib/python3.6/site-packages/coremltools/converters/sklearn/_imputer.py", line 17, in <module>
    from sklearn.preprocessing import Imputer
ImportError: cannot import name

[2020-04-08 20:39] TobyRoseman opened #684 "Python 3.8 Support"
As of October 14th, 2019 Python 3.8 has been officially released. coremltools should support it.

[2020-04-11 21:13] danvargg opened #685 "KeyError: 'begin_masks'"
## 🐞Describe the bug
This is a continuation of issue #623 . The change was merged into master. I upgraded `coremltools` and ran the conversion, but it threw out the below error. Should I open a separate issue? It does convert a big chunk of the ops.

## Trace
[code]

## To Reproduce
Same as issue #623 .
[code]

## System environment (please complete the following information):
 - coremltools versi

[2020-04-12 05:54] tirkarthi opened #686 "Importing ABC directly from collections was deprecated and will be removed in Python 3.10"
## 🐞Describe the bug

Importing ABC directly from collections was deprecated and will be removed in Python 3.10. Use collections.abc instead.

## To Reproduce

[code]

## System environment (please complete the following information):
 - coremltools version  (e.g., 3.0b5):
 - OS (e.g., MacOS, Linux):
 - macOS version (if applicable):
 - XCode version (if applicable):
 - How you install python (ana

[2020-04-12 05:57] tirkarthi opened #687 "Deprecation warning due to invalid escape sequences and literal comparison in Python 3.7"
## 🐞Describe the bug

Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. Syntax warning is caused due to comparison of literals using is.

## To Reproduce

[code]

[2020-04-14 13:45] hollance commented on #670
I have no official knowledge of the insides of Core ML but just because something is multiple layers in the mlmodel, doesn't mean it's also executed like this at runtime.

I'm pretty sure Core ML folds the batchnorm weights into the conv layer when it loads the model, and then at runtime uses a fused ReLU. (You can verify this by running the model on the GPU and using Metal frame capture.)

So you

[2020-04-14 13:45] hollance commented on #657
This appears to happen because of the broadcasted multiply that follows the squeeze-and-excitation layers.

[2020-04-14 17:58] ab1470 opened #691 "Unable to use outputs from an NMS layer in subsequent layers"
## Overview ##

**one-sentence summary**: the non-maximum suppression layer outputs four values, but I am only able to use two of those four values as inputs to subsequent layers.

I'm building a neural network model, and I've added a non-maximum suppression (NMS) layer. This layer has four outputs, per the documentation:

 - output 1: box coordinates, corresponding to the surviving boxes.
 - outp

[2020-04-14 19:46] mrfarhadi commented on #490
@JacopoMangiavacchi
Thanks for reporting. I took a look at your model and I could train it successfully with real dataset and the model converged with a small tweak in your model. Here is how I changed your model and trained it:

- I could not test your app as the repo does not have mnist_train.csv file. Instead I used some real dataset to train your model.

Your model is a NeuralNetwork, not a Ne

[2020-04-14 20:59] JacopoMangiavacchi commented on #490
Fantastic, totally make sense.  Thank you @mrfarhadi I'll update the sample according to your suggestions and I'll keep you updated.

[2020-04-15 01:37] dragen1860 commented on #657
@hollance oh.... any ways to accerlerate this? thank you.

[2020-04-15 06:28] JacopoMangiavacchi commented on #490
@mrfarhadi I was sure I understood your clean instructions as well as the make_updatable and set_categorical_cross_entropy_loss methods but I'm still having the same runtime exception as soon as the train start.

If you have a chance to take a look again I've updated the source repo adding also the mnist train dataset so you can now easily test the app.

I've put also the new model with the right

[2020-04-15 10:25] hollance commented on #657
The ANE seems to work fine with regular multiply layers, even if they do limited broadcasting, so you could try replacing the multiplyBroadcastable layer with a multiply layer (have not tried this yet myself).

[2020-04-15 16:33] ghost opened #692 "Onnx to mlmodel conversion fails to generate .mlmodel file"
I'm trying to convert Pytorch model to MLModel with Onnx.

My code:

[code]

After the code runs Model.onnx is generated, however, .mlmodel file is not generated. There're no errors in the console.

What could be the issue?

[2020-04-15 21:32] leovinus2001 commented on #692
Could be anything, but help us narrow it down :)
First, it is worth a try to use
minimum_ios_deployment_target='13'
instead of '12'.
Secondly, please attach the .onnx model as your code does not run as class BiSeNet() is missing. Or make the test case "standalone".

[2020-04-15 21:56] malemo commented on #692
setting the target to 13 makes no difference
Here is the model [Model.onnx](https://drive.google.com/file/d/1thEITb-MlbbCtbzoU-yEJkugxijXn70R/view)

[2020-04-16 04:18] ppl21847 opened #693 "caffe模型转mlmodel后，batchSize信息丢失"
如题，通过CoreMLTool转模型后，ignoring batch size，这个能设置吗，后续还想转onnx，丢失batchSize信息后出现问题。

[2020-04-16 08:10] ppl21847 opened #694 "CoreMLTool转完的模型能不能支持batchsize"
CoreMLTool转完的模型能不能支持batchsize，现在看源码是直接把batchSize去掉了，能不能把batchSize信息保存到模型中。

[2020-04-16 09:26] malemo commented on #692
if it helps, this is the console output:
[code]

[2020-04-16 09:41] ppl21847 opened #695 "Can coreMlTool support batchSize info?"
now I use coremltool convert caffe model, than convert to onnx, but when i get lmmodel, this model not contain batchSize info.

[2020-04-16 14:53] leovinus2001 commented on #692
Hi, Thanks for attaching the Model.onnx. That helps.

With a 3 line python script like this, you can get more insight into your model.

onnx_model = onnx.load("Model.onnx")
onnx.checker.check_model(onnx_model)
onnx.helper.printable_graph(onnx_model.graph)

First, the check_model() line complains about your attribute "strides".

This may or may not be related to your console warnings like

Seems, O

[2020-04-16 17:52] mrfarhadi commented on #490
@JacopoMangiavacchi Thanks for the modification. Looked at your commit and it looks good and we passed the first issue.
I tried your app on my end with the 'current' OS and got the same issue you are facing. However, I can provide you a workaround.
First of all keep in mind that this issue will be gone by next OS release.
For now, you can cut the first conv layer and your model becomes:

[code]

Y

[2020-04-16 18:42] malemo commented on #692
@leovinus2001 Thank you for your detailed answer.
I found this [original](https://github.com/zllrunning/face-parsing.PyTorch) Pytorch model on Github. Unfortunately, I know nothing about how it works or how it was built.
I was hoping with ONNX it would be a straight line conversion. Does this mean it cannot be converted then?

[2020-04-16 20:34] JacopoMangiavacchi commented on #490
Thank you so much @mrfarhadi.  I'm able to train now and validate performance for my real scenario now. Btw, I can't wait for 'next OS release' !!

[2020-04-16 23:03] leovinus2001 commented on #692
Thanks for the pointer to the original model. That is a nice app.
https://github.com/zllrunning/face-parsing.PyTorch

There is always hope :) but getting it right by (model) design is better.

No, not necessarily. Based on what we have seen, with a little work, it can be converted to CoreML.
You have a few options here and with all of them you can learn.

Firstly, you could look at, e.g.,
https://

[2020-04-17 00:06] cyrilivargarcia commented on #683
I'm having the same issue. It seems as though CoreMLTools is trying and unable to import Imputer from SKLearn as it is depricated from previous versions.

From the looks of it, I think we just have to change the [following code](https://github.com/apple/coremltools/blob/master/coremltools/converters/sklearn/_imputer.py) from lines 17-19

[code]
to this, according to this [StackOverflow post](https

[2020-04-17 01:04] cyrilivargarcia commented on #683
A temporary fix would be to downgrade CoreMLTools to 3.1

[2020-04-17 04:13] anilkatti commented on #683
@sahanaha1234 Do you mind creating a pull request with your fix? I will be happy to review and merge it in. Thanks!

[2020-04-18 03:52] cyrilivargarcia opened #696 "For the MSE loss layer, input is not generated within the graph"
## ❓Question
I created a simple neural network with Keras and successfully converted to a CoreML model.
The model used the SGD optimizer and the MSE loss function.

Specifying the loss layer in the process of converting a CoreML model to an updatable model would return this runtime error when passing the model spec to an MLModel object.

[code]

This is how I set the loss function. For context, th

[2020-04-18 04:47] mrfarhadi commented on #696
@cyrilivargarcia
Based on the method doc: https://apple.github.io/coremltools/generated/coremltools.models.neural_network.builder.html?highlight=mean_sq#coremltools.models.neural_network.builder.NeuralNetworkBuilder.set_mean_squared_error_loss
The input to the loss layer must be an output of a layer.
You have provided 'dense_1' which is a layer name, not the layer output name.
In your case, if you

[2020-04-18 05:06] cyrilivargarcia commented on #696
@mrfarhadi thank you so much for the response! I changed the layer name to specify the output name and it compiled! Thank you!

To document what I did for anyone else viewing this:
I called the `builder.inspect_layers()` to examine the layers in my model. Here, it will specify the names of each layer. To solve my problem, I had to specify the input of my loss layer to be the output of some layer i

[2020-04-18 05:06] #696 closed

[2020-04-18 12:18] BorisKourt commented on #276
@h-shib and @aseemw I am having the same error in the issue linked above. But I do not appear to be using a Pixel Shuffle layer. Is there a way to diagnose which part of the model might be having this issue?

The specific runtime error looks exactly like yours:

[code]

More detail [here](https://github.com/onnx/onnx-coreml/issues/565) and [here](https://stackoverflow.com/questions/61231340/input-

[2020-04-19 01:19] JacopoMangiavacchi commented on #490
I wanted to confirm that training from scratch this MNIST/CNN model converged and I'm obtaining the expected accuracy.  Execution time is also comparable with other server/cloud frameworks using CPU.  So exited about the opportunity here.

Just a couple of more questions if I can abuse of your help @mrfarhadi:

- I'm confused about the output shape of the Flatten layer after the second Pooling/Fla

[2020-04-19 18:16] mrfarhadi commented on #490
@JacopoMangiavacchi Glad to hear that!

1- Seems to me that you probably need to change the kernel size of the second conv layer to `(2, 2)`
Here is the snippet to create similar model in Keras:
[code]
2 - No. LSTM layers are not trainable. Sorry for the confusion in the code.

[2020-04-20 12:48] ricox78 opened #697 "VNCoreMLTransform request failed ..."
## ❓Question

## System Information
- Iphone 5s

Hello,
I convert a keras h5 model (trained with darknet on the yolov3-tiny base) tocoreml.
all seems to go well, but, when I try to use it in my Xcode Project I have always the error:
VNCoreMLTransform request failed

anyone could have an idea on why??
Thank's a lot

[2020-04-20 16:17] emilhovad commented on #364
the repo is great but does not show conversion to cormel

[2020-04-21 16:29] HarshitRuwali commented on #612
I am having the same issue and it says

[2020-04-22 03:57] dragen1860 commented on #657
@hollance Wow, I saw your machinethink papers. That's really detailed blogs. Helpful! Great appreciation to that.
May I ask you for some suggestions. Currently I'm using Mobilenetv2 on Coreml. It's fast with 3ms on NPU for binary classification. However, I still want to get some accerleration done. Any tips to accelerate it? Thank you.

[2020-04-22 04:45] neelr11 opened #698 "Keras: Convert LSTM fails when return_state=True"
I am trying to convert an LSTM from Keras with `return_state=True` (so that I can pass the hidden/cell states back to the model at the next time step). When I try to convert, I get this error from line [213 in _topology2.py]:(https://github.com/apple/coremltools/blob/6f235c3acde5099b201501e7d7f8df7922afba74/coremltools/converters/keras/_topology2.py#L213)

`AttributeError: 'list' object has no att

[2020-04-22 08:24] dragen1860 commented on #360
@y-ich Hi, yes, you are right, the coreml will use GPU to conduct broadcasted multipy instead of NPU, which maybe the real factor all models composed of SE modules run slower than CPU. I noticed these phonomenon while running mobilenetv3. I found mobilenetv3 run 3x times faster than mobv2 on CPU. However, when using NPU, mobv3 is 2x times slower than mobv2.
Anyone gives some advices on how to acce

[2020-04-22 10:09] hollance commented on #657
@dragen1860 Well, I did write a blog post about this: https://machinethink.net/blog/mobile-architectures/ 😄

[2020-04-23 01:38] dragen1860 commented on #657
@hollance Yeah, i actully read your detailed blog already. But from your blog, it seems mobv2 and mobv3, efficientnet is the best choices. But currently Only mobv2 can be accelerated by NPU. these Modules containing SE module will run slower on NPU compared with CPU.
 Indeed, I try to transfer the broadcasted multiply by manual `repeat` and then `multiply`, as follows:
[code]
But it still not get

[2020-04-23 09:28] hollance commented on #657
The MobileNetV3 that I converted from TensorFlow (using tfcoreml) already uses plain "multiply" layers instead of "multiplyBroadcastable". The "multiply" layer already does a few limited kinds of broadcasting, so you don't need to manually duplicate the rows/columns of the tensor. That just makes everything slower. I'd need to dig deeper into exactly which layers are preventing the model from runn

[2020-04-26 17:26] JacopoMangiavacchi commented on #490
Just a little spam here to thank @mrfarhadi again for your precious help.

https://medium.com/@JMangia/mnist-cnn-core-ml-training-c0f081014fa6

[2020-04-27 04:33] mrfarhadi commented on #490
You are most welcome @JacopoMangiavacchi. Glad that it worked out for you.
Read your medium and it’s amazing. Thanks for sharing.

[2020-05-02 04:46] #687 closed

[2020-05-02 06:31] srikris commented on #698
I am able to repro (including the imports in the include). This seems like a serious bug.

[code]

[2020-05-02 06:36] srikris commented on #697
This is a Framework bug and not one in the coremltools. Please file a bug using https://feedbackassistant.apple.com and it will get routed to the Vision component in the system.

[2020-05-02 06:36] #697 closed

[2020-05-02 06:38] srikris commented on #695
Batch size is a runtime option (https://developer.apple.com/documentation/coreml/mlmodel/3088750-predictions) and not one that is set during conversion. You can pass larger batches during run-time and we handle that automatically.

[2020-05-02 06:38] #695 closed

[2020-05-02 06:39] srikris commented on #694
Duplicate of #196

[2020-05-02 06:39] #694 closed

[2020-05-02 06:44] srikris commented on #693
Dupe of #196

[2020-05-02 06:44] #693 closed

[2020-05-02 06:44] srikris commented on #692
@bhushan23 Tagging to make sure this can be addressed in the 4.0 release.

[2020-05-02 06:46] srikris commented on #691
@ab1470 Thanks for the wonderful bug report. This is one of the most detailed and clear reports filed.

@1duo Can we make sure this is handled in 4.0.

[2020-05-02 06:52] srikris commented on #685
Thanks for reporting the issue. It seems like the fix didn't quite work. We will looking into it again.

[2020-05-02 06:54] srikris commented on #683
Fixed in #690. @anilkatti please re-open if this is not the case.

[2020-05-02 06:54] #683 closed

[2020-05-02 06:55] srikris commented on #681
We are currently working on TF 2.0. @1duo please make sure this is part of the 4.0 release.

[2020-05-02 06:59] srikris commented on #678
@HussainHaris can you share a script to repro. It's hard to triage this from the screen shots.

[2020-05-02 07:01] srikris commented on #673
@1duo Can we make sure this is fixed in coremltools-4.0

[2020-05-02 07:05] srikris commented on #671
Sorry, no update yet. Marking this as a P1.

[2020-05-02 07:07] srikris commented on #670
@hollance is right in sprit but this is something that is more of a case by case basis. @aseemw Can we confirm that this does not impact performance? If not, can we add a graph-pass to do this?

[2020-05-02 07:11] srikris commented on #667
We try to make the best use of all the hardware available on each device as best as we can. If you have a specific performance issue, please file a bug report and we will look into it.

[2020-05-02 07:11] #667 closed

[2020-05-02 07:13] srikris commented on #665
Can you share the model here so we can reproduce it? It's hard to get to the bottom of your specific issue without more details.

[2020-05-02 07:16] srikris commented on #664
Have you tried building from source? Conversion alone (without predict) can be run purely in Python.

[2020-05-02 07:16] #664 closed

[2020-05-02 07:18] srikris commented on #663
Please re-open if you are running into still experiencing issues building with your python setup.

[2020-05-02 07:18] #663 closed

[2020-05-03 23:30] grin commented on #660
I'm also hitting a similar issue. I'm trying to convert my model using `tfcoreml-1.1` (and `coremltools-3.3`) with this setup:

[code]

and you can see the negative shape values start appearing after `conv2d_transpose` layer on the 3rd line:

[code]
I can run the model but its predictions seems to be messed up. In trying to debug the issue, these -1 shape values caught my eye.
Is this an actual is

[2020-05-04 11:05] hooping opened #699 "Qustion: is there Deeplabv3 mobileNet model conversion samples from Tensorflow to CoreML model?"
## Question
We get to know there is  DeepLabV3.mlmodel that's available here: https://docs-assets.developer.apple.com/coreml/models/Image/ImageSegmentation/DeepLabV3/DeepLabV3.mlmodel;
As I got from answers from the post here(https://github.com/apple/coremltools/issues/414), it's converted from the “mobilenetv2_coco_voc_trainval” model in Tensorflow in the model zoo --> https://github.com/tensorfl

[2020-05-04 12:16] osianSmith commented on #665
Sure: its hosted here: www.osiansmith.com/featureExtractor.mlmodel

[2020-05-04 18:52] bhushan23 commented on #692
Thanks @malemo for reporting this at coremltools
Did you get chance to try re-installing onnx-coreml?
I am getting `attribute error` which is expected for version 11 model.
Also, Could you please try exporting model with `opset=10` from pytorch? (https://pytorch.org/docs/stable/onnx.html#torch.onnx.export)

ref: https://github.com/onnx/onnx-coreml/issues/564#issuecomment-617336460 ?

[2020-05-04 19:24] HussainHaris commented on #671
Appreciated!

[2020-05-04 20:04] danvargg commented on #685
I switched to `tfcroreml` and don't have that error anymore, now I'm getting:

[code]

[2020-05-06 05:48] teijeong opened #700 "Reducing size of Core ML protobuf library"
## ❓Question

Hi, I'm working on generating Core ML models on device, which requires compiled protobuf library for MLModel messages. However, when compiled the library size (in Core ML 3) is about 6-700KB, and it would be great if I can reduce that. I hoped the compiler would strip out unused symbols, but it seems even unused symbols are not easily stripped from the final binary.

I think there sh

[2020-05-06 16:21] anilkatti commented on #700
CoreML protobuf models library inside the Core ML framework is not available for apps to use. Please feel free to file a feature request with high level information about the use case? bugreport.apple.com

In the meanwhile, what you have seems like the best option.

[2020-05-07 01:35] teijeong commented on #700
Thanks for the info, will do.

[2020-05-07 01:35] #700 closed

[2020-05-08 04:53] anilkatti commented on #665
@osianSmith I have not been able to repro this issue just by dragging in the model to a sample Xcode project and compiling it. So, I assume there's more to it. Could you clarify at what stage you see this error? I see that featureExtractor.mlmodel itself is a pipeline model and vggishFeature is both the output of the pipeline and a sub-model inside pipeline.

[2020-05-09 07:58] QiAnXinCodeSafe opened #702 "Overridden built-in functions"
https://github.com/apple/coremltools/blob/53106d81c5ec210a9a983dcd686d7ee66935af2e/coremltools/converters/nnssa/commons/builtins/type_int.py#L120

Python has many built-in functions that are always accessible in the interpreter.These functions should not be overridden or assigned to variables with the same name as the built-in function, except for special reasons.Overrides may have undesirable sid

[2020-05-09 08:01] QiAnXinCodeSafe opened #703 "Unused variables"
https://github.com/apple/coremltools/blob/53106d81c5ec210a9a983dcd686d7ee66935af2e/coremltools/converters/nnssa/builder.py#L693

Variables declared but not used, or reassigned before they are used, can be the result of programmer negligence, which often means that there is a bug in the program.

[2020-05-09 10:24] samanyougarg commented on #311
Any updates on this?

[2020-05-09 17:58] danvargg commented on #685
I was able to solve the issue by loading the model old model, re-building the new one (from a function that replicates the architecture), loading the weights, saving it, and converting it (with `tfcoreml`, which just calls `coremltools.converters.tensorflow.convert`).
Here's a high level example of the procedure (`TensorFlow 2.0.0`).
[code]

[2020-05-09 17:58] #685 closed

[2020-05-10 13:12] jankaltoun commented on #534
@anilkatti do you know if anything has changed about support of `batchedMatmul`?

I'm still getting the same error with TF 2.0 and Coremltools 3.3.
I'm unable to find a way for `coremltools.converters.tensorflow.convert` to use `innerProduct` instead of `batchedMatmul`.

`ValueError: Layer sequential/dense_1/MatMul is not supported to be marked as updatable. Only ['innerProduct', 'convolution'] la

[2020-05-11 00:22] anilkatti commented on #534
`coremltools.converters.tensorflow.convert` does use `batchedMatmul` instead of `innerProduct` and unfortunately, updating a `batchedMatmul` is not supported in the current version. Using keras convertor is definitely a workaround but, I am not sure if that suits your use case. We will explore some more options and get back to you.

[2020-05-11 02:50] mrfarhadi commented on #534
@jankaltoun If you cannot use Keras converted instead of tensorflow converter, one workaround is to manually replace the `batchedMatmul` with `innerProduct`. If you share your model, I can provide you a script to do that using coremltools.

[2020-05-11 15:37] jankaltoun commented on #534
Wow, thank you for such a quick response @anilkatti and @mrfarhadi !
A script would be amazing both for making this work and as a learning material :slightly_smiling_face: .

My model can be downloaded [here](https://www.icloud.com/iclouddrive/0zCqk9eVmWoVQBPZUzweSMIIg#MNIST%5Fupdatable).
It's a simple MNIST, similar to this [tutorial](https://github.com/apple/coremltools/blob/master/examples/upda

[2020-05-13 04:21] enoreyes commented on #276
Has anyone found a solution to this? I also have the same error as @h-shib. I also have a Pixel Shuffle layer. I'm also getting a similar error to @BorisKourt

[2020-05-14 12:20] osianSmith commented on #665
Hey, The error seems to have changed now since updating Xcode - There is another error however I am going to close this issue and reopen a new one as its a substantial different error

[2020-05-14 12:20] #665 closed

[2020-05-14 12:39] osianSmith opened #704 "Sound Analysis throwing DSPGraph::Exception"
## ❓When using SoundAnalysis on a model that takes in audio samples and returns MultiArray (Float32 12288) I received the error DSPGraph:: Exception.

I am using a different model that takes in an audioSample (MultiArray (Float32 15600)) and returns the vggishFeature (MultiArray (Float32 12288)). You can download the model [here](http://www.osiansmith.com/featureExtractor.mlmodel )
We want it as a

[2020-05-14 15:44] anilkatti commented on #704
We are looking into this.

[2020-05-14 22:49] osianSmith commented on #704
Sure! I have submitted it to bugreport.apple.com with reference code FB7702029.

[2020-05-15 00:07] cpesarchick commented on #534
I would be interested in your script also.

Also the original question had another problem with set_categorical_cross_entropy_loss (builder.py).  The method is looking for layer_type == 'softmax'. but after conversion it is 'softmaxND'.  Should the code also check the layer_type == 'softmaxND'?

[2020-05-15 08:49] ankits16 opened #706 "Yolo to keras to coreml : get confidence and coordinates as outputs"
## ❓Question
Hi,
Following steps were taken

1. I trained yolo tiny on a custom data set with just one class

1. Converted .weights(darknet) to .h5 (keras) (verified and keras model is working fine as well)

1. Now when I convert Keras to core ml model I am not getting coordinates and confidence as outputs

**Coremltool converter command**
`coremltools.converters.keras.convert(
'model_data/yolo.h5

[2020-05-15 13:22] ranahaani opened #707 "ValueError: Keras layer '<class 'tensorflow.python.keras.layers.convolutional.Conv2D'>' not supported."
I am trying to convert  my Keras hdf5 model to mltools, but I am,  getting this error

File "/usr/local/lib/python3.7/site-packages/coremltools/converters/keras/_keras_converter.py", line 804, in convert
    use_float_arraytype=use_float_arraytype)
  File "/usr/local/lib/python3.7/site-packages/coremltools/converters/keras/_keras_converter.py", line 585, in convertToSpec
    use_float_arraytype=us

[2020-05-15 14:21] chokyungjin opened #708 "ValueError: Keras layer '<class 'yolo4.model.Mish'>' not supported."
Hi! I want to convert yolov4 Keras version!! But I have some problems..
<img width="570" alt="스크린샷 2020-05-15 오후 11 20 50" src="https://user-images.githubusercontent.com/46750574/82060710-b889f880-9702-11ea-9272-037b1c4712f2.png">

How Can I solve this problem?
Thank you!

[2020-05-16 02:51] dmora01 opened #709 "ValueError: Keras layer '<class 'tensorflow.python.keras.layers.embeddings.Embedding'>' not supported."
Traceback (most recent call last):
  File "/Users/danny/bin/convertToCoreML.py", line 16, in <module>
    coremlmodel = mltools.converters.keras.convert(model)
  File "/usr/local/lib/python3.7/site-packages/coremltools/converters/keras/_keras_converter.py", line 804, in convert
    use_float_arraytype=use_float_arraytype)
  File "/usr/local/lib/python3.7/site-packages/coremltools/converters/keras/

[2020-05-16 03:34] jsh-me commented on #708
have you solved this problem? I met this problem too.

[2020-05-17 13:00] iiSeymour opened #710 "Reshaping input dimensions"
## ❓Question

I have exported a 1d convolutional seq2seq model from PyTorch to CoreML via the onnx-coreml project using a tensor with an input dimension`(batch=1, channels=1, width=3000)`, the model has a stride of 3 and a `transpose(0, 2, 1)` so the output dimension is `(batch=1, width=1000, channels=5)`.

 The problem is for inference my sequence lengths are not fixed sizes *(N!=3000)* so I'd ei

[2020-05-19 15:39] mukulhase commented on #301
`np.array([[img]])`

[2020-05-19 19:26] mrfarhadi commented on #534
@cpesarchick That is not supported yet. One workaround for now is to use keras converter to convert your model instead of coremltools.converters.tensorflow.convert. Like what is shown on this tutorial: https://github.com/apple/coremltools/blob/master/examples/updatable_models/updatable_mnist.ipynb

[2020-05-20 00:15] mrfarhadi commented on #534
Just so you know, although the current simple workaround is to use Keras converter (which uses innerProduct layer instead of batchedMatmul), we are still working on the workaround for the models with batchedMatmul layer. Thanks for your patience.

[2020-05-20 13:26] mandagod opened #713 "Convert error about tensorflow.contrib.seq2seq.dynamic_decode"
[SSAConverter] [49/99] Converting op type: 'TensorArrayV3', name: 'decoder/infer/decoder/TensorArray'.
Traceback (most recent call last):
  File "tfcorml_papi_converter.py", line 10, in <module>
    minimum_ios_deployment_target='13')
  File "/Users/manda1/opt/anaconda3/envs/tensorflow1/lib/python3.6/site-packages/tfcoreml/_tf_coreml_converter.py", line 691, in convert
    custom_shape_functions=c

[2020-05-20 14:56] rajasekhar6057 commented on #658
Hi @mrgloom , Please let me know if the issue is resolved. Even i am getting the same error when i am converting the model tf.keras model to coreml. Any solution would be really helpful.

[2020-05-20 20:20] kvaDrug commented on #612
Same error, python 3.8.2. I followed the steps from README and created a new environment.

[2020-05-20 20:29] rajasekhar6057 opened #715 "[SSAConverter] Unable to determine target size for ResizeBilinear"
## 🐞Describe the bug
- I am trying to convert the my_model.pb model to mlmodel using tfcoreml
- Is this a converter issue? If yes, please specify which converter (tensorflow.)

## Trace
[SSAConverter] [197/239] Converting op type: 'LeakyRelu', name: 'conv_dw_15_3_leaky_relu/LeakyRelu', output_shape: (-1, 256, -1, -1).
[SSAConverter] [198/239] Converting op type: 'Shape', name: 'up_sampling2d_1/Sha

[2020-05-20 20:38] aseemw commented on #612
coremltools 3.4 is not available for python 3.8, yet. It should work with python 2.7, 3.5, 3.6, 3.7

[2020-05-20 21:51] TobyRoseman commented on #612
Python 3.8 support is being tracked in #684

[2020-05-21 11:39] mukulhase commented on #660
This doesn't solve the issue. But I had gotten a similar issue while converting a tensorflow model to coreml (First dimension was always -1).

**Workaround:** Convert the model from Tensorflow 2 to ONNX using `tf2onnx`. And then convert the model from ONNX to coreml using `onnx-coreml`. Works like a charm.

[2020-05-21 12:00] kostyaev commented on #660
I have the same issue only when input spatial dimensions are not divisible and padding is VALID, in other words when output dim after pooling multiplied by the previously applied stride equals to input dimension everything is OK. Btw the same problem occurs with strided convolutions.

[2020-05-21 15:39] kvaDrug commented on #612
@aseemw, thanks. I believe that such info (supported Python version, OSes etc) should be listed on the README page here or in the github.io docs.

[2020-05-21 17:54] mrfarhadi commented on #534
@jankaltoun
Here is a model identical to yours. It has InnerProduct and Convolution layers which can be updatable. Please find it inside the zip file. You can making it updatable by calling make_updatable method on the layers, attach loss, optimizer and epochs. Please let me know if it works for you.

And here is the script I used to create it:
[code]

[MNIST_withInnerProduct.mlmodel.zip](https://

[2020-05-24 11:29] jankaltoun commented on #534
@mrfarhadi thank you so much for your help and the time you spent on this!

If I understand it correctly, there's basically no way to achieve this using `tf.keras` and the only way is to use `keras` outside TF, right?

[2020-05-24 16:44] mrfarhadi commented on #534
@jankaltoun Correct. CoreML converter creates batchedMatmul and softmaxND layers out of tensorflow converter. These layers are not supported for training. The best way for now is to use Keras converter or create the identical model with coremltools NN builder API.

[2020-05-28 10:13] xiankgx commented on #715
Hi,

I am having exactly this problem as well.

I was able to avoid it by replacing my UpSampling2D layer to something else (tf.image.resize) but what this means is the model loses the ability to take arbitrary sized inputs because in tf.image.resize I have to specify the target size (height and width) instead of specifying a width and height scale as in UpSampling2D. As a result from this, the co

[2020-05-29 11:52] osianSmith commented on #704
Hey, I've had this back from bugreport.apple.com:

[code]

From my understanding that SoundAnalysis needs its class label changed but SoundAnalysis as that is what is throwing the error? But based on "The provided model must accept audio data as input, and output a classification dictionary containing the probability of each category" we cannot use SoundAnalysis as a feature Extractor right?

Than

[2020-05-29 17:39] ozgurshn commented on #359
I leave it here from Apple [sample](https://developer.apple.com/documentation/coreml/understanding_a_dice_roll_with_vision_and_object_detection)
/// The actual values to provide as input
    ///
    /// Create ML Defaults are 0.45 for IOU and 0.25 for confidence.
    /// Here the IOU threshold is relaxed a little bit because there are
    /// sometimes multiple overlapping boxes per die.
    /// T

[2020-05-30 22:22] anilkatti commented on #704
Hi @osianSmith

Correct. The error is because the API you are using (SNClassifySoundRequest) requires a classifier model (that outputs class and classProbabilities). That said, it should not have crashed. We are using the bug report you filed to address that.

That is correct as well. I'd encourage you to file a feature request if you'd like to use sound analysis framework for feature extraction.

[2020-05-31 11:25] BorisKourt commented on #276
@enoreyes unfortunately I haven't been able to sort it out. If you take a look at the comments on the SO question there is some more info: [Here](https://stackoverflow.com/questions/61231340/input-input-image-of-layer-63-not-found-in-any-of-the-outputs-of-the-preceed)

Have you had any luck yourself?

[2020-06-01 10:18] osianSmith commented on #704
Hi @anilkatti

Thank you! I have submitted this as a feature request to the feedback assistant.

[2020-06-02 11:53] IPv6 opened #720 "Converter from PB-model can`t infer input size"
## 🐞Describe the bug
- I have a model in pb format (frozen graph, attached in binary+text forms). When converting it to coreml i get the following error:
ValueError: Input 0 to Conv2D node model_1/model/Conv1/Conv2D is not a 4D tensor

Model originally created with tensorflow-2.0, which then converted into frozen graph and saved as PB. Printing shapes from model creation about model_1/model/Conv1/

[2020-06-03 00:47] anilkatti commented on #704
@osianSmith

We have a workaround for you. Things will need to do if we wants to implement your own front-end:

1. Ensure audio is at 16kHz sampling rate, 1 channel. You may be able to configure his recording API to do this, or use AVAudioConverter
2. Chunk up audio into 15600 sample chunks
3. Pack 15600 float samples into MLMultiArray
4. predictionFromFeatures on your MLModel directly instead of

[2020-06-04 07:56] alwc opened #721 "Unable to use custom layer in Core ML model if the `.mlmodel` file has a `whereNonZero` layer"
## Describe the bug
- If my `.mlmodel` has a `whereNonZero` layer and a custom layer, it won't compile in Xcode:
![image](https://user-images.githubusercontent.com/1621953/83729936-f2537c80-a67a-11ea-92c2-04e308624b3e.png)
Here my custom layer is called `Unique2D`.

## To Reproduce
- Add a custom layer to any `.mlmodel` with `whereNonZero` layer, then the `.mlmodel` will not be able to compile in

[2020-06-04 15:46] anilkatti commented on #721
@alwc thanks for reporting this. I am assuming you are providing an implementation for your custom layer (Unique2D) in your target?

If that's the case, could you please attach a simple sample app that reproduces this issue so we could investigate more?

Here's the documentation for creating and using custom layers: https://developer.apple.com/documentation/coreml/core_ml_api/creating_a_custom_lay

[2020-06-04 16:26] osianSmith commented on #704
Sure @anilkatti! I haven't had the chance to test it yet but will keep you updated as soon as I get around to! Hoping to be able to try it by the end of next week!

[2020-06-08 16:31] jmontalt commented on #311
This would be very useful for me too.

[2020-06-09 10:23] YuchengChien opened #724 "the classProbability of XGBoost is different between python and coreml model"
## ❓Question
I had trained a XGBoost model 'bst' and used coremltools to get a CoreML model. And I used the same input but the output is different. How could I  do to get the same results ? The code is below:

[code]
The result is below:
[code]

The target of coreml result is right, but the classProbability is not in 0~1. How could I do to make the two results is the same? Thanks!

## System Infor

[2020-06-09 15:13] anilkatti commented on #724
@YuchengChien could you provide the model so, we can take a closer look?

[2020-06-10 02:04] YuchengChien commented on #724
[model.zip](https://github.com/apple/coremltools/files/4755751/model.zip)

@anilkatti Thank you for your prompt reply. Attached is my XGBoost model, and the code for testing is below:
[code]

The result is below:
[code]
The target of coreml result is right, but the classProbability is not in range 0..1

[2020-06-11 06:12] dzyjjpy opened #725 "xrunc coreml model error for YOLACT onnx with no priors layer and softmax layer"
## ❓Question
https://stackoverflow.com/questions/62318038/xrunc-coreml-model-error-for-yolact-onnx-with-no-priors-layer-and-softmax-layer
## System Information
- If applicable

[2020-06-11 07:37] dzyjjpy commented on #725
@bhushan23 could you pls have a look on it? thanks :)

[2020-06-13 19:51] gouthamvgk opened #726 "Cannot convert tensorflow keras h5 model with multiple inputs"
I have defined a model in tensorflow keras with single input and two outputs. I am saving it in .h5 format and then using coremltools tensorflow convertor for coreml conversion. But in tensorflow 2.0 whenever keras model is loaded with tf.keras.models.load_model API, all the outputs tensors are of form x/Identity, y/Identity . Since Coremltools expects only the part after the / as output node name

[2020-06-17 16:13] anilkatti commented on #724
@YuchengChien this is in fact a bug in the the way Core ML is computing class probabilities for GBDTs. We have a fix coming in one of the next OS releases. However, we verified that the predicted class should be accurate and match with what XGBoost provides in multiple cases.

[2020-06-18 01:08] YuchengChien commented on #724
@anilkatti Thank you for fixing the bug. I'm looking forward to the next release.

[2020-06-19 09:10] #389 closed

[2020-06-21 16:05] ufohuang98 commented on #660
I have the same issue, is there anyone know how to solve this ?

[2020-06-23 10:21] awl-jason-rigby commented on #217
Reproduce using Caffe model from https://github.com/Linzaer/Ultra-Light-Fast-Generic-Face-Detector-1MB/tree/master/caffe/model/Slim-320

[code]

Error:
[code]

Using coremltools==4.0b1

[2020-06-24 00:39] emirkin opened #733 "Error in save_model (h5->mlmodel): 'MLModel' object has no attribute 'description'"
**Environment:**
python 3.7.6
coremltools 3.4
tfcoreml 1.1

**Error:**
[code]

**Code:**
[code]

[2020-06-24 01:40] aseemw commented on #733
`coreml_model` is of type `MLModel`, whereas the function `save_spec` expects an object of type `Spec`.

Please try either `coreml_model.save(coreml_model, model_path)` or
[code]

Also, please try `coremltools.convert()` to convert `tf.keras` models, which is now the updated API for conversion, with the [latest version of coremltools](https://coremltools.readme.io/docs), which is 4.0b1.

[2020-06-24 02:11] emirkin commented on #733
Thanks!

Installed `4.0b1` and ran:
[code]

gives this error
[code]

[2020-06-24 02:12] emirkin commented on #733
Is there the right way to suppress it without having to add `compile=False` in /coremltools/converters/mil/converter.py ?

[2020-06-24 02:48] lutzroeder opened #734 "'Object' in VisionFeaturePrint.proto is invalid in JavaScript"
## 🐞Describe the bug

[VisionFeaturePrint.proto](https://github.com/apple/coremltools/blob/master/mlmodel/format/VisionFeaturePrint.proto) in #731 defines a new message called `Object`. Since `Object` is a keyword in JavaScript, code generated in protobuf.js will fail with the following error:

[code]

This is blocking adoption of the new Core ML `.proto` in JavaScript.

## To Reproduce
1. Install

[2020-06-24 08:50] emrahgunduz commented on #423
Hi there,

We are also experiencing same error with single custom layer.
Is there a possible solution that we can use?

[2020-06-24 16:20] emirkin commented on #733
Problem solved:
[code]

[2020-06-24 16:20] #733 closed

[2020-06-24 18:06] aseemw commented on #423
Hi @emrahgunduz can you share with which Xcode and macOS version do you hit this error? Are you also using the same model or a different one? If you can attach the `.mlmodel` file that produces this year, it would be great.

[2020-06-24 20:23] jbmaxwell opened #736 "Error reporting that leaky ReLU is not yet implemented for PyTorch conversion"
I was trying to convert a ClusterGAN from PyTorch to CoreML yesterday and got an error about leaky_relu not being implemented yet. Is there a projected timeline for this? It seems to me leaky ReLU is a very popular activation function.
As a workaround, is there a reasonably simple way to write my own for the converter to use?

Any thoughts appreciated.

[2020-06-24 20:35] aseemw commented on #736
Hi @jbmaxwell thanks for reporting the issue!
Yes it does seem the leaky relu mapping function is not implemented yet. I see the one for [relu](https://github.com/apple/coremltools/blob/725da3556ff3f4e703025382c834e257e10fe92f/coremltools/converters/mil/frontend/torch/ops.py#L459) but not for leaky relu.

It should be added in the upcoming beta releases of coremltools.

As for the timeline, genera

[2020-06-24 21:14] jbmaxwell commented on #736
Okay, fingers crossed that we'll see it in the next beta—and that it will drop relatively soon! :)

I have the model running using LibTorch for now, but I'm curious about performance and have a feeling that the CoreML version will be better optimized for the hardware (correct me if I'm wrong).

[2020-06-24 22:40] znation commented on #734
I think the problem is actually a bug in the protobuf.js code generator -- it's allowing name collision at different scopes. So the following generated code is fundamentally broken, because the name Object refers to the local Object here (defined by proto), not the global Object, but Object.create needs to refer to the global:
[code]
This generated code could instead use window.Object.create (to e

[2020-06-24 22:44] gauravka commented on #734
nice :)

[2020-06-24 22:54] lutzroeder commented on #734
@znation Having been in those discussions a few times my recommendation would be to consider renaming the API. It should be a non-breaking change and would be easier to do now when things aren't set in stone. Otherwise you'd have to work with the folks who maintain protobuf.js in their spare time to get this fixed. In the bigger scheme of things I'd rather cut Core ML support and have some of the

[2020-06-24 23:11] anilkatti commented on #734
@lutzroeder that's a fair point. We will address this in Core ML. I will let you know once we have a fix for you to try.

[2020-06-25 06:57] srikris commented on #736
@jbmaxwell To clarify, this implementation is a good reference right? (https://github.com/zhampel/clusterGAN)

[2020-06-25 07:11] ozgurshn opened #737 "Converting Facenet Model (NotImplementedError: Conversion for TF op 'FIFOQueueV2' not implemented.)"
## ❓Question
I try to convert frozen graph of the facenet model. I guess it gives error because it is not exported for inference and includes training nodes. Is there a way coremltools can delete this nodes so I don't need to solve it with tensorflow?
The code I use
[code]
https://coremltools.readme.io/docs/tensorflow-conversion-examples

The error I receive
Running TensorFlow Graph Passes:   0%|

[2020-06-25 11:36] emrahgunduz commented on #423
Hi,

While I was collecting information to share, we found out that one of our custom layer implementation was returning a wrong output shape.

[code]
The output was supposed to be `[[1,1,512,16,16]]`. After correcting our implementation, model worked correctly on the device.

Sorry for taking your time. Thanks for the suuport 👍

[2020-06-25 12:16] DwayneDuane opened #738 "Tensorflow channel first model conversion to CoreML"
## ❓Question
I have a Tensorflow model that contains a Conv2D layer in channel first (NCHW) format. When I try to convert it to CoreML using coremltools 4.0b1, I get the error:

`ValueError: Incompatible dim 3 in shapes (is1, 32, 1022, 1022) vs. (1, 1, 1, 32)`

It seems the problem is that the filter op (conv2d/Conv2D) of the Conv2D layer has a shape of [1, 32, 1024, 1024], while the bias op (conv

[2020-06-25 15:01] jbmaxwell commented on #736
Yes, that's the one.

[2020-06-25 16:43] leovinus2001 commented on #736
Hitting the same issue
RuntimeError: PyTorch convert function for op leaky_relu_ not implemented
with a non GAN model.
Hence +1 for please add it in the next beta

[2020-06-25 16:58] leovinus2001 commented on #736
Here a small test case for your convenience.
Change bool 'showBug' for testing on/off.
[testLeakyRelu.jun25.txt](https://github.com/apple/coremltools/files/4832727/testLeakyRelu.jun25.txt)

[2020-06-25 17:24] mohitnihalani opened #739 "Error: Dimension mismatch in concat"
## I am trying to convert PyTorch BasNet model https://github.com/NathanUA/BASNet to CoreML, but during conversion, I am getting dimension mismatch error. Is there any way I can resolve this error?
<img width="1280" alt="Screen Shot 2020-06-25 at 1 23 35 PM" src="https://user-images.githubusercontent.com/30204371/85768482-1426a900-b6e7-11ea-9bd1-e34dfacfa61c.png">

## System Information
- If appli

[2020-06-26 06:34] GJoshi27 opened #740 "Concat layer with axis as Zero not supported."
## 🐞Describe the bug
Concat layer with axis as Zero not supported.

## Trace
Traceback (most recent call last):
  File "convertCaffeToOnnx.py", line 15, in <module>
    coreml_model = coremltools.converters.caffe.convert((input_caffe_path, proto_file))
  File "/home/gjoshi/anaconda3/lib/python3.7/site-packages/coremltools/converters/caffe/_caffe_converter.py", line 192, in convert
    predicted_fe

[2020-06-26 07:09] GJoshi27 commented on #740
Looks like axis=1 mean Concat as per batch dimension.  My prototxt has 0 for this.
Also if change my prototxt for axis=1, then getting  more errors.
Error:

ile "/home/gjoshi/anaconda3/lib/python3.7/site-packages/onnxmltools/convert/coreml/shape_calculators/neural_network/Concat.py", line 27, in calculate_concat_output_shapes
    raise RuntimeError('Only dimensions along C-axis can be different')

[2020-06-26 17:16] ek9852 opened #742 "argmax layer is not support in caffe converter"
argmax layer in caffe is not supported
For argmax layer in prototxt:
layer {
  name: "argmax"
  type: "ArgMax"
  bottom: "conv_blob17"
  top: "argmax"
  argmax_param {
    axis: 1
  }
It get silently ignore
Dig into Caffe/CaffeConverter.cpp:, it does not handle ArgMax layer.

[2020-06-26 21:04] fotiDim opened #743 "ValueError: "ResizeBilinear" op: the second input, which is the output size, must be known statically"
## 🐞Describe the bug
I am using `CoreMLTools 4.0b1` and `Tensorflow 1.14`.
I am trying to convert the mask_[rcnn_resnet50_atrous_coco](http://download.tensorflow.org/models/object_detection/mask_rcnn_resnet50_atrous_coco_2018_01_28.tar.gz) model from Tensorflow model zoo.

This is my code:

[code]

I am getting the error:
`ValueError: "ResizeBilinear" op: the second input, which is the output size

[2020-06-29 17:46] langleyd opened #745 "Torchscript: Support for 'size' op with 1 input"
## 🐞Describe the bug
- Torchscript sometimes uses size op with one input. Just the tensor, no dim provided as an input.
At the moment it raises an error.
In this case the shape should be assigned to the var as a list I believe, without the dim select.
- Pytorch converter

## Trace
[code]

## To Reproduce
- 1. Create pytorch mode that un packs a tensor size with 'size()'.
- 2. Trace the model and i

[2020-06-29 20:32] bhushan23 commented on #726
@gouthamvgk could you please give try with new converter API https://coremltools.readme.io/docs/tensorflow-2

[2020-06-29 20:34] 1duo commented on #726
If you'd like to rename inputs/outputs of `.mlmodel` post-conversion, see examples here: https://coremltools.readme.io/docs/mlmodel-utilities#rename-an-input--output-of-the-model

[2020-06-30 17:23] IAINATTWATER opened #746 "Error converting sklearn linear regression model"
## ❓Question

## System Information
- If applicable

Conversion fails with - Exception has occurred: NameError
name '_tree' is not defined.

Model is a linear regression but converter appears to be looking for a decision tree one. There's also a warning about scikit-learn version 0.22.1 is not supported. Minimum required version: 0.17. Maximum required version: 0.19.2. Disabling scikit-learn conve

[2020-06-30 21:19] dlawrences commented on #736
Running in the same issue when converting YOLO Object Detection models to CoreML.

I am using ReLU as a work-around for now, could we also supply custom activation functions instead of LeakyReLU?

Thanks

[2020-07-01 05:03] dlawrences opened #747 "Error reporting that upsample_nearest2d is not yet implemented for PyTorch conversion"
Hi team

I am converting an YOLO network to CoreML through Torchscript and the Unified Conversion API.

During conversion, the following error is thrown:

[code]

I guess this is similar to: https://github.com/apple/coremltools/issues/736

Is this going to be added to the next beta release? In the meantime, could I use any custom functions that I can pass to the converted to replace the upsample_n

[2020-07-01 05:08] dlawrences commented on #747
So I guess in the meantime, if we do not want to go away from LeakyReLU and UpSample Nearest 2D, we would have to implement them as composite operators based on this: https://coremltools.readme.io/docs/composite-operators

[2020-07-01 05:09] anilkatti commented on #746
@IAINATTWATER  thanks for reporting. We are looking into this.

[2020-07-01 17:10] aseemw commented on #747
Thank you for reporting the issue.
Yes, they will be added in the coming beta releases.
And yes you are right, using the composite op is a great way to integrate them in the conversion pipeline.

[2020-07-02 02:29] HanClinto commented on #736
@dlawrences Were you able to switch ReLU out for LeakyReLU after training, or did you need to re-train the model from scratch after you did that?  If so, how did you change this?

[2020-07-02 04:35] HanClinto commented on #747
@dlawrences Great idea about using composite operators and just referencing the base implementations!  Here is my clumsy attempt at what you suggested.  It compiles and gets through most of the conversion, but gets hung up a little further down the line (`"Error reading protobuf spec. validator error: Layer 'input' produces an output named 'input' which is also an output produced by the layer '__i

[2020-07-02 04:44] dlawrences commented on #747
Thanks @HanClinto , that's great. I'll give it a go later today and see how it goes.

In terms of your problem, I could help you if you provided a Netron file of the PyTorch model.

Cheers

[2020-07-02 04:46] dlawrences commented on #736
I have changed the model architecture to use nn.ReLU (https://pytorch.org/docs/master/generated/torch.nn.ReLU.html) instead of nn.LeakyReLU (https://pytorch.org/docs/master/generated/torch.nn.LeakyReLU.html). I don't think the weights trained for the LeakyReLU activation function would have worked that well on plain ReLU tbh - I would expect some gradients would go to zero really fast for the latt

[2020-07-02 04:55] HanClinto commented on #747
@dlawrences I suspect we're using very similar models -- it sounds like you're using the Ultralytics YOLOv5 model, and I'm currently using the Ultralytics YOLOv3 model.  I'm not sure how to export a file from Netron in any format other than PNG / SVG -- is that what you're asking for?

Thank you VERY much for the offer of help!

[2020-07-02 04:58] dlawrences commented on #747
Sorry, it's really early for me, kinda sleepy. Yea, I am using YOLOv5. Please send me the .pt file if that's something you can provide, otherwise an image would do, albeit it would be harder digging through all the ops.

[2020-07-02 05:21] HanClinto commented on #747
@dlawrences That would be very much appreciated, thank you!  I e-mailed the link to your gmail address listed in your Github profile.

[2020-07-05 09:14] dlawrences opened #748 "Boolean Mask based on threshold on specific axis"
Hi guys

Would you please shed some light on how a boolean mask could be applied to a tensor in CoreML by using a greater than some threshold operation **on a specific axis**?

For example, I have a tensor named `input` of shape `[1, anchors, 8]`. I would want to create a mask for this tensor like this
`mask = input[..., 4] > conf_thres`

And then subset input using that mask.

I have tried to do

[2020-07-05 13:50] s1ddok opened #749 "Why CoreML does not contain nearest neighbor downsampling?"
Nearest neighbor downsampling is such a fundamental thing to have and for some reason CoreML lacks it. It acts as a deal breaker for our model that has integer index maps that has to be downsampled with nearest neighbors sampling. Will it ever be introduced?

[2020-07-05 14:40] DawerG commented on #748
Hi @dlawrences

In this case, we would use `slicing with squeeze mask`, `where_non_zero` and `gather_nd` layers to achieve the desired outcome.

I have written this graph in TF1 and converted it using `coremltools.convert`.

`            sliced_input = input[..., 4]`
  `          mask = tf.where_v2(sliced_input > 0)`
 `           masked_input = tf.gather_nd(input, mask)
`

You don't need to define

[2020-07-05 15:00] DawerG commented on #749
Hi @s1ddok

Core ML recently introduced `fractional scaling factor` attribute in the `Upsample` layer which supports `nearest neigbor` as one of the interpolation techniques. https://github.com/apple/coremltools/blob/e87f1d0d6ca1dc9cd812f14f777ead0bba70bf43/mlmodel/format/NeuralNetwork.proto#L2544

Can you check if it addresses your problem?

[2020-07-05 15:04] s1ddok commented on #749
@DawerG I think it does, thanks! Completely missed that and I think the documentation still claims Upsample only takes integer scale factors. Is it only available on iOS14+?

[2020-07-05 15:07] DawerG commented on #749
@s1ddok Yes, it is only available in iOS14.

[2020-07-05 15:08] s1ddok commented on #749
@DawerG thanks for clarification and the help.

[2020-07-05 15:08] #749 closed

[2020-07-05 17:59] dlawrences commented on #748
Thanks @DawerG

I am doing the pre-steps of YOLOv3 (objectness filtering, box decode) using CoreML layers. I have managed to take care of this using something similar to what you have described:

- `add_expand_dims(axes=[0, 1, 2])` -> shape of `(1, 1, 1, anchors, 8)`
- `add_slice_static(begin_ids=[0, 0, 0, 0, 4], end_ids=[-1, -1, -1, -1, 5])` -> shape of `(1, 1, 1, anchors, 1)`
- `add_squeeze(sque

[2020-07-05 18:33] DawerG commented on #748
@dlawrences The builder APIs that, you are using, are not old and not very user-friendly.

It is recommended that you either use:

1. New builder APIs to express the graph in MIL (Model Intermediate Language) as documented in https://coremltools.readme.io/docs/model-intermediate-language

2. TensorFlow's or PyTorch APIs to define your computations and convert it to Core ML using Unified Conversion

[2020-07-06 04:05] tabsun opened #750 "Xcode version error"
## ❓Question
After converting my pytorch model into mlmodel, I got a warning:
RuntimeWarning: You will not be able to run predict() on this Core ML model. Underlying exception message was: Error compiling model: "Error reading protobuf spec. validator error: The .mlmodel supplied is of version 5, intended for a newer version of Xcode. This version of Xcode supports model version 4 or earlier.".

A

[2020-07-06 04:13] DawerG commented on #750
@tabsun This means that the model requires some features that are introduced in Mac OS 11 (iOS 14+). In order to run the predictions on your machine, you would need to upgrade to Mac OS Big Sur.

Also, if order to compile the model in Xcode by dragging, you will need to perform an additional step of upgrading your Xcode.

[2020-07-06 04:23] DawerG commented on #748
@dlawrences The shapes whose dimensions can be 0 dynamically, like the case you mentioned, are tricky to handle in Core ML, as of now.

I suggest that, if possible, to concat a non-zero constant element to the tensor that feeds into `where_non_zero` layer. This would guarantee that this artificial non-zero element would always be there and since, it's pre-determined constant, probably, it might be

[2020-07-06 16:43] lp55 opened #751 "Error converting from PyTorch to CoreML"
I'm trying to convert a UNet model from pytorch to coreml and I'm getting the following error:

[code]

   I'm using pytorch nightly and coremltools 4.0b1 on Windows. Here's a simple code to test this:

[code]

   Any ideas why this code gets that error? There are no special layers, and UNet ops are pretty standard.
   Oh yeah, if I try to set the outputs parameters I get this exception: ValueErro

[2020-07-06 16:50] DawerG commented on #751
Thanks @lp55 for reporting the issue. We are looking into it.

In the meanwhile, can you please try converting this model with `torch==1.5.0`?

[2020-07-06 19:05] dlawrences commented on #748
Thanks @DawerG, managed to do it using your trick!

[2020-07-06 19:05] #748 closed

[2020-07-06 19:24] dlawrences opened #752 "Segmentation fault during CoreML NMS"
Hi team

I have created a model using the coremltools API. This takes the detections done by a YOLOv5 CNN (https://github.com/ultralytics/yolov5) converted from PyTorch to CoreML and does the following operations:
- filters out predictions with objectness < 0.1
- concatenates all the remaining predictions from different feature maps (generated for my case are 20x20, 40x40, 80x80)
- slices xywh fro

[2020-07-06 19:46] anilkatti commented on #752
@dlawrences thanks for reporting this. We are looking into this.

[2020-07-07 01:31] IAINATTWATER opened #753 "TypeError: model_input_signature() got an unexpected keyword argument 'keep_original_batch_size'"
## ❓Question

Converting Keras CNN to CoreML. Tested model with predict (using an image to fully test). Converter gives subject error. Anyone seen this?

Iain

[2020-07-07 02:21] 1duo commented on #753
Hi @IAINATTWATER, if you're trying to convert `tf.keras` model, the minimum TF version required is `2.1.0`. Can you give that a try? if it's not working, it'd be ideal if you can provide scripts and package versions, so that we can reproduce this issue. Thanks!

[2020-07-07 08:34] marcoleewow opened #755 "coremltools 4.0b1 pytorch multi layer LSTM conversion"
## 🐞Describe the bug
cannot convert multi layer LSTM pytorch model to mlmodel.

## Trace
I tried to use the `traced_model` for `nn.LSTM` module with num_layers > 1, and I get this error:
[code]
I then tried to redefine the module as multi layer, traced it and then convert, but I will then get this error:
[code]

I also tried to use `torch.jit.script` instead of trace for both model, but they give:

[2020-07-07 09:05] lp55 commented on #751
Hi,

    On the example code I gave, using pytorch==1.5 it worked (well I didn't actually tested the produced mode, but the convertion process was concluded), but on my trained network I got the following error:

RuntimeError: PyTorch convert function for op upsample_nearest2d not implemented

    What  upsample op is avaliable for pytorch conversion? I can change my training code to match it.

[2020-07-07 11:39] lp55 commented on #751
I read the coremltools convertion code and it seems bilinear upsampling is supported. I'll train with that and report the results afterwards.

[2020-07-07 16:31] leovinus2001 opened #756 "PyTorch model with Flexible input shape cannot be JIT traced nor converted to .mlmodel"
Need some help please with the flexible input shapes in coremltools v4  @aseemw @srikris
https://coremltools.readme.io/docs/flexible-inputs

A simple PyTorch model with Flexible input shapes such as a RangeDim cannot be converted to MLModel.
I was testing with a one layer LSTM in Pytorch.
Testcase attached as .txt as cannot attach as .py , grumble

Torch version : 1.5.0
CoreML tools version : 4.0b

[2020-07-07 16:38] leovinus2001 opened #757 "A PyTorch LSTM with batch_first==True cannot be converted to .mlmodel"
The bug trace says:
Bug ValueError: CoreML does not support LSTM layer with batch_first==True.

Python 3.7.6
PyTorch 1.5.0
CoreML tools version : 4.0b1
macOS Catalina latest

Rational:
The model and code are much cleaner if the input shape dimensions are consistently (batch size x seqLen x num features)

Expected behavior:
CoreML tools v4 should handle conversion of PyTorch LSTM with batchFirst ==

[2020-07-07 17:08] DawerG commented on #756
Thanks for raising this issue.

Bug 1: It's not a bug since `torch.jit.trace` is method from PyTorch whereas `myinput_variable` is a `coremltools` type description object. These coremltools type descriptions objects have their meaning defined only in the coremltools package.

Bug 2: We are looking into it.

[2020-07-07 17:24] leovinus2001 commented on #756
Thank you for the comment, and make sense. However, what would you suggest as solution then? Always trace with fixed shape Torch types even when the CoreML conversion will take a flexible shape?

Alternatively, could the https://coremltools.readme.io/docs/flexible-inputs be extended with more instructions for PyTorch?

[2020-07-07 19:04] leovinus2001 opened #759 "Conversion of PyTorch to .mlmodel fails on functional F.max_pool2d where stride is NOT explicitly specified."
Maybe I missed something but I have an issue with the PyTorch Functional F.max_pool2d() when the stride is NOT explicit specified, and then convert to .mlmodel.

In the attached testcase, the model conversion from PyTorch to .mlmodel fails on that operation.

There are workarounds (Pooling layer is fine) but the functional pool fails, see test case.

Python 3.7.6
macOS Catalina latest
Torch versio

[2020-07-07 19:20] DawerG commented on #747
Hello @dlawrences @HanClinto

Can you try converting the model using this PR? https://github.com/apple/coremltools/pull/758

[2020-07-07 19:22] DawerG commented on #736
This PR #758 adds `leaky_relu` and `upsample_nearest2d` layers. Can you please try converting this model using the change in this PR?

[2020-07-07 19:25] dlawrences commented on #747
Hi @DawerG

I'll give it a go tomorrow. Thank you for the swift turnaround.

Cheers

[2020-07-07 21:02] leovinus2001 commented on #736
Pulled coremltools, rebuilt coremltools from TOT, reran the testcase I provided above, and that passes now. Seems like LeakyRelu works. Thanks.

[2020-07-07 23:24] bhushan23 commented on #752
@dlawrences can you share new `mlmodel` with nms layer?

[2020-07-08 00:54] IAINATTWATER commented on #753
@1duo That worked (updated TF). Thank you!
Iain

[2020-07-08 00:54] #753 closed

[2020-07-08 02:54] DawerG commented on #757
@leovinus2001 This PR https://github.com/apple/coremltools/pull/761 enables `batch_first` mode for LSTM cells.

[2020-07-08 02:59] DawerG commented on #751
@ip55 This PR https://github.com/apple/coremltools/pull/758 was recently merged in the `coremltools/master`. It adds support for `upsample_nearest2d`. Can you try converting your model with this change?

Note: Core ML only supports  `upsample_nearest2d` when scaling factors are integers.

[2020-07-08 03:42] dlawrences commented on #752
Sure. Could you please provide a private e-mail address so I can send it over? I wouldn't be able to share it publicly tho for now.

Cheers

[2020-07-08 04:56] pocketpixels opened #762 "Documentation: Pytorch model conversion example is missing output (re)naming step"
In the [Pytorch Examples section](https://coremltools.readme.io/docs/pytorch-conversion-examples) section in the documentation:
In Step 8 there is a Note stating "This example also provides a name for the output, which will make it easier to extract from the Core ML model's prediction dictionary."

However as far as I can tell no name for the output of the converted model is provided anywhere.

In

[2020-07-08 05:13] pocketpixels opened #763 "Documentation: MIL builder "Out" tab is non-functional"
On the [Model Intermediate Language](https://coremltools.readme.io/docs/model-intermediate-language) page in the documentation, under the heading "Building MIL Program with Builder", the code example box has an "Out" tab that is supposed to show the code's output.
However selecting this tab currently does not do anything. (Tested in Safari 13.1.1 and Chrome 83.0.4103.116)

[2020-07-08 10:47] lp55 commented on #751
Hi @DawerG

So here's the output after using the current master of coremltools:

Converting Frontend ==> MIL Ops:  24%|██████████▋                                 | 183/750 [00:00<00:01, 435.77 ops/s]WARNING:root:Saving value type of float16 into a builtin type of i8, might lose precision!
Converting Frontend ==> MIL Ops:  29%|████████████▋                               | 216/750 [00:00<00:01, 394

[2020-07-08 14:04] leovinus2001 opened #764 "PyTorch to CoreML model conversion does not handle the torch tensor narrow() operation."
Title:

PyTorch to CoreML model conversion does not handle the torch tensor narrow() operation.

Relevance:

See the question I filed for coremltools titled
"Cannot properly convert PyTorch model to .mlmodel when there is a dynamic slice/resize/narrow involved."
The narrow() missing-op bug that was found as part of the question.

Reproducible:

Yes

Testcase:

Attached
[testNarrow.txt](https://git

[2020-07-08 14:08] leovinus2001 opened #765 "PyTorch to CoreML model conversion via scripting (torch.jit.script) gives error messages."
Title:

PyTorch to CoreML model conversion via scripting (torch.jit.script) gives error messages.

Relevance:

For certain models, torch scripting is preferred over the JIT trace as explained here
https://coremltools.readme.io/docs/model-scripting

When we use the torch.jit.script in this test model, we see that we get error messages in to CoreML conversion which is probably wrong.

Reproducible:

[2020-07-08 14:13] leovinus2001 opened #766 "Question: Cannot properly convert PyTorch model to CoreML .mlmodel when there is a dynamic slice/resize/narrow involved. How to?"
Question:

Cannot properly convert PyTorch model to .mlmodel when there is a dynamic slice/resize/narrow involved. How to?

Relevance:

In the attached test case forward() pass, we not only have input 'x', we also need to reformat some extra data in the same shape to combine input 'x' PLUS 'extra_data'. This works for PyTorch but we need one good and working solution in combination with CoreML con

[2020-07-08 14:15] leovinus2001 commented on #757
Thanks, I'll have a look and get back to you asap

[2020-07-08 14:34] leovinus2001 commented on #757
While I could not 'pull' your changes via git, I can confirm that your 3 line changes in
coremltools/converters/mil/frontend/torch/ops.py
from
https://github.com/apple/coremltools/pull/761/commits/dc4ef28ac0999d437b36020d66478a951f899b7b
make the PyTorch to CoreML conversion work for an LSTM with batch_first=True.

The error message:
ValueError: CoreML does not support LSTM layer with batch_first=

[2020-07-08 16:50] MattToul commented on #750
Hello @DawerG,

I have recently installed the second beta Big Sur and the latest Xcode version 11.5. Unfortunately I still have the same error as tabsun. I have added a screen shot of the error below :

I use python  3.7, tensorflow 2.2 and coremltools 4.0b1 .

<img width="850" alt="Capture d’écran 2020-07-08 à 18 45 32" src="https://user-images.githubusercontent.com/16106984/86946811-35f24800-c

[2020-07-08 17:11] DawerG commented on #750
@MattToul Yes, for compiling the model of spec version 5, you would need to install Xcode 12 beta.

[2020-07-08 18:32] aseemw commented on #763
The code snippet has been updated, please check again and refresh.

[2020-07-08 18:32] #763 closed

[2020-07-08 19:42] dlawrences commented on #747
Hi @DawerG

I've seen you have merged the PR by this point. I have installed the latest version of coremltools by doing:

[code]

Conversion works well having this package. No issue for `upsample_nearest2d` or `leaky_relu` anymore.

Cheers!

[2020-07-08 19:42] #747 closed

[2020-07-08 20:01] leovinus2001 opened #768 "PyTorch to CoreML model conversion with coremltools v4.0b1 for a TransformerEncoder model/module does not complete. Missing op: bmm."
Relevance:

Transformers train faster and deliver often better models.
The coremltools v4.0 converter from PyTorch to coreml format .mlmodel should handle it well for embedded work.

Background:

- the TransformerEncoder was introduced in PyTorch 1.4 I believe
- the log below shows a CoreML tools v4.0b1 conversion crash on
RuntimeError: PyTorch convert function for op bmm not implemented
- same co

[2020-07-08 20:19] DawerG commented on #759
@leovinus2001 This PR https://github.com/apple/coremltools/pull/769 fixes the reported issue. Thanks for raising it.

[2020-07-08 20:30] DawerG commented on #768
@leovinus2001 Yes, you are right, bmm stands for batched matrix multiplication layer. Core ML supports this layer. We will hook it up in the torch frontend as soon as possible.

Thanks for reporting the issue and such a detailed bug reporting. Appreciate your effort and help.

[2020-07-08 20:39] pocketpixels commented on #763
The same non-functional "In"/"Out" tabs are also used [on this page](https://coremltools.readme.io/docs/pytorch-conversion-examples) in step 7.

[2020-07-08 21:26] johncaling40 opened #771 "KeyError: 0 when converting keras model"
## 🐞Describe the bug
When i convert a keras model, i get KeyError: 0.
- Yes it is a keras converter issue

## Trace
Traceback (most recent call last):
  File "coremlconverter.py", line 26, in <module>
    model = load_model(args["model"])
  File "C:\Users\iamap\anaconda3\envs\Tensorflow_2.0_real\lib\site-packages\keras\models.py", line 243, in load_model
    model = model_from_config(model_config,

[2020-07-08 22:59] 1duo commented on #762
Hi @pocketpixels, thanks for reporting this issue. Documentation has been updated to a runnable state: https://coremltools.readme.io/docs/pytorch-conversion-examples. We'll edit later on for better human readability.

[2020-07-08 22:59] #762 closed

[2020-07-09 04:16] parameciumvance opened #773 "libcaffeconverter import error"
## 🐞Describe the bug
I want to do caffemodel conversion. Following the README I install the latest 4.0b1 version by pip.
Then I encounter the libcaffeconverter import error. Tracing the code I noticed that there is no such "libcaffeconverter" in the corresponding place.
The problem can be solved just by install the previous 3.4 version(by pip). After installation the "libcaffeconverter.so" just ap

[2020-07-09 04:54] pocketpixels opened #774 "Add support for converting PyTorch bilinear upsampling to CoreML targeting iOS 13"
Currently models that use bilinear upsampling in PyTorch can be converted to CoreML models targeting iOS 14, but not iOS 13.

For example:
[code]
will produce the error:

    1. Upsample operation with Align Corners mode

The relevant check leading to this error is in converters/mil/_deployment_compatibility.py line 84:
[code]

While the CoreML `upsample` operation in iOS 13 does not support the s

[2020-07-09 09:39] gilevir opened #775 "Output specifications support for Pytorch converter"
## 🌱 Describe your Feature Request

As the documentation explicitly point it out: "it is good practice to think about the interface to the model. This includes names and types of inputs and outputs".
When converting a model from PyTorch, one can just not explicitly set output type, name and size. Those specifications are also very useful when we need to scale / preprocess inputs and outputs.

## U

[2020-07-09 14:07] dzyjjpy commented on #725
onnx2coreml bug,  not support float scale upsample op

[2020-07-09 14:07] #725 closed

[2020-07-09 14:08] leovinus2001 commented on #759
Welcome. FYI, I tested your changes from #769 in
coremltools/converters/mil/frontend/torch/ops.py
and
coremltools/converters/mil/mil/ops/defs/tensor_operation.py
and it solves the issue and test case.
Both conversion from PyTorch to CoreML and correct inference in CoreML i.e. seems good to me.
Thanks.

[2020-07-09 14:14] leovinus2001 commented on #755
I run into the same issue with PyTorch 1.5.1 and coremltools TOT

Traceback (most recent call last):
  File "~/Library/Python/3.7/lib/python/site-packages/coremltools/converters/_converters_entry.py", line 299, in convert
    **kwargs
  File "~/Library/Python/3.7/lib/python/site-packages/coremltools/converters/mil/converter.py", line 120, in _convert
    prog = frontend_converter(model, **kwargs)

[2020-07-09 15:09] leovinus2001 commented on #775
Agreed.
1) In coremltools v4.0b1, the document for the TF->CoreML >does< allow output naming i.e. it should be similar for PyTorch to Coreml
https://coremltools.readme.io/docs/tensorflow-conversion-examples
2) I could be wrong but I seem to remember that coremltools v3 did allow output naming via PyTorch->ONNX->Coreml which would make the v4b1 behavior for PyTorch a regression.

[2020-07-09 16:09] leovinus2001 commented on #768
You are welcome. Appreciate the fixes!

[2020-07-09 16:22] leovinus2001 opened #776 "PyTorch to CoreML via v4.0b1 tools does not convert LSTM with h_0/c_0 input, TypeError: iteration over a 0-d tensor"
Reproducible:

Yes. The trace is with the pip installed coremltools 4.0b1 but TOT on July8 gives same trace

Testcase:

Attached
[testMultipleInputs.txt](https://github.com/apple/coremltools/files/4898077/testMultipleInputs.txt)

Setup:

Torch version : 1.5.1
CoreML tools version : 4.0b1

Log:

Torch version : 1.5.1
CoreML tools version : 4.0b1
TestModel(
  (lstm): LSTM(28, 16)
)
Converting Fronte

[2020-07-09 17:27] moto-apple commented on #752
Hello @dlawrences, could you file a radar and attach the model there? Thank you.
https://developer.apple.com/bug-reporting/

[2020-07-09 18:48] DawerG commented on #759
Thanks for verifying. Closing it.

[2020-07-09 18:48] #759 closed

[2020-07-09 18:49] DawerG commented on #757
@leovinus2001 Thanks for verifying. Closing it.

[2020-07-09 18:49] #757 closed

[2020-07-09 20:24] jbmaxwell opened #778 "Conversion failure on "PyTorch convert function for op mv not implemented""
I'm hitting this error when converting a PyTorch convolutional model with spectral normalization.

[2020-07-10 15:21] leovinus2001 commented on #778
I might be seeing the same issue. Here is a test case where I hit it.
[testSpectral.txt](https://github.com/apple/coremltools/files/4903951/testSpectral.txt)

[2020-07-10 15:40] leovinus2001 opened #784 "PyTorch to CoreML conversion fails with tools 4.0b1 at BatchNorm2d with track_running_stats=False, ValueError: Input mean is required for op batch_norm."
Title:

PyTorch to CoreML conversion fails with tools 4.0b1 at BatchNorm2d with track_running_stats=False, ValueError: Input mean is required for op batch_norm.

Relevance:

This might seem like an edge case but we have several models where this is relevant. Hence the report.

Documentation at

https://pytorch.org/docs/master/generated/torch.nn.BatchNorm2d.html#batchnorm2d

In detail,
affine=True,

[2020-07-10 15:43] leovinus2001 opened #785 "PyTorch to CoreML conversion fails with tools 4.0b1 at InstanceNorm2d (op instance_norm not implemented)"
Setup and reproduce as in issue #784 but just use nn.InstanceNorm2d() instead

Log:

    mlmodel = ct.convert( traced_model, inputs= [ ct.TensorType(name="input1", shape=dummy_input.shape) ] )
  File "~/Library/Python/3.7/lib/python/site-packages/coremltools/converters/_converters_entry.py", line 299, in convert
    **kwargs
  File "~/Library/Python/3.7/lib/python/site-packages/coremltools/convert

[2020-07-10 16:13] leovinus2001 commented on #776
Was digging a bit deeper into this. What happens is that the function any_symbolic() in the coremltools converter at
coremltools/converters/mil/mil/types/symbolic.py
is analyzing the list [h0, c0] in the final
elif hasattr(val, "__iter__"):
case.
Remember h0 and c0 were declared as
torch.zeros([1,1,16], dtype=torch.float32) # h_0
torch.zeros([1,1,16], dtype=torch.float32) # c_0

When we print the

[2020-07-10 18:05] leovinus2001 commented on #756
Just to confirm that the issue is the parsing of the ct.RangeDim().

When you take the test case, and then do the JIT trace with the 'fixed' input as
   traced_model = torch.jit.trace(model, myinput_fixed)
followed by
    myinput_variable   = ct.TensorType(shape=ct.Shape(shape=(-1, batchSize, nFeat)) )
then the conversion works and the resulting CoreML model has shape+shapeRanges. Good.

The bug i

[2020-07-13 17:07] leovinus2001 commented on #765
Relevance:

The PyTorch scripting at
https://coremltools.readme.io/docs/model-scripting
is essential for dynamic aspects of models.

If the conversion to CoreML fails then we might not be able to use models with dynamic stuff in CoreML.
This is relevant for some Transformer models, see GitHub question #766

Today, we update the scripting  issue and add an extra testcase such that we now can demons

[2020-07-13 17:11] leovinus2001 opened #788 "PyTorch to CoreML model conversion does not handle torch.randn_like(), missing op (ERROR: PyTorch convert function for op randn_like not implemented)"
Relevance:

This function is used in some Variational Autoencoders (VAE) models, e.g., the example from PyTorch docs at
https://github.com/pytorch/examples/blob/master/vae/main.py

Reproducible:

Yes

Testcase:

Attached

Setup:

Torch version : 1.5.0
CoreML tools version : 4.0b1

Log:

~/Library/Python/3.7/lib/python/site-packages/torch/jit/__init__.py:1037: TracerWarning: Trace had nondeterminis

[2020-07-13 17:18] #736 closed

[2020-07-13 17:19] 1duo commented on #703
@QiAnXinCodeSafe Thanks for reporting this issue! The codebase has changed, this is no longer appliable.

[2020-07-13 17:19] #703 closed

[2020-07-13 18:04] #750 closed

[2020-07-13 20:29] #785 closed

[2020-07-14 09:31] siva-wellnesys opened #789 "Dense layer is nor supporting"
## 🐞Describe the bug
- A clear and brief description of what the bug is.
- Is this a converter issue? If yes, please specify which converter (sci-kit, keras, xgboost etc.)

## Trace
If applicable, please paste the error trace.

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]
- If applicable, please attach the source model
    - If the model cannot

[2020-07-14 16:17] 1duo commented on #789
Hi @siva-wellnesys, on TensorFlow 2.0+, `tf.keras` is becoming the main interface, can you look at examples here: https://coremltools.readme.io/docs/tensorflow-2#conversion-from-user-defined-models? With TF 2.0+, `tf.keras.layers.Dense` is supported.

[2020-07-14 19:22] dlawrences commented on #752
Hi

I'll try to file the radar in the coming days.

In terms of the code, this is what I am doing:

[code]

With the settings above, I am actually getting the following error:

[code]

The description of the spec is the following:
[code]

The issue is sometimes I actually get segmentation fault as in the original post.

It is really weird and inconsistent from a run to another.

I tried passing da

[2020-07-14 19:30] dlawrences commented on #752
One thing to be specified that's missing from the documentation. I am pretty sure the `NonMaximumSuppressionLayerParams ` expects the input **input1** in normalized **xywh** format... which is not really specified:

https://apple.github.io/coremltools/coremlspecification/sections/NeuralNetwork.html#nonmaximumsuppressionlayerparams

[2020-07-14 19:41] dlawrences commented on #752
As described above, the NMS layer is the last step in the pipeline. Everything else is working as expected... I am providing for additional debugging purposes the **actual** data that enters the NMS layer.

The attached zip archive contains two files:
- `raw_coordinates.npy`: binary file containing the data in tensor `raw_coordinates` that's served as input to the NMS layer
- `raw_confidence.npy`:

[2020-07-14 21:26] moto-apple commented on #752
Hi @dlawrences, thank you for the additional information. Unfortunately I have not been able to recreate the issue. We would like to have a radar with these attachments:

 - sysdiagnose (*) taken after the problem occurs.
 - Reproducible script or code
 - The model file.

(*) You can take sysdiagnose with the following command on the terminal. It creates a file something like `sysdiagnose_2020.07.

[2020-07-15 04:31] siva-wellnesys commented on #789
hi yundo,

can you specify the versions of
coremltools==?
tensorflow==?
keras==?

so that all will work.

Thanks & Regards
S. Siva Nagendra
Senior Software Engineer- AI/ML,
Wellnesys R&D - Bangalore.

On Tue, Jul 14, 2020 at 9:47 PM Yuduo Wu <notifications@github.com> wrote:

[2020-07-15 04:38] siva-wellnesys commented on #789
from tensorflow.keras.layers import Dense
#first combination
//here tf_vesrion==1.15
//keras_version== 2.2.5
//coremltools_version==3.3

#second combination
//here tf_vesrion==2.2
//keras_version== 2.2.5
//coremltools_version==3.3

this is my network architecture.

model = Sequential()
model.add(Dense(512, activation='relu', input_shape=(1 * 34,)))
model.add(Dense(256, activation='relu'))
model.ad

[2020-07-15 14:30] haifengkao opened #791 "Tensorflow2: Convert LSTM fails"
## 🐞Describe the bug
- unable to convert lstm layer

- which converter: tensorflow

## Trace
[code]
## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]

## System environment (please complete the following information):
 - coremltools version  (e.g., 3.0b5): 4.0b1
 - OS (e.g., MacOS, Linux): MacOS
 - macOS version (if applicable): OSX 10.5.5
 - XCode

[2020-07-15 14:45] haifengkao opened #792 "Keras model convert doesn't work at all"
## 🐞Describe the bug
Unable to convert Keras model

## Trace
[code]
## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]

## System environment (please complete the following information):
 - coremltools version  (e.g., 3.0b5): 4.0b1
 - OS (e.g., MacOS, Linux): MaxOS
 - macOS version (if applicable): 10.15.5
 - XCode version (if applicable): 11.6b
 - H

[2020-07-15 14:52] lp55 opened #793 "PyTorch conversion error - TypeError with bool"
Hi,

    I'm trying to convert a model from https://github.com/ultralytics/yolov5/ (yolov5l in specific) and I get the following error:

WARNING:root:Tuple detected at graph output. This will be flattened in the converted model.
Converting Frontend ==> MIL Ops:  61%|██████████████████████████                 | 1399/2307 [00:13<00:13, 64.92 ops/s]WARNING:root:Saving value type of float16 into a bui

[2020-07-15 22:57] BroderickHigby opened #795 "ValueError: Received invalid arguments for PyTorch conversion of op"
## 🐞Describe the bug
- A clear and brief description of what the bug is.
- Is this a converter issue? If yes, please specify which converter (sci-kit, keras, xgboost etc.)

## Trace
If applicable, please paste the error trace.
[code]

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]
dummy_input = torch.rand(1,1,3,160,160)
traced_model = torch.jit.t

[2020-07-16 05:50] haifengkao commented on #792
I have switched to use the old interface, but the error message is the same.
[code]

[code]

[2020-07-16 05:55] haifengkao commented on #792
Oops, this issue has nothing to do with cormel. It crashes on line 5. It's Keras's problem. Thanks.
[code]

[2020-07-16 05:55] #792 closed

[2020-07-16 06:23] Ykid opened #796 "Cannot get batch dimension to work"
## ❓Question

I tried to build add a preprocessing layer to my coreml model. Without batching dimension, things worked fine. But when I started to put in the batch dimension, the coreml model failed to predict. May I know how to solve this issue ?

errors I got in coreml tools

[code]

script to reproduce
[code]

## System Information
MacOS 10.15.4
coremltools 3.4

[2020-07-17 02:44] DawerG commented on #796
@Ykid Please set `disable_rank5_shape_mapping=True` when instantiating the `NeuralNetworkBuilder` object.

Also, you might want to checkout the new user-friendly builder APIs. https://coremltools.readme.io/docs/model-intermediate-language

[2020-07-17 20:10] DawerG commented on #793
Thanks @lp55 for raising the issue. We are woking on the fix.

For the time being, to unblock yourself, you might want to manually change `list of numpy bool` to `list of python bool`for `end_masks` object in the call `spec_layer_params.endMasks.extend(end_masks)`

[2020-07-19 08:09] andyjslee commented on #789
I am having the same issue. It would be great if this could be resolved.

[2020-07-20 03:50] magneter commented on #297
sorry ,forget to reply this. Thanks, I tried and It worked a long time. Great job.

[2020-07-20 06:10] siva-wellnesys commented on #789
please check the following screen shorts

the last line of screenshot will have version of tensorflow, keras and
coremltools
and last but one line is the error.
Thanks & Regards
S. Siva Nagendra
Senior Software Engineer- AI/ML,
Wellnesys R&D - Bangalore.

On Tue, Jul 14, 2020 at 9:47 PM Yuduo Wu <notifications@github.com> wrote:

[2020-07-20 10:47] lp55 commented on #793
@DawerG

Thanks, the conversion process worked now. I'll test the coverted model and check if it works properly now.
For any one stuck on the same issue (until the propoer fix is avaliable), I simply added the following line:

end_masks_conv = [bool(val) for val in end_masks]

and changed

spec_layer_params.endMasks.extend(end_masks)

to

spec_layer_params.endMasks.extend(end_masks_conv)

inside t

[2020-07-20 16:17] yaboli opened #800 "Unable to retrieve layers inside a loop layer"
## 🐞Describe the bug
Any layers inside a loop layer of an MLModel object cannot be retrieved via MLModel.get_spec() method.

## Trace
N/A

## To Reproduce
[code]

## System environment (please complete the following information):
 - coremltools version  (e.g., 3.0b5): 3.4
 - OS (e.g., MacOS, Linux): MacOS
 - macOS version (if applicable): 10.15.6
 - XCode version (if applicable): N/A
 - How you in

[2020-07-20 17:50] jbmaxwell commented on #778
Just checking if there's any progress on this operator? I have a model that's giving me inconsistent output using LibTorch (on iOS) so I'd really love to try it as an mlmodel. (The model is fine in Python, so the LibTorch issues are super confusing...)

[2020-07-20 18:56] DawerG commented on #778
In the meantime, do you want to try [composite op](https://coremltools.readme.io/docs/composite-operators) with

[code]

[2020-07-21 05:23] hovhanns opened #802 "Convert PyTorch FasterRCNN to CoreML fails"
## 🐞Describe the bug
Trying to convert PyTorch FasterRCNN model to CoreML, but getting runtime error `temporary: the only valid use of a module is looking up an attribute but found  = prim::SetAttr[name="_has_warned"](%self, %6)`

## Trace
Traceback (most recent call last):
  File "/home/harut/Projects/Python/venvs/main.py", line 20, in <module>
    main()
  File "/home/harut/Projects/Python/venvs

[2020-07-21 11:28] joshgreifer opened #804 "cuda tensor parameter fail to convert to numpy in InternalTorchIRGraph"
## 🐞Describe the bug
- If the input parameter type to a traced model is tensor.cuda(),  ct.convert fails with the below error
- Torch

## Trace
[code]
Note, possible fix:

replace
`    value = param.detach().numpy()
`
with
`    value = param.cpu().detach().numpy()
`

## System environment (please complete the following information):
 - coremltools version:  4.0b1
 - OS: Linux
 - How you install py

[2020-07-21 13:14] fotiDim opened #805 "Can't convert TF2 Zoo model"
## 🐞Description the bug
- [Tensorflow model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md) was recently updated to TF2. I attempted to convert one of their sample models (efficientdet_d5_coco17_tpu-32) but got a model format error.

## Trace
[code]

## To Reproduce
Use this [notebook](https://github.com/tensorflow/models/blob/master/rese

[2020-07-21 13:16] fotiDim commented on #743
Since TF model zoo was recently updated to TF2, this issue is not that important anymore. I would like to shift the focus to [that issue](https://github.com/apple/coremltools/issues/805) instead.

[2020-07-21 20:05] siddhantsomani commented on #805
Can you try passing in the path to the SavedModel folder directly?

`mlmodel = ct.convert(model="models/research/object_detection/test_data/efficientdet_d5_coco17_tpu-32/saved_model/", source="tensorflow")`

[2020-07-21 21:09] fotiDim commented on #805
@siddhantsomani in that case I am getting this trace:

[code]

[2020-07-22 15:58] siddhantsomani commented on #805
I can reproduce this. Any ideas if this is related to the 'delete_asserts control flow' bug @1duo ?

[2020-07-23 09:37] hovhanns opened #809 "FasterRCNN onnx convert to CoreML interrupted by signal 11: SIGSEGV"
## 🐞Describe the bug
I've converted the PyTorch FasterRCNN model to onnx than trying to convert onnx model to CoreML, but the output getting the output _interrupted by signal 11: SIGSEGV_

## Trace
Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)

## To Reproduce

[code]
## System environment (please complete the following information):
 - coremltools version : 4.01b
 - OS:

[2020-07-23 17:30] leovinus2001 opened #810 "PyTorch to CoreML LSTM model conversion v4 fails with ValueError: Layer with name "_lstm_h0_reshaped_expanded" has already been added. Please use a unique name."
Relevance:-----------------------------------------------------------

While there other open issues in the coremltools v4 TOT repo regarding PyTorch trained LSTMs, such as #755 (multi layer LSTM) and #776 (handling of LSTM initials h0/c0), I was looking for workarounds on how to build multi-layer bidirectional LSTMs. Now I ran into a blocking bug with error:

In other words, another blocker on th

[2020-07-23 19:32] bhushan23 commented on #725
@dzyjjpy can you please try with [PyTorch convertor](https://coremltools.readme.io/docs/pytorch-conversion)? ONNX-CoreML converter will not support float upsample as it's added in CoreML 4 this year :(

[2020-07-24 06:00] ghoshaw opened #813 "Unsupported Ops of type: SplitV"
NotImplementedError: Unsupported Ops of type: SplitV

Do not support Tensorflow 1 split ?

[2020-07-24 07:00] alwc commented on #751
I'm trying to convert a U-net-like model and I'm getting both `ValueError: Incompatible dim 2 in shapes ...` and `Saving value type of float16 into a builtin type of i8, might lose precision!` problems

[2020-07-24 07:22] chandanlal92 commented on #773
I am facing the same issue? what is the solution. I tried install other version of coremltools. It is not working

[2020-07-24 08:01] chandanlal92 commented on #773
ERROR: Could not find a version that satisfies the requirement coremltools==3.4 (from versions: 4.0b1)
ERROR: No matching distribution found for coremltools==3.4

[2020-07-24 08:02] chandanlal92 commented on #773
How can I install coremltools==3.4 to solve this bug

[2020-07-24 08:25] parameciumvance commented on #773
Which python version are you using?
coremltools 3.4 currently supports up to python3.7

[2020-07-24 08:34] chandanlal92 commented on #773
python 3.7.6

[2020-07-24 14:01] clive819 opened #814 "PyTorch convert function for op group_norm not implemented"
## 🐞Describe the bug
- Unable to convert group_norm layer
- Which converter: PyTorch

## Trace
[code]

## To Reproduce
Simply create a model with group_norm layer in it, and try to convert it.

## System environment (please complete the following information):
 - coremltools version: 4.0b1
 - OS: MacOS
 - macOS version:  10.15.5
 - python version: 3.8

[2020-07-24 17:44] ayy345 opened #815 "Conversion failing for already traced & saved pytorch model"
##  Conversion failing for  already traced & saved pytorch model
I have a traced model.

[code]

Can I not convert the model to coreml like this?

[code]

## System Information

coremltools==4.0b1
torch==1.5.1
torchvision=0.6.1

[2020-07-24 20:16] leovinus2001 opened #816 "PyTorch to CoreML model conversion via scripting (torch.jit.script) has a missing op "PyTorch convert function for op 'dim' not implemented." With potential fix, need feedback."
Relevance:---------------------------------------------------------

This is a followup to the three torch.jit.script scripting errors in issue #765.
Scripting is a necessity for dynamic models.

As part of CoreML conversion v4, torch.jit.script on a very simple model fails because of a missing torchscript operator dim() in converter is seems.
This is blocking other issues.

While I was able to co

[2020-07-25 00:15] jbmaxwell commented on #778
Sorry, I just now got around to trying this...
I'm obviously missing something, because I'm hitting the error: `name 'register_torch_op' is not defined`. The only other code I added to my existing converter is the import: `from coremltools.converters.mil import register_tf_op`.

?

[2020-07-25 17:46] jbmaxwell commented on #778
oh, gulp... I just noticed that I'd copied `from coremltools.converters.mil import register_tf_op` from the composite op doc page you linked, but I'm not working with "tf"... I just tried by substituting 'register_torch_op` and although it's recognized now, I get an error in the mv function: `name '_get_inputs' is not defined`

[2020-07-25 19:25] leovinus2001 opened #817 "PyTorch to CoreML BatchNorm model SCRIPT conversion v4 fails with "temporary: the only valid use of a module is looking up an attribute but found = prim::SetAttr[name="num_batches_tracked"](%13, %80)""
Relevance:-----------------------------------------------------------

Firstly, while the JIT conversion of the attached test modeland code works fine, the torch.jit.script() fails on the BatchNorm conversion.
The conversion of both BatchNorm1D and BatchNorm2D fails which is a blocker for using the script mode and converting dynamic models.

Secondly, I have seen another error on prim::SetAttr men

[2020-07-25 21:17] leovinus2001 commented on #778
You are missing 'dot' after adding mv(), ok.
However, when I follow the instructions above and add the 'def mv()' to the testSpectral.py test case I posted above, plus the lines
   from coremltools.converters.mil import register_torch_op
   from coremltools.converters.mil.frontend.torch.ops import _get_inputs
   from coremltools.converters.mil.mil import Builder as mb
I get a
RuntimeError: PyTorch

[2020-07-25 21:22] leovinus2001 commented on #778
Funnily enough, when I change
    traced_model   = torch.jit.trace (model, dummy_input)
to
    traced_model   = torch.jit.script (model, dummy_input)
in testSpectral.py test case plus changes above then it DOES convert and you can write out a MLmodel. I did not run it but just for completeness.

[2020-07-25 21:40] jbmaxwell commented on #778
Okay, good to know. I probably need to update my torch version, actually. But since things don't seem very predictable in your test case, I think I'll leave this for the time being. I have my model running using LibTorch, which will be okay for development purposes. I just want to move to mlmodel before release.

[2020-07-26 03:05] tucan9389 opened #818 "How can I print the log for each converted operation during Frontend or MIL step?"
## ❓Question

Is there any method for printing converted operation shape during converting?

I converted to `.mlmodel`, but the model doesn't have output shapes. So I want to inspect which operation was incorrectly converted.

In 3.x coremltools, I can see all shapes each operation. But in 4.0b1, I cannot see it and coremltools only show the progress status.

### v3.x log example

[code]

<details

[2020-07-26 14:40] leovinus2001 commented on #818
Agreed that it would be nice to have "verbose=True" conversion mode in v4.

In the meantime, without any guarantees for correctness or completeness, I augment the converter code in file
   coremltools/converters/mil/frontend/torch/ops.py
This was used in Issue #768. See its log. To get the shape as well, I modified the patch as

diff --git a/coremltools/converters/mil/frontend/torch/ops.py b/corem

[2020-07-26 14:51] leovinus2001 commented on #778
One more update and then back to the weekend ;)

I now get the message
  RuntimeError: PyTorch convert function for op 'dot' not implemented.
as well. I managed to forget model.eval() in the test case which changes the error message from missing norm() to missing dot(). My mistake.

[testSpectral.txt](https://github.com/apple/coremltools/files/4977793/testSpectral.txt)

In summary, after adding th

[2020-07-26 15:50] tucan9389 commented on #818
@leovinus2001
I love this feature! Do you have any plan to PR this on not only Frontend of Pytorch ops but also other Frontend ops and MIL ops of the other training frameworks? If you have been doing, I would want to participate in it!

[2020-07-26 16:40] leovinus2001 commented on #818
Hi, as I am busy with filing bugs :) I have no plans for a PR on the "verbose" feature. If you want to lead then I encourage you to open a feature request such that we have a place to discuss with the engineers on scope and functionality, and for all of us to pitch in as well.

[2020-07-26 16:46] leovinus2001 opened #819 "PyTorch to CoreML converted BatchNorm1D model fails in inference/prediction with RuntimeError: { NSLocalizedDescription = "Error computing NN outputs.";"
Relevance:-----------------------------------------------------------

While the conversion and inference/prediction on BatchNorm2D from the CoreML model is fine, when we use the BatchNorm1D instead the prediction fails with

RuntimeError: {
    NSLocalizedDescription = "Error computing NN outputs.";
}

Unless I made some other mistake (always possible :), this makes it currently impossible to do

[2020-07-26 17:00] leovinus2001 commented on #815
After changing
torch_model = torchvision.models.mobilenet_v2(pretrained=True)
to
torch_model = torchvision.models.mobilenet_v2(pretrained=False)
to work around the
urllib.error.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1076)>

I was able to try your code snippet. I see the log says:

Traceback (most recent ca

[2020-07-26 17:35] leovinus2001 commented on #800
As
spec = mlmodel.get_spec()
print (spec.neuralNetwork.layers)
works on simpler models, could you attach a piece of code, or model, you make this issue reproducible?

[2020-07-26 17:39] leovinus2001 commented on #815
In any case, when you change one line
  model = ct.convert("traced_mobilenet_v2.pt",  source='pytorch')
to
  model = ct.convert( "traced_mobilenet_v2.pt", inputs= [ ct.TensorType(name="input1", shape=example_input.shape) ] )
then the conversion works for me. 1203 ops and it produces a model of size
14165344 Jul 26 13:37 mobilenet_v2.mlmodel
Does that solve your issue?
PS: If it does then I agree t

[2020-07-26 18:11] leovinus2001 commented on #809
Just in case this helps, after changing the one line to load model
  model = torchvision.models.detection.fasterrcnn_resnet50_fpn(pretrained=False, pretrained_backbone=False )
which workarounds
urllib.error.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1076)>

I managed to reproduce the crash in onnx. After pip u

[2020-07-26 19:41] leovinus2001 commented on #809
Seems like the crash in libprotobuf is a red herring. Sorry for the noise.

Because of my upgrade from onnx to 1.6.0 to 1.7.0, and 1.7.0 has a copy of libprotobuf.22, any coremltools conversion fails for me with that libprotobuf error. Therefore, downgraded onnx to 1.6.0 and uploaded the crash log and outputs.

The crash log SEGFAULT
[crash.onnx.log](https://github.com/apple/coremltools/files/4978

[2020-07-26 21:36] darolt opened #820 "Converting pytorch to coreml directly generates (unnecessary) more complex model than pytorch -> onnx -> coreml"
## 🐞Describe the bug
- From pytorch
- It seems that during conversion, coremltools 4.0b1 always chose more complex solutions than onnx+coremltools 3 (please see attached images). This directly impacts the timing of the generated model. As an example of solution, I would expect to see at least some slicestatic layers on the generated model.
Important: models are functionally equivalent and work as

[2020-07-27 01:38] darolt commented on #820
just checked coremltools code on github and torchscript and it seems that torchscript generates many slice ops:
This torchscript:
[code]
comes from this pytorch code:
[code]

Meaning that we have one slice op per dimension. It seems that there is no quick solution from pytorch side. However that would be nice to have an optimization step (maybe at MIL level), to check that all these slices depend

[2020-07-27 05:20] tucan9389 commented on #818
Okay, I'll try it in my rest time. If I make PR, I'll mention. Thank you for sharing your snippet.

[2020-07-27 07:46] dianyo opened #821 "[feature request ]Some issues when converting onnx to mlmodel"
Just got some error when converting onnx to momodel
1. LSTM: some onnx model defined peephole input as a empty string, and the convert tool doesn't handle this situation. I just traced the code, and think this line https://github.com/apple/coremltools/blob/master/coremltools/converters/onnx/_operators_nd.py#L1355 should be ```peepholes = node.inputs[7] if len(node.inputs) > 7 and node.inputs[7] !=

[2020-07-27 18:14] ayy345 commented on #815
Thanks! It does solve the issue.

May be  the docs should emphasize the usage of traced (torchscript) models as they are a portable format  for inference in a non Python environment

[2020-07-27 18:14] #815 closed

[2020-07-27 22:29] leovinus2001 commented on #765
Related to #766 and #816, I have used the composite operators and @register_torch_op to code a dim() shape() and \_\_getitem__(). Then, the 4 modes in the test case above run through seemingly ok. No errors, unless  when I have prints or assert active. Then, 'IndexError: out of range' shows up again.

While I can post the code here, that would be pointless if the engineers are planning to augment

[2020-07-28 05:24] #734 closed

[2020-07-28 13:02] YiqinZhao opened #822 "Missing PyTorch Op `sum`"
## 🌱 Describe your Feature Request
- A clear and concise description of what the problem is.
    - `RuntimeError: PyTorch convert function for op 'sum' not implemented.`, can be reproduced with code below. Basically, all usage of [`torch.sum`](https://pytorch.org/docs/master/generated/torch.sum.html) will cause this error.
- CoreML / iOS version you are using?
    - 4.0b2
- Are you interested in c

[2020-07-28 15:31] leovinus2001 opened #823 "Todays' beta2 checkin breaks old issue #759 F.max_pool2d where stride is NOT explicitly specified"
Am comparing the old test case testPool from issue #759 with today's git version
commit 37e619d99bf603d2cb9ea0839fa3ebe649996b0a (HEAD -> master, tag: 4.0b2, origin/master, origin/HEAD)

versus from a few days ago July 22
commit 705244e2be26c3fb7881fd7a731d25a55f5e4765

test case from issue #759

now fails again.
(I cannot attach it atm. Seems AWS issue)

reproducible:---------------

yes

log:---

[2020-07-28 15:42] leovinus2001 commented on #823
As AWS does not allow me to attach a test case, here is the code to verify with 4.0b2 vs previous

import torch
import torch.nn as nn
import torch.nn.functional as F
import coremltools as ct

class small_model(nn.Module):
    def __init__(self):
        super(small_model, self).__init__()

        self.pool1  = nn.MaxPool2d(2,stride=1) # Pool 2x2, explicit stride
        self.pool1b = nn.MaxPool2d

[2020-07-28 16:12] francesctt opened #824 "Bidirectional LSTM conversion issue from PyTorch to CoreML"
## 🐞Describe the bug
- Numerical difference in output of bidirectional LSTM from pytorch
- Don't know if it's a converter issue or not

## Trace
No

## To Reproduce
- Adapted LSTM test case from coremltools that reproduce the issue

[code]

Results:

[code]

## System environment (please complete the following information):
 - coremltools version  (e.g., 3.0b5): 4.0b1 & 4.0b2
 - OS (e.g., MacOS, L

[2020-07-28 17:37] leovinus2001 commented on #824
Setting bidirectional to False i.e. uni directional makes conversion work.
I believe this is your clue.

Seems to me this is not a converter issue but a PyTorch setup issue.
There is a mismatch in shape of initial_h0 (2,1,128) with the resulting ex_hn (1, 1, 256).
Just print their shapes.
I do not remember from the top of my head how to present h0/c0 for a bidirectional network but the pytorch doc

[2020-07-28 18:05] francesctt commented on #824
We had the same issue in our codebase and at the end we found this is a reproducible case from coremltools unit tests.
This is why I'm really puzzled about why this passes via coremltools pipelines. Is it possible that pipelines is not running on MacOS and the output validation is not being executed?
Unidirectional LSTM works.

[2020-07-28 18:07] francesctt commented on #824
About the sizes, there is specific code to reshape the results from bidirectional LSTM in Torch to make it compatible with CoreML.
It should be around there btw because the assert always fails by 50%... The first part of the output (128) is ok an the rest is different

[2020-07-28 18:09] leovinus2001 commented on #824
Mhh. How about you use
    torch.manual_seed(0) # deterministic output
and reduce the hidden_size to 2
and just print out the values of the h0/c0 and ex_hn/ex_cn for clues?

[2020-07-28 18:13] leovinus2001 opened #825 "PyTorch to CoreML v4.0b2 torch.jit.scripted converted model retains assert code even with "python -O""
Title:-----------------------------------------------------------

PyTorch to CoreML torch.jit.scripted converted model retains assert code even with "python -O"

Relevance:-----------------------------------------------------------

1) Performance
2) I have had situation where the assert expression could not be processed by torch.jit.script. In other words, the scripting for conversion failed on

[2020-07-28 19:54] leovinus2001 commented on #824
Out of curiosity, I was digging a bit deeper.
Issue still unsolved but more intriguing and with a little extra insight I hope that helps. Hope you do not mind.

Attached the more verbose version of your code snippet that I used to produce "result.txt", also attached.
modified.py > result.txt
[modified.txt](https://github.com/apple/coremltools/files/4990785/modified.txt)
[result.txt](https://github

[2020-07-28 20:05] wmpauli commented on #372
I'm having the same issue, with coremltools==4.0b2.

the library file seems to be in the right place. /lib/python3.7/site-packages/coremltools/libcoremlpython.so

[2020-07-29 07:58] willbattel opened #826 "Error compiling Xcode 12 app with model converted from TensorFlow 2 with coremltools 4.0b2"
## 🐞Describe the bug
- A clear and brief description of what the bug is.

When trying to use an mlmodel converted from Keras in an app in Xcode, I encounter an error (see Trace). I'm guessing this problem is specific to the architecture of my model.

Normally I would chalk this type of error to user error- but I have confirmed that my Keras model serves predictions as expected prior to conversion.

[2020-07-29 11:13] francesctt commented on #824
Thanks for the insights ...
I think all the issues come from and indexing error. Not sure if it's in this code or in the converter.
I'm preparing a simpler test case to verify this.

[2020-07-29 14:07] leovinus2001 commented on #822
Nice! As I am testing dim/shape/getitem composite ops in issue #765, here are a few thoughts.
- In general, looks reasonable to me but I am no expert on theses ops :) Learning by doing.
   Did you try to feed in a small, deterministic (batched) vector to verify that the output of sum() is indeed correct across relevant dimensions?
- Maybe add an "expected=2" to     inputs = _get_inputs(context, no

[2020-07-29 16:27] leovinus2001 opened #827 "PyTorch 1.6.0 released today - breaks coremltools converter v4.0b2 in many cases with AttributeError: module 'torch._C' has no attribute '_jit_pass_canonicalize_ops'"
I just noticed that PyTorch 1.6.0 was released. Now, many test cases from the last 2 weeks break with the log below and I believe a similar issue was reported earlier in issue #751 for pytorch nightly

Reproducible::--------------------------

yes, with torch =1.6.0 and torchvision = 0.7.0

Example test cases that fail now are #823 #825 or
https://github.com/apple/coremltools/issues/736#issuecomme

[2020-07-29 16:51] anishpdoshi opened #828 "Expose cosine similarity op to torch converter frontend"
## 🌱 Describe your Feature Request
- Add the "cosine_similarity" op to the frontend.
- It seems like there's already an implementation in `test_custom_ops.py`

## Use cases
- E.g., finding an embedding vector  out of a matrix of embeddings with lowest cosine distance from a query

## Describe alternatives you've considered
Cosine distance is implementable with basic PyTorch ops, but it requires .s

[2020-07-29 20:13] leovinus2001 commented on #827
While I do not know how to fix it properly, this is what I can see in case that is helpful for someone else.

1) coremltools/converters/mil/frontend/torch/converter.py
The converter bails on the line 273
_torch._C._jit_pass_canonicalize_ops(graph)

There are two alternatives without the _ops:
_torch._C._jit_pass_canonicalize(graph)
or
_torch._C._jit_pass_canonicalize_graph_fuser_ops(graph)

Neithe

[2020-07-30 05:48] haifengkao opened #830 "Why is int64 input being converted to fp32 type?"
## ❓Question

Why is int64 input being converted to fp32 type?
I have specified the input type both in TensorFlow and in CoreML Converter. It seems that my specification doesn't work at all.

[code]

the output is

[code]

## System Information
- coremltools 4.02b
- python 3.7
- TensorFlow 2.2

[2020-07-30 07:12] hovhanns commented on #827
The same issue occurred in my case.
Used _segmentation_models_pytorch_

Steps to reproduce
[code]

[2020-07-30 07:20] daiwei89 commented on #830
This is indeed a problem We have addressed this internally already which will be come in the next release. And thanks for using coremltools!

[2020-07-30 07:53] francesctt commented on #824
This is the simplest test case I could think of:

´´´
import torch
import torch.nn as nn
import numpy as np

from coremltools import TensorType
from coremltools import convert

def test_lstm(
        input_size,
        hidden_size,
        bidirectional
):
    model = nn.LSTM(
            input_size=input_size,
            hidden_size=hidden_size,
            num_layers=1,
            bias=True,

[2020-07-30 16:42] 14thApostle opened #831 "Saving value type of float16 into a builtin type of i8"
##
While converting a yolov5 model from pytorch to coreml format, I am receiving this warning
**WARNING:root:Saving value type of float16 into a builtin type of i8, might lose precision!**
![image](https://user-images.githubusercontent.com/52763947/88949482-ea960a00-d2b0-11ea-894c-7eab7dff9030.png)

However the pytorch model was loaded in fp32, hence the above warning does not seem to be warranted

[2020-07-31 08:26] VictorBulba commented on #791
I have this bug too. Maybe someone knows what to do?

[2020-07-31 12:16] vedashreep opened #832 "Runtime error: Invalid Rank 6"
## ❓Question

I am trying to train an updatable coreml model on the device. The model is a classification model trained on 6 classes and accepts an input of shape (1,3). I could successfully convert the model from Keras and run predictions on it. However, when trying to train the  model on the device I get the following error:
**[espresso] Training kernels not enabled for engine: 100
libc++abi.dyl

[2020-07-31 12:42] haifengkao opened #833 "How to convert a Mask layer from TensorFlow to MLModel?"
## ❓Question
MLModel supports  `whereNonZero` layer, but only PyTorch has `nonzero` layer, TensorFlow uses `NotEqual` instead. How do I let coremltools know `NotEqual` is corresponding to `whereNonZero`?

[2020-07-31 13:44] haifengkao commented on #833
my bad. tf.not_equal is supported by coremltools

[2020-07-31 13:44] #833 closed

[2020-07-31 15:56] leovinus2001 commented on #824
TL;DR I suspect the converter ObjC/C++ code makes a mistake with reformats of the h_n/c_n before you see the predict result in Python, but I cannot confirm it atm.

That is a nice, concise testcase, appreciated!

Here more analysis in detail such that someone can help nailing this down.

1) Attached a more verbose version that I used to get new insights.

[testBLSTM.jul30.txt](https://github.com/a

[2020-07-31 23:01] leovinus2001 commented on #824
The story continues based on the previous message:

We now look at the ObjC / C++ code in
./coremlpython/CoreMLPython.mm

Specifically, roughly line 72

py::dict Model::predict(const py::dict& input, bool useCPUOnly) {
    @autoreleasepool {
        NSError *error = nil;
        MLDictionaryFeatureProvider *inFeatures = Utils::dictToFeatures(input, &error);
        Utils::handleError(error);

[2020-08-01 10:26] haifengkao opened #834 "tf.unstack causes AttributeError: 'list' object has no attribute 'sym_type'"
## 🐞Describe the bug
-  if `tf.unstack` is used, coremltools will show `AttributeError: 'list' object has no attribute 'sym_type'`
-  converter: tensorflow

## Trace
![截圖 2020-08-01 下午6 21 57](https://user-images.githubusercontent.com/4080524/89099717-e63e2e00-d423-11ea-86a0-16e28a93d6b2.jpg)

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]

## Sy

[2020-08-01 15:01] jbmaxwell commented on #778
I just tried beta 2, but `mv` and `dot` appear to still be missing...

[2020-08-01 15:31] leovinus2001 commented on #778
Maybe the patch here for sum/neg
https://github.com/apple/coremltools/pull/829
could be extended with mv/dot and dim/shape/__getitem__

[2020-08-01 17:03] leovinus2001 commented on #824
Let's summarize what this bug seems to mean for Bidirectional LSTMs in CoreML and your Apps.
Is this about correct?

1) y = blstm(x)
without input h_0/c_0 nor use of output c_n/h_n
works fine, and delivers the the correct result 'y' like in PyTorch
This was ok in the previous version (last year) or CoreML(tools) as well.
Any one-shot recognizer with BLSTMs will use this mode, ok.

2) y, (c_n, h_n)

[2020-08-02 06:23] y-ich opened #835 "How can I run a model with a flexible input on ANE?"
## ❓Question

I successfully made a model with a flexible input.
Actually I tried it by either shape range or enumeratedShape.
It works with various shapes of the input, but with only default shape (the size of spec.description.input[0].type.multiArrayType) of the input, the model runs on ANE.

How can I avoid this restriction?

## System Information
- iPad Pro (A12X, iOS 13.6)
- model specificati

[2020-08-03 10:39] francesctt commented on #824
Thanks @leovinus2001. I'll let this opened until someone from CoreML can have a look.

[2020-08-03 17:11] leovinus2001 commented on #823
Maybe a tentative fix and put on a branch. Will push shortly for review.
In the meantime, new test case
[testPool.txt](https://github.com/apple/coremltools/files/5017284/testPool.txt)

[2020-08-03 17:13] leovinus2001 commented on #823
As I have difficult with git pushing the branch (error 403), here is the tentative patch for review

diff --git a/coremltools/converters/mil/frontend/torch/ops.py b/coremltools/converters/mil/frontend/torch/ops.py
index 1c5be1a..ffd3f8f 100644
--- a/coremltools/converters/mil/frontend/torch/ops.py
+++ b/coremltools/converters/mil/frontend/torch/ops.py
@@ -551,6 +551,8 @@ def max_pool2d(context, no

[2020-08-03 21:23] leovinus2001 commented on #823
Never mind, created pull request #837 to fix this.

[2020-08-04 13:38] gilevir opened #838 "Context ValueError when using custom convert function for replication_pad2d layer"
## 🐞Describe the bug
I need to convert a TorchScript that uses a replication_pad2d layer. Since the convert function for this op doesn't exist, I did a custom one, following the [Composite Operators documentation](https://coremltools.readme.io/docs/composite-operators)
[code]

But got the following error when converting this particular node : `ValueError: Torch var input0.1 not found in context`

[2020-08-04 14:59] leovinus2001 commented on #838
Did you flip the arguments at
    context.add(node.name, x)
Should be ?
    context.add(x, node.name)

[2020-08-04 15:00] gilevir commented on #838
Indeed, just found it out. Runs smoothly now 👍

[2020-08-04 15:00] #838 closed

[2020-08-04 18:14] ayy345 opened #839 "Tensorflow -> CoreML Conversion issue"
## 🐞Describe the bug
- We are trying to convert Tensorflow (1.14+) frozen model to CoreML
- The model has Mul Operation, and conversion is failing

## Trace
[code]

## System environment (please complete the following information):
 - coremltools version  (e.g., 3.0b5): 4.0b1, 4.0b2
 - OS  MacOS
 - macOS version (if applicable): 10.15
 - python version (e.g. 3.7): 3.6
 - any other relevant informa

[2020-08-04 18:16] DawerG commented on #839
@ayy345 Can you try converting the model with `coremltools 4.0`.

You can install it using `pip install coremltools==4.0b2`

[2020-08-04 18:28] ayy345 commented on #839
@DawerG Sorry, my bad. I forgot to mention, I used 4.0b1, 4.0b2 versions

[2020-08-04 19:22] #839 closed

[2020-08-05 02:17] 3DTOPO opened #840 "4.0b2: Flexible shapes not working but enumerated image sizes work"
## 🐞Describe the bug
I have successfully converted a model to use images instead of multi-arrays (with 4.0b2).

I can add flexible shapes and the model compiles/exports fine. If I run predict on the resulting mode with an input image with a dimension that is not the fixed dimension (and inside the flexible shape range), I get the trace below:

## Trace

# Paste code snippet here
I added the flexib

[2020-08-05 14:19] ozgurshn opened #841 "Keras LSTM (Embedding Layer) conversion has input size 1"
## ❓Question
I convert the Keras model shown below
[code]

The Core ML model is has input with size 1. I expect it to have size 128. Is this normal behaviour?
If I use
LSTM layer instead of Embedding layers, this works as I expect and expects input size to be 128.

<img width="535" alt="Screen Shot 2020-08-05 at 17 17 48" src="https://user-images.githubusercontent.com/2404074/89423799-9fac4480-d73

[2020-08-05 14:51] gilTriginer opened #842 "Unintuitive behaviour in rename_feature"
## 🐞Describe the bug
If you set the option `rename_inputs=False` in `coremltools.models.utils.rename_feature`, you get the side effect that it is not possible to correctly rename the outputs of a neural network. In this situation, the outputs are renamed in the description of the model (`spec.description.outputs`), but not in the definition of the neural network layers ( `spec.neuralNetwork.layers

[2020-08-05 15:20] leovinus2001 commented on #840
Possibly related #756

[2020-08-05 16:15] leovinus2001 commented on #810
Updated testcase for upcoming PR
[testLstmTwoLayer.txt](https://github.com/apple/coremltools/files/5029648/testLstmTwoLayer.txt)

[2020-08-05 17:53] terd-dd opened #844 "TypeError: Keras layer of type <class 'tensorflow.python.keras.engine.functional.Functional'> is not supported."
## 🐞Describe the bug
==================================================================================================
my net:

Model: "functional_1"
Layer (type)                    Output Shape         Param #     Connected to
input_1 (InputLayer)            [(None, 128, 128, 3) 0
__________________________________________________________________________________________________
block1_conv1 (Con

[2020-08-05 21:39] #823 closed

[2020-08-06 16:50] leovinus2001 commented on #776
Just looking at the error messages again. I find it odd that we get a torch tensor at this level in the code in
coremltools/converters/mil/mil/types/symbolic.py
Just speculating, but does that mean we are missing a .numpy() conversion somewhere for h_0/c_0?

[2020-08-07 10:18] kezakool opened #845 "tf 1.14 compiler error: Espresso exception: "Invalid blob shape": generic_elementwise_kernel"
## 🐞Describe the bug
Converter issue with a tf 1.12 model containing tf_slim Convolution2D layer.

## Trace
Running TensorFlow Graph Passes: 100%|██████████| 6/6 [00:00<00:00, 14.30 passes/s]
Converting Frontend ==> MIL Ops:  43%|████▎     | 85/197 [04:00<05:16,  2.83s/ ops]
Traceback (most recent call last):
  File "E:\Anaconda3\envs\cartoonize3\lib\site-packages\coremltools\converters\mil\fronte

[2020-08-07 14:35] Utku-Savas opened #846 "ValueError: Keras layer '<class 'tensorflow.python.keras.engine.input_layer.InputLayer'>' not supported."
## 🐞Describe the bug
- I have successfully converted a coco pretrained yolov4-tiny model to .h5. Then using the h5 model, I tried to convert it coreml, but it gave error.

## Trace

<ipython-input-3-72661bb67046> in <module>
      3                                                     image_input_names = 'image',
      4                                                     image_scale=1/255.,
---->

[2020-08-07 14:40] nneubauer opened #847 "Huggingface's DistilBERT not convertible with 4.0b2"
## 🐞Describe the bug
I just tried converting Huggingface's DistilBERT using the direct conversion API but it fails with "ValueError: node 110 (ones) got 5 input(s), expected 6".

## Trace
[code]

## To Reproduce
Minimal example which can be used within a Google colab.
[code]

## System environment (please complete the following information):
 - coremltools version 4.0b2
 - Within Google Colab

[2020-08-07 19:32] 1duo commented on #846
Hi @Utku-Savas, I see you have installed TF 2.x+, do you mind switching to `tf.keras` instead of Keras?

[2020-08-07 21:10] dlawrences commented on #831
Any thoughts on this, team?

[2020-08-07 23:35] leovinus2001 commented on #827
As we have seen no patch from the coremltools team, may I politely enquire whether coremltools plans to be compatible with PyTorch 1.6 going forward?

[2020-08-07 23:45] aseemw commented on #827
Yes, we are currently working on resolving the issues with pytorch 1.6.0 and the next coremltools release will support it.

[2020-08-08 03:51] Utku-Savas commented on #846
Original source of the model is tf.keras.  I tried `coreml_model_float32 = coremltools.convert(model, ...) ` and didn't give any error  during conversion. Thank you for reply. I will close the issue.

[2020-08-08 03:51] #846 closed

[2020-08-08 15:04] totorocyx opened #848 "TypeError: 'InputLayer' object is not iterable"
## ❓Question
When I converted my Keras model to coreml model, an error occurred: "TypeError: 'InputLayer' object is not iterable"
[code]
## System Information
- coremltools version : 3.4
- OS : Mac OS
- python version : 3.6 (anaconda)
- keras version : 2.4.3
- tensorflow version : 2.3.0

## My Code
[code]

[2020-08-08 15:05] #848 closed

[2020-08-08 15:07] totorocyx opened #849 "TypeError: 'InputLayer' object is not iterable"
## ❓Question
When I converted my Keras model to coreml model, an error occurred: "TypeError: 'InputLayer' object is not iterable"
[code]
## System Information
- coremltools version : 3.4
- OS : Mac OS
- python version : 3.6 (anaconda)
- keras version : 2.4.3
- tensorflow version : 2.3.0

## My Code
[code]
What should I do next?

[2020-08-08 19:41] leovinus2001 commented on #849
Have you tried 4.0b2 ?

[2020-08-08 20:42] ryendu commented on #834
From the code, it looks like you created the structure of the Keras model, then didn't compile it or train it and then proceeded to convert the untrained / uncompiled model to a coreml model.

[2020-08-09 04:01] JacopoMangiavacchi commented on #751
I've a similar error converting a PyTorch CNN/GAN model (https://github.com/SystemErrorWang/FacialCartoonization) even using 1.5.1.

Using tracing I've basically the same ValueError: Incompatible dim 2 in shapes (1, 32, -128, -128) vs. (1, 32, 128, 128) on Converting Frontend to MIL.

Using scripting I'm experiencing instead this other RuntimeError:
temporary: the only valid use of a module is loo

[2020-08-10 13:12] kezakool commented on #845
Hi,

replacing with tf standard conv2d didn't fix the problem, did you find anything in the model I provided?

thx

[2020-08-10 21:48] leovinus2001 commented on #847
Couple of things going on here
1) With the few lines of extra logging in issue #818 we get this

WARNING:root:Tuple detected at graph output. This will be flattened in the converted model.
Converting Frontend ==> MIL Ops:   0%|                                                                                                                                                              | 0/632 [00:00<

[2020-08-10 21:55] leovinus2001 commented on #824
PS: This issue sounds an awful lot like issue #263 which is two years old, ugh. In #263, the suggested workaround is ok but this mangling of the hn/cn outputs from BLSTMs also affects your TestLSTM testcase and the suggested testcase in the PR #843 as far as I can see.

[2020-08-11 07:26] y-ich opened #850 "An inconsistency between documentation and implementation of NeuralNetworkBuilder"
## 🐞Describe the bug
- A clear and brief description of what the bug is.
- Is this a converter issue? If yes, please specify which converter (sci-kit, keras, xgboost etc.)

According to the documentation of NeuralNetworkBuilder, input_features and output_features are,
[code]
[code]
but actually, input_features/output_features will be set even if spec is not None.
I like this behavior so I hope tha

[2020-08-11 14:15] leovinus2001 commented on #751
In the context of scripting, prim::SetAttr pops up regularly in error logs but not sure what to do about it. For example, #817 or #802

[2020-08-11 14:32] leovinus2001 commented on #768
Just politely wondering whether there is any ETA on this fix? Happy to verify it.

[2020-08-12 14:46] kevin-agrology commented on #849
I'm having the same issue with coremltools-4.0b2. @leovinus2001

[2020-08-12 16:07] DawerG commented on #768
@leovinus2001 Can you please add the following snippet in the conversion code to check if it fixes the issue? Thanks.

[code]

[2020-08-12 17:15] #810 closed

[2020-08-12 18:47] leovinus2001 commented on #768
@DawerG Thanks, that works like a charm for me :) Conversion now runs successfully and the inference on float32 and int8 quantized models is good as well.

One question, for
    inputs = _get_inputs(context, node)
wouldn't it be nicer to add a "expected=" for "expect number of args" ?
Unless it varies of course.

[2020-08-12 20:52] DawerG commented on #768
@leovinus2001 Thanks for verifying :) Appreciate your help.

Yes, right. That would be better. We should change the snippet to
```inputs = _get_inputs(context, node, expected=2)```

We will ensure that this change is covered as part of the next beta release.

[2020-08-13 02:52] carlosdelamora opened #851 "can't convert expression to float"
I am trying to convert a tensorflow model `tensorflow.python.keras.engine.functional.Functional` but it fails with the error
[code]
Am I missing something?

[2020-08-13 15:15] carlosdelamora commented on #851
I did receive this warnings so I guess this could be the issue
[code]

[2020-08-14 00:41] praeclarum opened #853 "Allow variable (computed) weights in convolution"
## Description

I would like to be able to use Conv2d and Conv2dTranspose with variable weights. Currently, I get this error:

[code]

when trying to convert [StyleGAN 2](https://github.com/NVlabs/stylegan2).

## Use cases

This is needed in modern GANs where classes and other embeddings are used to change the statistics of the weights of convolution. In [StyleGAN 2](https://github.com/NVlabs/styl

[2020-08-14 02:10] huangguanbin opened #854 "got different output when running coremltool and xcode given same input image"
## ❓Question
Basic information
Please provide a descriptive title for your feedback:
mlmodel run in xcode doesn't output the same results as the model run in coremltools
Which area are you seeing an issue with?
Xcode
What type of feedback are you reporting?
Incorrect/Unexpected Behavior
Details
What version of Xcode are you using?
xcode12
Description
Please describe the issue:
I convert a pytorch

[2020-08-14 02:10] huangguanbin commented on #854
the relevant files can be downloaded here :              https://feedbackassistant.apple.com/feedback/8276169

[2020-08-14 09:03] mushipand opened #855 "PyTorch convert function for op reflection_pad2d not implemented. / What is context/node?"
## ❓Question
Hi!
I got this error while converting GAN model(PyTorch) to mlmodel. As you said in [https://developer.apple.com/videos/play/wwdc2020/10153/](url), I think I have to write `reflection_pad2d` by MIL.

My question is

- What does `context` and `node` means, which is the parameters used in the demo? Are they related to ONNX?
- Thanks to your update, we now do not have to convert pytorch

[2020-08-14 09:09] kezakool commented on #845
Hi @1duo ,

I fixed this with setting the input to a static shape (720*720)
[wbc_model_coreml.zip](https://github.com/apple/coremltools/files/5073610/wbc_model_coreml.zip)
, before the conversion, conversion was successful, then I set it back to dynamic with flexible_shape_utils.NeuralNetworkImageSizeRange().

but the next error i get is in intermediates layers :
coremlc: Error: compiler error:  E

[2020-08-14 15:10] akash1301 commented on #827
Is there any way to avoid this error by downgrading the PyTorch version?

[2020-08-14 16:58] leovinus2001 commented on #827
Maybe I misunderstand the question but PyTorch 1.5.1 works fine with coremltoolsv4.0b2 or TOT latest. I use "pip" to jump between forward and backward between sets of pytorch/torchvision etc of compatible versions. Going forward, we just need to know for sure that 1.6.x will work as well, and @aseemw confirmed earlier it will. It would be nice to know when that fix will drop of course, hint ;) And

[2020-08-14 17:02] leovinus2001 commented on #855
Context is the set of converted operations as the converter goes through a structured dataflow graph of instructions. The node is the current instruction/operation being converted. Use the logging as discussed in issue #818  to print the model/graph during conversion. With that, you get insight in where in the model and graph a conversion fails.

[2020-08-15 02:08] mushipand commented on #855
@leovinus2001
Thank you so much! I got those two concept at last!
I'll try logging. Thank you for your help!

[2020-08-15 20:49] sid0913 opened #856 "Cannot import libcaffeconverter"
When I try to convert my caffe model to a coreml model it give me the above error as the _caffe_converter.py file looks for a libcaffeconverter file in the coremltools directory but finds none

## Trace
If applicable, please paste the error trace.

## To Reproduce
Try converting from cafe to onnx

[2020-08-16 21:38] leovinus2001 commented on #756
Any updates on this ? I am having not much luck with Flexible inputs shapes from
https://coremltools.readme.io/docs/flexible-inputs
whether it is "-1" or Enumerated or this RangeDim.

[2020-08-16 22:02] leovinus2001 commented on #856
Same issue as #773?

[2020-08-17 00:26] 3DTOPO commented on #855
I am having the same issue converting a PyTorch sequential model to CoreML. Even though the use of ONNX is no longer recommended, I was able to get a MLModel by converting from PyTorch to ONNX, then from ONNX to MLModel.

I would much rather go straight from PyTorch to MLModel, so if anyone has a solution, I would be grateful to learn about it.

[2020-08-17 03:01] mushipand commented on #855
@3DTOPO Thank you! Actually, I also tried converting through ONNX, but I always failed in it. Could you tell me the version of onxx/onxx-coreml/coremltools? Some of the failure comes from ModuleNotFoundError.

[2020-08-17 03:06] 3DTOPO commented on #855
I struggled with it too.

I pip installed this:

onnx==1.7.0
coremltools==4.0b1
torch==1.5.1

Which gives me:

attr==0.3.1
attrs==19.3.0
future==0.18.2
mpmath==1.1.0
numpy==1.19.1
Pillow==7.2.0
protobuf==3.12.2
scipy==1.5.2
six==1.15.0
sympy==1.6.1
tqdm==4.48.0
typing-extensions==3.7.4.2

[2020-08-17 03:21] 3DTOPO commented on #840
I've tried every workaround I can think of, and I get the same error. This is a critical issue for me, is there any plans to fix it for the 4.0 release?

Are there any known work-arounds? The information in issue #756 didn't really help me because I have to first convert using ONNX, and that thread is about using the unified converter.

Note I get a similar message trying to run predict with Swift

[2020-08-17 03:32] 3DTOPO commented on #840
So the issue can easily be reproduced and the model inspected, I've uploaded it to here:

[FlexibleModel.mlmodel.zip](http://3DTOPO.com/FlexibleModel.mlmodel.zip)

I would super appreciate any and all help.

[2020-08-17 04:02] mushipand commented on #855
Thanks a lot for quick response!  I'll try as you did.

[2020-08-17 04:25] infinityp913 commented on #773
Hey I have the same issue as @chandanlal92. Was any fix found? I'm running Python 3.7.7

[2020-08-17 04:51] sid0913 commented on #856
Yes but the fix did not work. I'm having the issues other people in that thread are having: it says that the version 3.4 does not exist.

[2020-08-17 06:04] chandanlal92 commented on #773
@infinityp913  I didn

[2020-08-17 06:05] chandanlal92 commented on #773
@infinityp913 I didnot find any fix

[2020-08-17 12:38] vsatpathy commented on #534
Any idea if there has been progress in coreml4.0 where it tackles batchedMatmul and softmaxND layers to make it updatable?

[2020-08-18 14:02] leovinus2001 commented on #756
I see you are preparing a v4.0b3 release. I ran the testcase testLstmVar2.aug16.py  from above through it and  it works much better on the flexible shapes. This looks more like what you presented at WWDC ;)

However, I see one bug on the branch on 4.0b3 with EnumeratedShapes though. For the testcase testLstmVar2.aug16.py above, when you use
        inputs= [ ct.TensorType(name="input1", shape=ct.E

[2020-08-18 16:28] mushipand commented on #855
@3DTOPO Hi!
Actually, I could not have convert my model through ONNX, but thank you anyway!

So, I workaround the problem by implementing substitutive class for ReflectionPad2d(see below), and it seems to work for my network. (I also tried to write it in MIL, but it was hard for me)
However, through conversion, `Dimension mismatch` occurred.
Could you please try the new 'reflectionpad2d_rev' and s

[2020-08-18 20:27] jbmaxwell commented on #778
We're trying to push for a release and I'm still on LibTorch. I don't really feel like I understand this well enough to write a patch for `dot` myself. Is there any chance someone could post a patch like the one for `mv`? If so, it would be much appreciated.

[2020-08-18 22:16] bhushan23 commented on #756
thanks @leovinus2001
We can tackle this in next beta!!

[2020-08-19 06:08] mushipand commented on #739
Any update on this issue? I'm faced with the same error.

[2020-08-19 10:29] haifengkao commented on #834
@ryendu It doesn't matter if I compile it or not

The following model isn't compiled but it converts to CoreML model successfully.
[code]

The following model failed even though it has been compiled
[code]

[2020-08-19 11:21] Vozf commented on #372
It still reproduces with 4.0b3

[2020-08-19 11:39] Vozf opened #859 "Cant predict This version of Xcode supports model version 4 or earlier"
## 🐞Describe the bug
Predict for model converted from pytorch not working

## Trace
  File "/Users//anaconda3/envs/rnd/lib/python3.7/site-packages/coremltools/models/model.py", line 113, in _get_proxy_and_spec
    return (_MLModelProxy(filename, use_cpu_only), specification, None)
RuntimeError: Error compiling model: "Error reading protobuf spec. validator error: The .mlmodel supplied is of versio

[2020-08-19 14:10] Vozf commented on #859
So i've found out that if I change upsampling from bilinear to nearest neighbour it starts to work. Still I should be able to use bilinear. I believe bilinear uses align corneres which forces core ml 5 instead of core ml 4 and that forces the Xcode version 12. Although I have xcode 12.

`    src = F.upsample(src, size=tar.shape[2:], mode='bilinear')`
to
`    src = F.upsample(src, size=tar.shape[2:

[2020-08-19 16:21] JacopoMangiavacchi commented on #751
Just tested with PyTorch 1.6 and CoreMLTools 4.0.b3 and I got exactly same errors above with both tracing and scripting.

[2020-08-19 17:16] willbattel opened #860 "ModuleNotFoundError using coremltools 4.0b3"
## 🐞Describe the bug
Importing coremltools in the new 4.0b3 release causes a `ModuleNotFoundError`.

## Trace
[code]

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]
In `main.py`:
[code]

The `ModuleNotFoundError` occurs when importing coremltools.

## System environment (please complete the following information):
 - coremltools version  (e.g., 3

[2020-08-19 18:33] bhushan23 commented on #372
@Vozf @wmpauli could you please try installing coremltools from following wheels?(https://github.com/apple/coremltools/releases/tag/4.0b3) in following order?
1. py3 wheels for your Mac version
2. py3 any wheels

[2020-08-19 18:35] Vozf commented on #372
Recreated the whole env and this error is gone for me. Although previous env was with python3.8, so this may have been an issue

[2020-08-19 19:00] wmpauli commented on #372
@bhushan23 , I was also able by downgrading the python version. I don't have my mac with me right now, but i think both 3.6 and 3.7 worked.

[2020-08-19 20:36] bhushan23 commented on #860
@willbattel installing packaging module resolve this. We will add this as a dependency

[2020-08-19 22:24] TobyRoseman commented on #372
Yes, this is broken again, at least in Python 3.8. It was working properly in `4.0b2`. Reopening.

[2020-08-19 22:44] willbattel commented on #826
I'm not sure what the issue was, but 4.0b3 seems to have fixed it.

[2020-08-19 22:44] #826 closed

[2020-08-19 23:46] nikitaame commented on #844
I'm also facing this issue. Any updates?

[2020-08-20 05:30] 3DTOPO commented on #855
@mushipand wow, thank you so much! That does the trick!

I too wish I knew how to write MIL functions. Does anyone know of examples, tutorials or more information about them?

[2020-08-20 08:36] Vozf commented on #859
I've opened the generated model with bilinear interpolation and it says that it requires macos > 11. So I believe this is the main issue. This should be definitely documented and this should not be the default behavior

[2020-08-20 15:25] #827 closed

[2020-08-20 15:27] leovinus2001 commented on #825
Still an issue with 4.0b3 and PyTorch 1.6.0

[2020-08-20 15:29] leovinus2001 commented on #819
Same error with 4.0b3 and PyTorch 1.6.0

[2020-08-20 15:30] leovinus2001 commented on #817
Same issue 4.0b3 and PyTorch 1.6.0

[2020-08-20 15:38] leovinus2001 commented on #776
Ok, the testcase from above with JIT tracing
[testMultipleInputs.txt](https://github.com/apple/coremltools/files/4898077/testMultipleInputs.txt)
now seems to run fine with PyTorch 1.6.0 plus coremltools 4.0b3.
That is good news.

[2020-08-20 15:40] leovinus2001 commented on #776
However, when you change
    traced_model = torch.jit.trace (model, dummy_input)
to
    traced_model = torch.jit.script (model)
we get a funny error message about ONNX which makes no sense as this is only with PyTorch and CoreML

Torch version : 1.6.0
CoreML tools version : 4.0b3
TestModel(
  (lstm): LSTM(28, 16)
)
Traceback (most recent call last):
  File "testMultipleInputs.py", line 40, in <mod

[2020-08-20 15:44] leovinus2001 commented on #768
Nice, coremltools 4.0b3 with PyTorch 1.6.0 fixes the missing "bmm" op.
I see you have added an alias
@register_torch_op(torch_alias=["bmm"])
for matmul in ops.py. A nice one-liner :) Thanks and closing.

[2020-08-20 15:44] #768 closed

[2020-08-20 15:44] leovinus2001 commented on #768
Closing

[2020-08-20 15:50] leovinus2001 commented on #764
Still an issue with coremltools 4.0b3 and PyTorch 1.6.0

[2020-08-20 15:56] mushipand opened #861 "Get negative value by 'mb.floor'"
Hello! Thank you for updating coremltools!

## 🐞Describe the bug
While converting my PyTorch model, I got `Dimension mismatch` error, and I found one parameter, which is then going to be `output_size` , somehow turn into negative value.
I'll show the exact point below. I tried logging as discussed in [#818](https://github.com/apple/coremltools/issues/818).
What is the problem?

[code]

## System e

[2020-08-20 15:57] leovinus2001 commented on #855
You probably only need a composite operator. Maybe start here
https://coremltools.readme.io/docs/composite-operators
followed by
https://coremltools.readme.io/docs/model-intermediate-language

Also see the PR
https://github.com/apple/coremltools/pull/829/files
for the composite-operators examples of sum()  neg() topk()

And search for various examples for mv() and bmm() in the Issues of this repo.

[2020-08-20 17:37] leovinus2001 commented on #861
Just curious, does the bug go away if you change the data type from int8 to int32? I mean, the issue is with a
(1,i8)*(Tensor)
int8 tensor.

[2020-08-20 21:29] infinityp913 opened #862 "libcaffeconverter import error for caffe to onnx"
Describe the bug

I'm following the caffe to onnx tutorial at https://github.com/onnx/onnx-docker/blob/master/onnx-ecosystem/converter_scripts/caffe_coreml_onnx.ipynb and I encounter this error:
ImportError: cannot import name 'libcaffeconverter' from 'coremltools'

On further investigation, I realized that there is no libcaffeconverter in the coremltools directory.

This issue is the same as appl

[2020-08-21 03:17] TobyRoseman commented on #372
It seems I spoke too soon when I said that it was working properly in `4.0b2`. Some of the wheels for that version also do not seem to work correctly. For example `coremltools-4.0b2-cp27-none-macosx_10_13_intel.whl` does not work. I get the following error when trying to load the CoreML framework:
[code]

[2020-08-21 03:26] #684 closed

[2020-08-21 03:27] TobyRoseman commented on #684
Python 3.8 was supported by the first beta of 4.0

[2020-08-21 03:40] TobyRoseman commented on #372
I have **not** checked all of the wheels for `4.0b2` but I'm seeing the same issue for other combinations for macOS/Python-Version: 10.14/2.7, 10.14/3.5, 10.14/3.6, 10.14/3.7 and 10.14/3.8.

[2020-08-21 08:14] mushipand commented on #861
@leovinus2001 Thank you for your help!
You're right. Operating floor on int8 is strange. I should have noticed it.

As for my situation, the problem is found to be from the op `to` (coremltools/coremltools/converters/mil/frontend/torch/ops.py).
In my case, `lin(inputs)==5` but the number deciding dtype is not from inputs[2] but inputs[1].
I suppose that because inputs[2] == False, dtype was set to

[2020-08-21 10:33] Vozf opened #863 "useCpuOnly changes the output result"
## 🐞Describe the bug
If while loading the model I use useCpuOnly=True than I get the correct result when predicting the model. If I use the usecpuOnly=False then the prediction changes and outputs an incorrect result

## To Reproduce
incorrect result
[code]
correct result
[code]
For comparison I use this(segmentation binary mask, a version of UNet, predictions from 0 to 255)
[code]
cpuOnly=False
`

[2020-08-21 18:54] Roulbac opened #864 "PyTorch expand receiving 3 inputs while expecting 2"
## 🐞Describe the bug
Error converting the expand operation from pytorch to coreML

## Trace
[code]

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]

## System environment (please complete the following information):
 - coremltools version : 4.0b2
 - OS (e.g., MacOS, Linux): Ubuntu 18
 - How you install python (anaconda, virtualenv, system): conda

[2020-08-21 20:14] Roulbac opened #865 "Specify output tensor names for PyTorch converted model"
## ❓Question

Hi,
I am exporting a model from PyTorch with multiple output tensors, but those tensors in the exported model have numerical meaningless names.
Any chance I can specify the output names just like it is done with the input name?

[2020-08-21 21:49] TobyRoseman opened #866 "Setup.py missing "typing" dependency for Python 2.7"
## 🐞Describe the bug
I can not import coremltools in Python 2.7.

`typing` did not become a Python standard library until Python 3.5

## Trace
[code]

## System environment (please complete the following information):
 - coremltools version: 4.0b3
 - OS: 10.15
 - How you install python: anaconda
 - python version: 2.7
## Additional context
After doing a `pip install typing` everything seems to be

[2020-08-24 00:55] JacopoMangiavacchi opened #870 "IndexError out of bounds in _convert_resize while converting Resize Node from ONNX"
I've been working on export a CNN/GAN PyTorch model and since it was failing converting directly from PyTorch I gave it a try converting first via intermediary ONNX export and I got this error in the conversion from ONNX to CoreML.

The PyTorch model plus code to export directly from PyTorch or via ONNX is available at: https://github.com/JacopoMangiavacchi/CartoonizeModel

The issues on importing

[2020-08-24 08:06] ppongsakorn opened #871 "Convert SSD MobileNetV2 (tf1.5) to coremodel"
## ❓Question

## System Information
- the model build from TF 1.xx
- SSD MobileNet V.2

Is possible to convert SSD MobileNet V.2 to coremodel ?

Thank you.

[2020-08-24 14:45] borhenryk opened #872 "ValueError: '' is not in list - converter tensorflow coremltools==4.0b3"
## 🐞Describe the bug
- When converting .h5 model tensorflow model (see attached model) I get the following Value Error.
- Converter issue for tensorflow keras
[model.zip](https://github.com/apple/coremltools/files/5118548/model.zip)

## System environment:
 - coremltools==4.0b3
 - OS: Linux and Windows
 - How you install python: anaconda
 - python version: 3.6.10
 - TensorFlow version 2.3.0
 - Ker

[2020-08-24 15:04] GodsonDsilva opened #873 "TypeError: 'Var' object does not support indexing"
Getting this  error when trying to convert to coreml using the TensorFlow frozen graph

code snippet
import coremltools as ct

[code]

## System Information
- Tensorflow version: 1.15.2
- coremltools version : coremltools 4.0b3

[code]

[2020-08-24 19:26] Vozf commented on #865
https://cutecoder.org/programming/core-ml-image-output/

[2020-08-24 23:13] infinityp913 opened #874 "ERROR: No matching distribution found for coremltools==2.1"
## 🐞Describe the bug
Attempt to install older versions of coremltools (i.e., besides coremltools==4.*) returns the error in the title.
There seems to be no instance of older versions of coremltools.

I need an older version for a caffe to onnx conversion. In the latest version some support of converter functionality seems to be broken.

## To Reproduce

In a terminal with python 3.8, run pip insta

[2020-08-24 23:19] 1duo commented on #874
Hi @infinityp913, thanks for reporting this issue!

However, Python 3.8 was released on October 14th, 2019 (https://docs.python.org/3/whatsnew/3.8.html) and `coremltools==2.1` was earlier than that (https://pypi.org/project/coremltools/2.1.0/). Python 3.8 support was added in `coremltools` 4.0+. Do you mind swithcing to older version of Python for using `coremltools==2.1`? Thanks.

[2020-08-24 23:21] 1duo commented on #871
Hi @ppongsakorn, thanks for the questions. You should be able to convert this model using `coremltools`. But since there're many different variations of implementations, you might hit issues. Feel free to open another issue if you need any help. Thanks!

[2020-08-24 23:21] #871 closed

[2020-08-24 23:22] infinityp913 commented on #874
Hi @1duo, thanks for the quick response!
I don't necessarily need `coremltools==2.1` but `coremltools==3.4` also returns the same error. What version do I switch to for version 3.4?
Thanks!

[2020-08-25 00:43] 1duo commented on #874
That's expected. Python 3.8 support added on `coremltools==4.0+`. If you'd like to use Python 3.8, you'll need to `pip install coremltools==4.0b3` (or newer).

[2020-08-25 04:44] likedan commented on #739
Same issue. Update?

[2020-08-25 04:46] likedan commented on #751
same issue. Fix?

[2020-08-25 17:15] 1duo commented on #874
You could use Python 3.7 or older versions for `coremltools` < 4.0

[2020-08-25 17:15] #874 closed

[2020-08-25 17:16] #866 closed

[2020-08-26 02:46] apivovarov opened #877 "Can not use -1 for batch in shape"
## 🐞Describe the bug
When I used version 4.0b2 I was able to use -1 for batch in shape.
Now with version 4.0b3 it shows me error - `Dimension cannot be None of -1. Use ct.RangeDim for runtime determined dimension. Dim 0: -1 See https://coremltools.readme.io/docs/flexible-inputs`

## Trace
[code]

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]
- I

[2020-08-26 03:57] infinityp913 opened #878 "Missing libcaffeconverter from coremltools"
## 🐞Describe the bug

I'm trying to use coremltools for  conversion script which requires libcaffeconverter but it's not there in the latest releases of coremltools or coremltools==2.1 or coremltools==3.4

## System environment (please complete the following information):
 - coremltools version: 4.0b3, 2.1, 3.4
 - OS (e.g., MacOS, Linux): Ubuntu
 - How you install python (anaconda, virtualenv, sys

[2020-08-26 11:35] fantasyRqg opened #879 "How to print model layers shape"
## ❓Question
How to print model layers shape

Use `neural_network.NeuralNetworkBuilder` built a model spec.
when use spec new `MLModel` produce an error:
"compiler error:  Espresso exception: "Invalid blob shape": generic_elementwise_kernel: cannot broadcast [1, 14280, 2, 1, 1] and [14280, 2, 1, 1, 1]".

print spec just some layer connection. no shap info.

I'm using coremltools build a model deco

[2020-08-26 13:53] leovinus2001 commented on #755
For the first part, I think that is fixed  as #810 was added a while back. That solves the message

For the second part, converting a PyTorch LSTM with num_layers=2, that is still an issue in PyTorch 1.6 and coremltools v4.0b3 and a fix would be appreciated.

[2020-08-26 16:08] #878 closed

[2020-08-26 17:35] Roulbac commented on #863
I have encountered the same bug

[2020-08-26 19:34] leovinus2001 opened #880 "PyTorch to CoreML via convert() in v4.0b3 has several bugs with Flexible Input Shapes, seqLen and nFeatures swapped?"
Objective:

Advise the coremltools converter that the sequence length of the input is variable size.
Useful in the context of LSTM, Transformers and other setups.

Reproducible:

Yes, all issues are reproduced in the test case, annotated and explained below, and in the logfile.

Summary:

BUG 1, General, the mlmodel spec shows that we have a duplicated shape (1,4,5) in the .mlmodel  with  ct.Enume

[2020-08-26 19:41] leovinus2001 commented on #877
Have you tried something like ct.Shape(shape=(ct.RangeDim(1, 32),224,224,3))  ?
Per examples in https://coremltools.readme.io/docs/flexible-inputs
In any case, the documentation might need an update if '-'1 is retired in favor of RangeDim()

[2020-08-26 19:46] leovinus2001 commented on #879
Not sure whether it helps but have you tried logging like in #818 to gain further insights ?

[2020-08-26 19:47] apivovarov commented on #877
Yes, RangeDim works. But I need the batch to be -1. And it worked in 4.0b2.

[2020-08-26 20:36] altab-ch commented on #872
I get exactly the same bug.

**Environment:**

OS : Docker tensorflow:nightly-jupyter
Python : 3.6.9
Tensorflow:  2.3.0
Keras : 2.4.3
coremltools : 4.0b3
Model : Sequential - LSTM

**Code**

`model.fit(X_train, y_train, epochs=epochs, batch_size=batch_size, verbose=verbose)`
`mlmodel = coremltools.convert(model, source="auto")`

[2020-08-26 23:52] WestyHopkins commented on #844
I’m also having this issue!

[2020-08-27 01:23] apivovarov commented on #877
Should I use `None` instead of `-1` now? None seems to be working.
[code]

[2020-08-27 07:17] hosituanit commented on #844
I also have it too.

[2020-08-27 08:19] hosituanit commented on #849
Anyone solve this issue? Pls :(

[2020-08-27 11:40] kevin-agrology commented on #849
I had this issue, but here's what's worked for me:

[code]

[2020-08-27 12:04] fantasyRqg commented on #879
use `CoreML::Model` load spec with some layer unsupport modification. I can print output blobs shape.

all seems OK .

when use  Apple `MLModel::compileModelAtURL` still produce error
error: `Error compiling model: "compiler error:  Espresso exception: "Invalid state": generic_split_kernel: Number of top blobs in split kernel does not evenly divide width axis."`

error message is so vague. And no

[2020-08-27 12:21] fantasyRqg commented on #879
`builder.inspect_layers` message here.   **asking for help**
[code]

[2020-08-27 14:53] nicoFhahn commented on #872
having the same issue

[2020-08-27 15:41] pad90 commented on #844
same issue here

[2020-08-27 17:01] dhrebeniuk commented on #844
This issue stops me from implementing a great idea.

[2020-08-27 19:59] nikitaame commented on #844
Can anyone from Apple speak to when this could be investigated in order to support Keras' `Functional` feature?

[2020-08-27 20:14] aseemw commented on #844
Since this is using TF 2.x can you try using the [Unified Conversion API ](https://coremltools.readme.io/docs/unified-conversion-api), `ct.convert`,
instead of the [multi-backend Keras converter ](https://coremltools.readme.io/docs/kerasio-conversion), `ct.converters.keras.convert`.

That is,
[code]

[2020-08-27 21:22] dhrebeniuk commented on #844
Thanks, that's help in my case

[2020-08-27 21:47] leovinus2001 opened #882 "PyTorch to CoreML _MLModelProxy Error compiling model: "The file couldn’t be saved.". See this? Any solution?"
I have this funny issue that sometimes when calling convert() to go from PyTorch to CoreML model, I get a warning

Library/Python/3.7/lib/python/site-packages/coremltools/models/model.py:119: RuntimeWarning: You will not be able to run predict() on this Core ML model. Underlying exception message was: Error compiling model: "The file couldn’t be saved.".

convert() DOES return a model but when you

[2020-08-27 22:15] aseemw commented on #882
Are you on Big Sur seed?

[2020-08-27 22:18] aseemw commented on #882
Not sure, need to investigate. I have seen this issue as well on Mac OS < macOS Big Sur seed,  intermittently

[2020-08-27 22:30] leovinus2001 commented on #882
No, I am on Catalina. 10.15.6 ? I believe. Help is appreciated. At the moment, trying a reboot as a last ditch attempt. Anyway, good to know that you have seen it as well. Let me know how I can help.

[2020-08-28 00:29] nikitaame commented on #844
Thanks for the tip @aseemw. That fixed this issue but now facing another in as mentioned [here](https://github.com/apple/coremltools/issues/872) 😅. We could probably close this one out for now then since this worked for both @dhrebeniuk and me!

[2020-08-28 00:30] nikitaame commented on #872
Facing this same exact issue 😅

[2020-08-28 05:57] srikris commented on #882
@leovinus2001 I am able to reproduce the error to. This is fixed in MacOS 11. It's an old bug that surfaces up because of how we were handling temporary directories (we weren't cleaning up correctly). We are trying to find a work around for this for MacOS 10.15 and below.  It will show up if you have loaded ~1000 models. The "fix" is to reboot or log-off/log-on and resume but's really painful when

[2020-08-28 14:15] leovinus2001 commented on #882
@srikris @aseemw Thanks for info. Just to confirm, last night's reboot did fix my issue magically confirming that some kind of 'state' is involved besides the temporary filename. Based on @srikris comment, a wild guess would be a corrupted plist. Hope you find a workaround!

[2020-08-28 14:38] kezakool commented on #845
hii,

anyone here? :'(

thx

[2020-08-28 15:49] vcepeda858 commented on #872
Same issue here, any help would be appreciated it.  Thanks in advance.

[2020-08-28 15:53] pc11000 commented on #844
which coremodeltools version are you using?
I get the error:

[2020-08-28 15:55] nikitaame commented on #844
@pc11000 convert was released in 4.0.2b https://github.com/apple/coremltools/releases/

[2020-08-28 16:34] aseemw commented on #863
How much is the difference in relative terms? CPUOnly path generally uses higher precision (FP32) compared to GPU/NE which uses FP16 precision for faster inference, hence slightly more discrepancy compared to CPU is expected.

[2020-08-28 16:53] pc11000 commented on #844
ok now I get :

[2020-08-28 17:02] nikitaame commented on #844
@pc11000 please open a new bug report with the required info. This thread is specifically for the issue `TypeError: Keras layer of type <class 'tensorflow.python.keras.engine.functional.Functional'> is not supported.`

[2020-08-28 18:01] Roulbac commented on #863
Max relative difference I got was about 80%, which is big. Let me get a chance to upload the model and the exact log output.

[2020-08-28 18:05] Vozf commented on #863
As I've mentioned the output is 0-255 and max change is 60 which is ~ 25%

[2020-08-28 19:43] pc11000 opened #885 "TypeError: can't convert expression to float when converting yolo.h5"
## 🐞Describe the bug
When trying to convert a yolo.h5 model I get the error:

Model: [Yolo Model](https://github.com/OlafenwaMoses/ImageAI/releases/download/1.0/yolo.h5)
Code: [Colab Notebook](https://colab.research.google.com/drive/1PEL2_ten0Fr9Tcem00rVNZIIJ15DOi68?usp=sharing)

## Trace
![image](https://user-images.githubusercontent.com/19648988/91609215-4965a680-e977-11ea-9c2a-7a78064ec36b.png)

[2020-08-28 22:06] apivovarov opened #886 "Typo in error message text. of->or"
## 🐞Describe the bug
typo in error message "Dimension cannot be None of -1"
it should be "Dimension cannot be None or -1"
`of` should be replaced with `or`

## Trace
code line https://github.com/apple/coremltools/blob/master/coremltools/converters/mil/input_types.py#L296

## To Reproduce
Try to convert TF mobilenet with shape `(-1, 224, 224,3)`

- If a python script can reproduce the error, please

[2020-08-28 22:06] apivovarov commented on #877
related https://github.com/apple/coremltools/issues/886

[2020-08-28 22:06] apivovarov commented on #886
Related PR #858

[2020-08-28 23:14] 1duo commented on #813
Try out `coremltools==4.0+`, this op is supported. Here are some examples: https://coremltools.readme.io/docs/tensorflow-1

[2020-08-28 23:14] #813 closed

[2020-08-28 23:15] jakesabathia2 commented on #877
@apivovarov The API for the coremltools 4.0b3 is changed,
now you need to use `ct.RangeDim()` instead if `-1`.
Let us know if this doesn't; solve your problem.

[2020-08-28 23:16] jakesabathia2 commented on #886
@apivovarov  The API for the coremltools 4.0b3 is changed,
now you need to use ct.RangeDim() instead if -1.
Please reopen the issue if this doesn't solve your issue.

[2020-08-28 23:18] daiwei89 commented on #845
Hi @kezakool , we don't really support TF 1.12 which is too old. We only support TF 1.14+: https://coremltools.readme.io/docs/what-are-coreml-tools

Can you try upgrading to TF 1.14?

David

[2020-08-28 23:18] 1duo commented on #751
Are you facing the JIT pass issue? PyTorch 1.6 has been supported since `coremltools==4.0b3`, can you give it another try?

[2020-08-28 23:19] 1duo commented on #751
PyTorch 1.6 has been supported in `coremltools==4.0b3`.

[2020-08-28 23:19] #751 closed

[2020-08-28 23:19] bhushan23 commented on #800
@yaboli Loop has `condition` and `body` network within layer (see proto message: https://github.com/apple/coremltools/blob/master/mlmodel/format/NeuralNetwork.proto#L780)

You can get loop layer and query `body` and `condition` network as below

[code]

[2020-08-28 23:20] bhushan23 commented on #800
Feel free to open the issue if above approach does not work for you.

[2020-08-28 23:20] #800 closed

[2020-08-28 23:20] 1duo commented on #673
Hi @ghop02, this issue should be fixed in the latest beta release. Feel free to re-open if you still see errors. Thanks!

[2020-08-28 23:20] #673 closed

[2020-08-28 23:21] jakesabathia2 commented on #849
@totorocyx  have you tried the new API? 4.0b3

[2020-08-28 23:23] 1duo commented on #708
Do you mind switch to `tf.keras` instead? `coremltools` has better support for `tf.keras` instead of multi-backend Keras.

[2020-08-28 23:23] 1duo commented on #707
Do you mind switch to `tf.keras` instead? `coremltools` has better support for `tf.keras` instead of multi-backend Keras.

[2020-08-28 23:23] 1duo commented on #709
Do you mind switch to `tf.keras` instead? `coremltools` has better support for `tf.keras` instead of multi-backend Keras.

[2020-08-28 23:24] daiwei89 commented on #847
I've created a ticket internally and we'll address this in the coming releases

[2020-08-28 23:24] 1duo commented on #681
Do you mind switch to `tf.keras` instead? `coremltools` has better support for `tf.keras` instead of multi-backend Keras.

[2020-08-28 23:26] 1duo commented on #658
Can you try with the latest `coremltools`? https://coremltools.readme.io/

[2020-08-28 23:30] daiwei89 commented on #855
Thanks for the discussion. We'll add reflection_pad2d in the coming releases.

[2020-08-28 23:31] bhushan23 commented on #789
@siva-wellnesys could you please give a try with latest 4.0b3 coremltools?

[2020-08-28 23:35] daiwei89 commented on #832
The runtime engine only support up to rank 5 at the moment. Can you check (using netron or programmatically) which layers have weights or input tensor with rank >5?  With that additional info it'd be easier to route to the right person within Apple to see if there's anything we can do in the short term.

[2020-08-28 23:36] likedan opened #887 "Pytorch convert UNet dimension negative."
## 🐞Describe the bug

Pytorch converting this UNet gets the following error.

ValueError: Dimension mismatch in concat ("input.64"): shapes [1, 128, 128, 128] vs. (1, 128, -128, -128)

## To Reproduce

The source code for the UNet:

[code]

## System environment (please complete the following information):
 - coremltools version:4.0b3
 - Pytorch: 1.6.0
 - OS: Ubuntu
 - How you install python: mini

[2020-08-29 00:55] apivovarov commented on #886
@jakesabathia2  Did you read the issue before closing it?

[2020-08-29 01:07] srikris commented on #886
@jakesabathia2 I think this may be a bug. Re-opening it for now to re-triage.

[2020-08-29 02:17] yaboli commented on #800
@bhushan23 I tried your suggestion, with a slight change, and it worked as expected:
[code]
Had to add "loop" attribute before invoking conditionNetwork or bodyNetwork, otherwise raises an error.

Thanks a lot!

[2020-08-29 02:54] fantasyRqg commented on #404
coreml 4.0b3 has same problem.

run `convertCaffe` without pybind11 everything OK

[2020-08-29 04:34] jakesabathia2 commented on #877
Nice! The doc has been updated for the new API:
https://coremltools.readme.io/docs/flexible-inputs.
Let us know if you get further question.

[2020-08-29 04:48] apivovarov commented on #877
Thank you for looking into it.
I still see couple places in the documentation which might be misleading

Case 1
[code]
Not it is not a recommendation any more. `-1` is not allowed.

Case 2
[code]
It is going to fail

[2020-08-29 07:01] fantasyRqg commented on #404
finally figure out whats going wrong.

problem cause by protobuf used in multi dynamic library
https://github.com/protocolbuffers/protobuf/issues/435

`pip uninstall protobuf`
`pip install protobuf==3.3.0`
will fix this problem. protobuf version is coremltools current using

[2020-08-29 15:45] leovinus2001 commented on #887
For reference, fun with PyTorch conversions and negative dimension -128, -128 has been seen in previous issues such as  #751 (A Unet as well), #739 (BASNet) and #861 (via int8 and .floor() )

[2020-08-29 21:43] #886 closed

[2020-08-30 00:11] lunixbochs opened #889 "More prominent link to MIL ops list"
It would be great to have a clear link from the MIL page to the ops list. When I wanted to get started with the MIL builder, it took me a bit to find the ops.

https://coremltools.readme.io/docs/model-intermediate-language
should link to
https://coremltools.readme.io/reference/convertersmilops

Thanks!

[2020-08-30 00:18] lunixbochs opened #890 "Using RangeDim in TensorSpec shape"
It would be nice to use a RangeDim directly in the mb.TensorSpec() here instead of the symbol indirection:

[code]

Context:

I'm trying to write a converter for a model type with flexible input dimensions, because the automatic conversion doesn't work and it's not worth me fixing it (I'm already generating the Pytorch model from _yet another_ framework, flashlight/wav2letter, so I'd rather genera

[2020-08-30 01:07] lunixbochs opened #891 "Having trouble doing SAME convolution with flexible input shape"
I've been trying to make a model work that has both SAME padding convolution and flexible input shape.

Here's a repro based on the MIL example:

[code]

It throws this error:

[code]

If I either replace `flexible.symbol` with `3`, or change `pad_type` to `valid`, the error goes away.

The error makes sense to me, you seem to pre-calculate the SAME padding based on a fixed input size. However, I'

[2020-08-30 01:54] srikris commented on #889
Done! https://coremltools.readme.io/docs/model-intermediate-language

[2020-08-30 01:54] #889 closed

[2020-08-30 01:58] srikris commented on #877
@apivovarov I did a pass on the docs for this page. Hopefully it's more accurate now. Thanks for the feedback!

[2020-08-30 01:58] #877 closed

[2020-08-30 02:01] srikris commented on #856
@sid0913 Are you using Caffe2(https://caffe2.ai) ? or Caffe (https://caffe.berkeleyvision.org). Note that we do not support Caffe 2. I just checked the wheels from the latest release and they all have a caffeconverter.so. What version of coremltools are you using?

[2020-08-30 09:39] mushipand opened #892 "Torch var <name> not found in context"
## ❓Question
Thank you for your support.
While converting PyTorch model, I implemented reflection_pad2d like
[code]

It did work, but I hit the error ```Torch var input.2 not found in context```. Here, I show you the log.
I think converting reflection_pad2d works well but not completely.
[code]
It seems good, but then, when converting the node below
[code]
I hit the error.
I guess my ```reflection

[2020-08-30 10:24] mushipand commented on #892
Actually, omitting ```node.name``` from ```context.add``` changed the situation.
Though ```Converting Frontend ==> MIL Ops```  and ```Running MIL optimization passes``` have completed, ```ValueError : Layer with name "input.2" has already been added. Please use a unique name.``` arises while ```Translating MIL ==> MLModel Ops```

[2020-08-30 13:28] mushipand opened #893 "python dictionary unsupported?"
## 🌱 Describe your Feature Request
Hi. Thank you for your support.
I now try to convert pytorch model some of whose inputs are gained by ```_dictionary_.values()```, and I hit the error ```RuntimeError: PyTorch convert function for op 'values' not implemented.```

What I use now is as below.
- coremltols==4.0b3
- iOS==14

I'm insterested in contributing:)

## Use cases
- Please describe the use ca

[2020-08-30 18:37] leovinus2001 commented on #824
ping

[2020-08-30 18:39] srikris commented on #824
@leovinus2001 Marked as a P1. We will take a look at this before we promote 4.0 out of beta. Thanks for your patience.

[2020-08-30 19:21] lunixbochs commented on #890
Note: it looks like this _generally_ works, but also SAME convolution breaks when I do this - it seems SAME expects to know the input dimensions at compile time #891

[2020-08-31 11:32] Vozf opened #894 "onnx converter. image_input_names"
Pls add an exception when string is passed as image_input_names.
Now there is no errors in that case and sting is treated as list and the converted model doesn't work during prediction/
`image_input_names='input_1',` == `image_input_names=['i','n','p','u','t','_','1'],`
There should be either an exception or string should be treated as string, not as list

[2020-08-31 15:39] Mstronach commented on #795
I've filed an internal bug report for this, so that we are able to address this issue.

[2020-08-31 15:59] Mstronach commented on #791
Hi, I have created a ticket for this so that we will be able to track and resolve this issue in the coming releases. Please feel free to add any other details related to this issue in the mean time.

[2020-09-01 01:17] josh opened #898 "Internal prediction _debug outputs triggering conversion crash"
## 🐞Describe the bug

I ran into this issue trying to using a `KNearestNeighborsClassifierBuilder` layer and running `predict` on the model. I did some debugging and it appears to be related to some internal `_debugNearestDistances` outputs being returned by the model. I'm not sure if these are temporary to the beta or what their long term intent is.

## To Reproduce

Here's a minimal example that

[2020-09-01 15:21] kezakool commented on #845
Hi @daiwei89,

thx for your answer! :) i did a try with tf1.14,

conversion log :
Running TensorFlow Graph Passes: 100%|██████████| 6/6 [00:03<00:00,  1.62 passes/s]
Converting Frontend ==> MIL Ops: 100%|██████████| 136/136 [00:00<00:00, 2046.54 ops/s]
Running MIL optimization passes: 100%|██████████| 14/14 [00:00<00:00, 132.67 passes/s]
Translating MIL ==> MLModel Ops: 100%|██████████| 261/261 [0

[2020-09-01 15:57] nikitaame commented on #872
Think we can expect a fix for this in 4.04b perhaps!? 😅

[2020-09-01 16:45] borhenryk commented on #872
@nikitaame hope so

[2020-09-02 00:33] apivovarov commented on #860
@srikris  Can you add `packaging` module dependency to `setup.py`?
`packaging` module is used in https://github.com/apple/coremltools/blob/94737631ebef98fddd9351057bfc4f2f8f626349/coremltools/_deps/__init__.py#L15

[2020-09-02 00:42] 1duo commented on #860
Will make sure to include this in next release, thanks!

[2020-09-02 07:36] mushipand commented on #775
Any update on this?

[2020-09-02 08:50] mushipand opened #899 "Implemented constant_pad_nd but failed"
## ❓Question
Hello!
While converting PyTorch model, I implemented 'constant_pad_nd' but I hit ```Input 'val' of op 'outputs1.1' (const) must be const at compile time.```
What is happening?

[code]

Actually, I do not fully understand ```immediate_value``` and ```file_value```, so could you please give me more information about that?

This time, I wanted to make the counterpart for  ```F.pad(input_

[2020-09-02 14:52] j-paulus opened #900 "Conversion of a pytorch with slicing creates op 'to[]' with 8 arguments and such is not defined in ops.py"
## 🐞Describe the bug
Conversion of a pytorch model that uses indexing with a torch.tensor produces an intermediate graph with an operator to[] having 8 arguments. The pytorch operator definitions support only up to 6 arguments.

In the example code below, the indexing tensor is defined in forward(), but in the real model it is a member variable of the model class defined in the constructor dependi

[2020-09-02 15:22] nikitaame commented on #872
@1duo or someone from Apple, could you speak to whether or not this will be worked on for the next release?

[2020-09-02 17:14] leovinus2001 commented on #900
FYI I have seen a similar issue with to() having an None argument as final arg and then bailing out as it was one more arg then what was expected. I built a composite operator to() which did the trick. A bit more robustness for to() would be great indeed.

[2020-09-03 06:56] j-paulus commented on #900
The unsupported argument list is created by `TorchConverter._expand_and_optimize_ir()` from the provided torchscript representation. More specifically, by the call to `_torch._C._jit_pass_lower_graph()` on line 250 of converter.py.

There, the arguments are given as `tmp_indices0 = torch.to(tmp_indices, dtype=4, layout=0, device=torch.device("cpu"), pin_memory=False, non_blocking=False, copy=False

[2020-09-03 09:23] j-paulus opened #904 "In Pytorch conversion ConvTransposed with a weight matrix ndims!=4 not working"
## 🐞Describe the bug

Converting a Pytorch model with ConvTransposed1D with a weight matrix having 3 dimensions fails. This is caused by the limited support for transposed convolution in `_convolution()` in ` converters/mil/frontend/torch/ops.py`. Some of the code appears to support weight matrix dimension of 3-5, but the if-block handling the transposed convolution assumes always 4 dimensional we

[2020-09-03 11:30] Vozf opened #905 "image_scale as 3 element tuple"
## 🌱 Describe your Feature Request
Currently image_scale is a single float number.
There is a need to provide image_scale for each channel independently.
For example imagenet normalization normalizes each channel independently and now it cannot be done using coremlconverter

## Use cases
Imagenet normalization
Pytorch - default normalization `transforms.Normalize(mean = (0.485, 0.456, 0.406), std

[2020-09-03 11:45] Vozf opened #906 "Image output and Image deprocessing scaler for pth converter"
## 🌱 Describe your Feature Request
There is an image output option possible for onnx
There is also an image deprocessing option for onnx converter but there is no such option for pth converter
## Use cases
Segmentations

## Describe alternatives you've considered
Manually create a layer which multiplies by 255 for deprocessing
Function to convert multiarray to image output
[code]

## Additional co

[2020-09-03 14:34] j-paulus commented on #900
Fix pull request: #903

[2020-09-04 14:54] GodsonDsilva commented on #372
I am facing the same issue with coremltools 4.0b3, even with Python 3.7 ... I am having MacOS 10.14.7.

[2020-09-07 02:33] glenn-jocher opened #912 "exception loading model proxy: Python version mismatch: module was compiled for version 3.7, while the interpreter is running version 3.8."
## ❓Question
Python 3.8 compatability timeline?

## System Information
Hi, when I try to make a prediction in a Python 3.8 environment with coremltools 4.03b I get this error message. Is there a timeline for Python 3.8 compatability? Thanks!

Input:
[code]

Output:
[code]

[2020-09-07 03:06] glenn-jocher commented on #912
Also some additional information, if I use python 3.7 with coremltools 4.03b, I receive a different error message on converting a torchscript YOLOv5 model:

[code]

[2020-09-08 10:58] vidursatija commented on #899
Hi,
I don't know what the problem is but I implemented `constant_pad_nd` as follows:

[code]

This has worked for me for multi rank tensors with constant 0 padding.

[2020-09-08 11:36] zdl51go opened #913 "got a nil model after updateTask.resume when try KNearestNeighborsClassifier"
## ❓Question
I've create a mlmodel guide by document on [https://coremltools.readme.io/docs/updatable-nearest-neighbor-classifier.](https://coremltools.readme.io/docs/updatable-nearest-neighbor-classifier).
Input:  MutiArray (Float32 4)
Output: String

When i try updateTask.resume() , I got a nil model from updateContext without any error.

## System Information
- XCode Version 12.0 beta 3 (12A816

[2020-09-08 12:20] j-paulus opened #914 "Torch model with a dynamic reshape converted wrong"
## 🐞Describe the bug

Converting a pytorch model containing a single `reshape()` results into an intermediate model with a wrong behaviour. Depending on what the arguments to `reshape()` are, the failure is different:

1. Leaving a dimension free:
[code]
The conversion creates a `rankPreservingReshape` from this with a fixed size in the first dimension (the one which we define explicitly) and a fr

[2020-09-08 13:21] xtxt commented on #775
I have the same problem.

[2020-09-08 13:46] NivedithaRabakavi commented on #429
Hello..
I am facing a similar issue with python 3.7  and a model trained with sklearn 0.23.
Here is the coremltools version used:
coremltools               3.4

[2020-09-08 16:23] DokhyamLT opened #915 "Crop layer added to deconvolution layer"
Hi,
I found that there were significant differences between the output of my model from onnx and the one transformed to coreml using coremltools. I'm using coremltools version=3.4. I found that these error were due to the fact that for each deconvolution layer was added a crop layer and not immediately following the deconvolution but after the instance normalization layer that succeeded it. This c

[2020-09-09 00:14] apivovarov opened #917 "Pytorch .pth files can not be converted"
## 🐞Describe the bug
A common PyTorch convention is to save models using either a .pt or .pth file extension.
I have .pt model file which can be successfully converted. If I change its extension to .pth then I get the following error

## Trace
[code]
## To Reproduce

[code]
The example works fine if `.pth` is changed to `.pt`

## System environment (please complete the following information):
 - c

[2020-09-09 01:04] nikitaame commented on #872
@1duo or someone from Apple, could you speak to whether or not this will be worked on for the next release?

[2020-09-09 08:22] zubairbaqai commented on #864
i am also getting same error
ValueError: node 636 (expand) got 3 input(s), expected 2

any luck on the fix ?

[2020-09-09 12:23] mushipand commented on #899
Hi,
It worked for my situation too! Thank you so much!

[2020-09-09 16:09] aseemw commented on #899
@mushipand , you got that error because in this line the `val` attribute does not point to a constant value. It should always hold value that is constant at the compile time.
[code]
As for the immediate value vs file value, its a contract in the MIL format, how the constant values are stored. Both of them should work and they are not the source of the error you observed.

[2020-09-09 16:09] #899 closed

[2020-09-09 17:05] #804 closed

[2020-09-09 20:13] DawerG commented on #914
@j-paulus Can you try scripting instead of tracing the pytorch model before running the conversion?

[2020-09-10 07:26] j-paulus commented on #914
@DawerG Sure. Though in the real model I'm converting this is currently not an option since there is a problem with scripting and BatchNorm layers due to modifying member attributes in `forward`: [pytorch:43948](https://github.com/pytorch/pytorch/issues/43948).

I made tests with tracing and scripting, using pytorch versions 1.5.1, 1.6, and 1.7-dev20200909. The only combinations working at all are

[2020-09-10 09:37] neermesh commented on #844
same issue here

[2020-09-10 11:39] vidursatija opened #918 "PyTorch copy_ operation"
## 🌱 Describe your Feature Request
- A clear and concise description of what the problem is.
Lack of copy_ operation conversion from PyTorch to CoreML
- CoreML / iOS version you are using?
4.0b3
- Are you interested in contributing?
Yes

## Use cases
- Please describe the use cases
Copying tensors for general machine learning use cases
- Please provide examples
[code]
OR
[code]

## Describe altern

[2020-09-11 07:59] mushipand commented on #899
@aseemw ,thank you for your support!
Maybe I misunderstood the meaning 'constant'. Input values changes all the time, so that is never constant. Am I right?

[2020-09-11 12:50] vidursatija commented on #918
Does that solution work? I can send a pull request.

[2020-09-11 14:56] jaredaevans opened #920 "Kernel crashes unless onnx is first imported"
## 🐞Describe the bug
My jupyter notebook kernel crashes on importing coremltools.  For some reason, I can bypass this by first importing onnx.  This crash is followed a few minutes later by a system "python quit unexpectedly" alert.

## Trace
Notebook warnings:
[code]
Terminal output during crash:
[code]

## To Reproduce
[code]

## To avoid
[code]

## System environment (please complete the follow

[2020-09-11 15:20] aseemw commented on #899
`mb.const` is used to insert a constant tensor in the graph, like you are correctly using it here:
[code]

[2020-09-11 15:56] aseemw commented on #795
@BroderickHigby  can you also the source code of the torch model. Without having access to that, the bug cannot be reproduced and tackled

[2020-09-11 17:56] under-control opened #921 "Deeplab v3+ after conversion fails on swift with relu6, batch_norm and transpose connections"
Conversion runs smooth, without warnings or errors, but then when trying to load model in Swift we're getting errors in adding different layers:

##

[code]

Here are models before `.h5` and after conversion `.mlmodel`:
https://drive.google.com/drive/folders/18bVe47SpwgKKpqyI9siu0Rxj344qnRtM?usp=sharing

Here's code for conversion
[code]

## System environment
First (above models are from this set

[2020-09-11 17:59] under-control commented on #699
great question, I think also others would like to see code used to conversion mobilenet_v2_deeplab_v3 from tf to coreml

[2020-09-12 11:43] y-ich commented on #530
I had solved this issue in my case.

In another model, I had an exprerience that a model which has a lot of constants in the head part of mlmodel slowed down on iOS 13. If the model has these constants near related operations, not in the head part, the model keep fast.
In order to reduce the constants, I replaced add + constant with biasAdd. It works.
I applied this method to https://github.com/ap

[2020-09-12 11:44] mushipand commented on #899
I see. Thank you so much!

[2020-09-12 11:48] y-ich commented on #360
I had determined that global poolings slow down Conv2Ds around them.
I guess that Neural Engine has no ability to calculate global pooling and heavy memory transfer is needed between CPU and Neural Engine.
I hope that iOS 14 or next generation Neural Engine will solve this issue.

[2020-09-12 12:48] Abonnen commented on #773
I got the same error.
- error traceback
[code]

I found `libcaffeconverter.so`  under `coremltools` directory, but it cannot be imported.

- system environment
[code]

[2020-09-13 09:02] kazukiotsuka commented on #755
@leovinus2001
I met with the same problem (first part). #810 doesn't seem to solve it.
[code]

the layers are
[code]

[2020-09-13 15:16] leovinus2001 commented on #755
@kazukiotsuka  Do you have a testcase that you can share? Also, what is the version of coremltools or checkout?

[2020-09-14 00:11] kazukiotsuka commented on #755
@leovinus2001 Thanks for your reply. Here, I'll share the notebook at first. It shows the model's graph and the conversion result. Is that enough information?
[coreml_conversion.pdf](https://github.com/apple/coremltools/files/5215403/coreml_conversion.pdf)

`coremltools==4.0b3`

[2020-09-14 08:22] kezakool commented on #845
hi,

any idea on this issue? @1duo @daiwei89

thx

[2020-09-14 09:33] zdl51go commented on #913
Resolved,
Got a 4 dimension MLMultiArray but not a 4 vector MLMultiArray.

[2020-09-14 09:33] #913 closed

[2020-09-14 14:54] leovinus2001 commented on #755
Well, I was more thinking that maybe you can have a look at the testcase at #810 https://github.com/apple/coremltools/files/4967763/testLstmTwoLayer.txt
and ask the question "what is different in your case such that your test fails but that test in #810 is fine?".
I'll have a look at your Notebook. Maybe you can have a look at the testcase and find a small change to make it fail?

[2020-09-14 19:36] form-follows-function opened #923 "Calling `coremltools.models` causes an AttributeError"
## 🐞Describe the bug
Calling `coremltools.models` causes an AttributeError.

## Trace
`AttributeError: partially initialized module 'coremltools' has no attribute 'models' (most likely due to a circular import)`

## To Reproduce

This is pretty much taken from the documentation section _Quickstart → Save and Load Models_
[code]
Model: [https://docs-assets.developer.apple.com/coreml/models/MobileNe

[2020-09-14 19:48] hfnvbh commented on #611
Hi all,
Is there any updates about this issue?
I met same problem, when coreml model loaded in background mode after silent notification in my ios app, I have same message "Error in declaring network."

When I inited model in foreground, or in BGProcessing mode, it's ok.

[2020-09-14 20:31] anilkatti commented on #611
I am looking for clear guidance in this scenario. I will update this tread.

[2020-09-15 00:13] kazukiotsuka commented on #755
@leovinus2001
found out the cause. When I modified not to pass the first hidden weight to the second LSTM, it stop raise the error.
[code]
It seems to be solved, though I have still no idea why the error occur when it is passed. Probably because if they use the same weight, the layer's name becomes same.

[2020-09-15 17:45] leovinus2001 commented on #755
Well, the conversion of explicit (h0,c0) input to LSTMs has historically been very 'fragile' in coremltools Python to ONNX/CoreML. See example issues at #824 and #776. I can have a look whether I can reproduce the issue locally based on the quoted  testCase above. However, you can help if you have a a bit of time and change that test case to add (h0,c0) such that your issue is reproduced. Based on

[2020-09-15 18:41] teaglin opened #926 "Custom layer works in iOS 13 but not 14"
## 🐞Describe the bug
I have an existing model with a custom layer converted from Keras. It's been working fantastic in iOS 13, but fails to work on iOS 14.

Works: iOS 13 – Xcode Version 11.7 (11E801a)
Fails: iOS 14 – Xcode Version 12.0 beta 6 (12A8189n)

On iOS 14 the model crashes upon loading. Oddly all the income dimension sizes for the custom layer are 0. But the model works great in iOS13.

[2020-09-15 18:45] aseemw commented on #926
Hi @teaglin, to confirm "Xcode 12 beta 6 + iOS 13" works but "Xcode 12 beta + iOS14" does not (with the same model)?
Can you please share your app to reproduce this issue, either here or via filing a bug report at https://github.com/apple/coremltools/issues/926

[2020-09-15 19:04] teaglin commented on #926
@aseemw I updated my report. Included:

Works: iOS 13 – Xcode Version 11.7 (11E801a)
Fails: iOS 14 – Xcode Version 12.0 beta 6 (12A8189n)

I haven't tried iOS 13 with Xcode Version 12.0 beta 6 (12A8189n)

Unfortunately, I can't share the app. Is there any other means for you to reproduce?

[2020-09-15 19:51] aseemw commented on #926
There is a known issue with Xcode 12 and custom layer which is being fixed and will be available in an upcoming beta. Although that one should not cause the error you are seeing `Failed in 2nd reshape after missing custom layer info.`.
Can you share a toy app, or just the mlmodel that gives this error (or a variant of your actual model that has the same error), via a bug report, then we can verify

[2020-09-15 21:15] Tengoles commented on #885
Nothing? I have the exact same problem.

[2020-09-15 21:17] teaglin commented on #926
Can you link any details on the issue? I'm curious. I think the issue stems from inputShapes in the function below always containing Zeros.

`func outputShapes(forInputShapes inputShapes: [[NSNumber]])`

I'll try and prepare something basic and upload tomorrow.

[2020-09-16 16:29] leovinus2001 commented on #926
Also looking for some extra info here such that I can keep an eye out for it.
Is the custom layer in Swift or ObjC?
Is the input shape fixed or flexible shape?
@aseemw Would the bug you refer to affect both Swift and ObjC implementations?

[2020-09-16 17:09] shiron8bit commented on #861
@mushipand Can i ask you how did you modify logging to output 'input_value' and 'which_derived_from'?

[2020-09-16 18:03] teaglin commented on #926
@leovinus2001

-Custom layer is in Swift
-Input shape is fixed

Since the inputShapes are all totally zero there is no way to compute the outputShape. Unless I manually hardcoded them. So there must be some issue interpreting the prior layer's output shape?

[2020-09-17 02:41] NewCoderQ opened #928 "Quantization: Same speed of int8, fp16 and fp32 model"
## ❓Question

## System Information
- If applicable

[2020-09-17 02:44] NewCoderQ opened #929 "Quantization: Same speed of int8, fp16 and fp32 model?"
I quantized my model with coremltools, and got smaller size models. When i run the quantized model on iphoneXR(iOS 13.7), i got the same speed of int8, fp16 and fp32 model. Is it normal?

[2020-09-17 02:44] #928 closed

[2020-09-17 02:52] NewCoderQ commented on #768
@leovinus2001 Hi, did you got the same speed of float32 and int8 model?

[2020-09-17 08:21] fantasyRqg commented on #929
quantization just reduce package size, actually weight size.   caculation still fp32

[2020-09-17 09:00] timocafe opened #930 "XCode 12 consequences on my model"
## ❓Question

During the night my Xcode has been updated, and currently I am not anymore able to initialize my model in swift.
I get the error:

 Type 'MLModel' has no member '__loadContents'

A user reports similar issue in StackOverflow: https://stackoverflow.com/questions/63917164/ml-build-error-for-catalyst-xcode-12-gm

## my workflow

Convert my own model developed/obtained using TF. Plug it

[2020-09-17 09:23] baaj2109 commented on #930
same error

[2020-09-17 10:36] y-ich opened #931 "[Question] What is "Failure in -completeOutputBackings:error:"? on iOS 14/iPadOS 14?"
## ❓Question

Hi.

Excuse me that this is not an issue for coremltools.
I post it here because I think that this may become a frequent asked question.

My published app fails to work on iPadOS 14, maybe on iOS 14, too.
The debugger shows "[coreml] Failure in -completeOutputBackings:error:"
What it means?
And what is a workaround for it?

Thanks.
(I may add detail information after I investigate th